Customization/WS2/Managed/BuildingControlProcesses/Workflows/BuildingControlApplication-CreateDraftStagedApplic-A051DED0-0557-EE11-BE6F-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Staged_Application_=_True_and_Number_of_Stages_is_greater_than_1": {
          "metadata": {
            "operationMetadataId": "a225d513-e855-4e29-b4dd-9452bee9a999"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_numberofstages",
              "subscriptionRequest/filterexpression": "bsr_stagedapplication eq true and bsr_numberofstages gt 1"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_all_related_staged_applications": {
          "runAfter": {
            "StagesCreated": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "779fa98b-2c1a-4cf7-96d7-98f10c9a0ce7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_stagedapplications",
              "$select": "bsr_stagedapplicationid",
              "$filter": "_bsr_relatedbuildingcontrolapp_value eq @{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "StagesCreated": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5da88063-3fce-4fa6-a6e8-17c138992abe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StagesCreated",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Do_until": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f677158f-851f-4a0a-b975-cc1cd155b166"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_stagedapplications",
                  "item/bsr_relatedbuildingcontrolapp@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                  "item/bsr_stagedappstatus": 760810000,
                  "item/bsr_name": "@{triggerOutputs()?['body/bsr_name']} - Staged Application @{add(variables('StagesCreated'), 1)}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Increment_variable": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7e34062-4b43-48d1-be58-291cd6fdd134"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "StagesCreated",
                "value": 1
              }
            }
          },
          "runAfter": {
            "Delete_all_related_staged_app_records_(in_case_user_is_re-entering_data)": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('StagesCreated'), triggerOutputs()?['body/bsr_numberofstages'])",
          "limit": {
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "35d47088-27e5-4e62-a708-3c63c8bb443b"
          },
          "type": "Until"
        },
        "Delete_all_related_staged_app_records_(in_case_user_is_re-entering_data)": {
          "foreach": "@outputs('Get_all_related_staged_applications')?['body/value']",
          "actions": {
            "Delete_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3a2c047d-c790-46f5-b1a8-8c434f40b274"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "DeleteRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_stagedapplications",
                  "recordId": "@items('Delete_all_related_staged_app_records_(in_case_user_is_re-entering_data)')?['bsr_stagedapplicationid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_all_related_staged_applications": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2c7c7ead-82a6-4dcf-8409-ae564a42d6c2"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}