Customization/WS2/Managed/BuildingControlProcesses/Workflows/DEPRECATEDTURNOFFChangeControl-SetMandatoryTimelin-D11E0B19-E77F-EE11-8179-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "a51026fc-0b8f-45a4-849a-828fd231e632"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_buildingcontrollifecycle",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_changecontrol",
              "subscriptionRequest/filterexpression": "bsr_changecontrol eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Related_BCA_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7cb9ff8a-be50-4c03-8487-fdd8eff4f326"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingcontrolapplications",
              "recordId": "@triggerOutputs()?['body/_bsr_bcaaapplication_value']",
              "$select": "bsr_buildingcontrolapplicationid,bsr_submissiondate"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Mandatory_Failure_Date": {
          "runAfter": {
            "Get_Related_BCA_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e99de288-5ae8-479d-ae9d-5e40de0a4d2c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "mandatoryFailureDate",
                "type": "string",
                "value": "@{addDays(outputs('Get_Related_BCA_record')?['body/bsr_submissiondate'],42)}"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Mandatory_Failure_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bf24cfd5-42c1-4e30-baef-e7d9ae91800a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingcontrollifecycles",
              "recordId": "@triggerOutputs()?['body/bsr_buildingcontrollifecycleid']",
              "item/bsr_mandatorytimelinefailuredate": "@variables('mandatoryFailureDate')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}