Customization/WS2/Managed/BuildingControlProcesses/Workflows/DVInviteContactforMDTPortal-036AE4E8-9E37-EE11-BDF4-6045BDF1EA4D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "MDT Azure ADB2C Invite URL (bsr_mdtazureadb2cinviteurl)": {
          "defaultValue": "https://ambitious-sea-096d77803.3.azurestaticapps.net/api/Invite",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_mdtazureadb2cinviteurl"
          }
        },
        "MDT Azure ADB2C Invite Secret (bsr_mdtazureadb2cinvitesecret)": {
          "defaultValue": "_tBM59sccdd7qMNTpHKvcaojns7Z-SQRdKXgXoT7XIOSAzFuhaFcJQ==",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_mdtazureadb2cinvitesecret"
          }
        },
        "BSR Common API Access Key WS2 (bsr_bsrcommonapiaccesskeyws2)": {
          "defaultValue": "GjGvQxDNUQIchYUjdyBGldEfnRIzIIOgR4MVhtYmo1JIAzFuqBfmmw==",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_bsrcommonapiaccesskeyws2"
          }
        },
        "BSR Common API URL WS2 (bsr_bsrcommonapiurlws2)": {
          "defaultValue": "https://s118-dev-bsr-acs-common-fa.azurewebsites.net/api",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_bsrcommonapiurlws2"
          }
        },
        "MDT Website URL (bsr_mdtwebsiteurl)": {
          "defaultValue": "https://ambitious-sea-096d77803.3.azurestaticapps.net/",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_mdtwebsiteurl"
          }
        },
        " MDT GovUk Notify Registration Template ID (bsr_mdtgovuknotifyregistrationtemplateid)": {
          "defaultValue": "1da875d0-f9ea-49dd-ab2a-6f73b2917308",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_mdtgovuknotifyregistrationtemplateid"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3f2d9e23-7dba-4f11-85b8-365ac198ed6b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_invitetomdtportal",
              "subscriptionRequest/filterexpression": "bsr_invitetomdtportal eq true",
              "subscriptionRequest/name": "036ae4e8-9e37-ee11-bdf4-6045bdf1ea4d"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Try_-_Invitation": {
              "actions": {
                "HTTP": {
                  "metadata": {
                    "operationMetadataId": "d4721cc8-16d9-40eb-b97b-7e7fe5b8379d"
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@parameters('MDT Azure ADB2C Invite URL (bsr_mdtazureadb2cinviteurl)')",
                    "method": "GET",
                    "queries": {
                      "email": "@triggerOutputs()?['body/emailaddress1']",
                      "displayName": "@triggerOutputs()?['body/fullname']",
                      "contactId": "@triggerOutputs()?['body/contactid']",
                      "code": "@parameters('MDT Azure ADB2C Invite Secret (bsr_mdtazureadb2cinvitesecret)')"
                    }
                  }
                },
                "Compose": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "12c3f256-fa5d-4ae0-a6e6-628545b77e67"
                  },
                  "type": "Compose",
                  "inputs": {
                    "email_address": "@{triggerOutputs()?['body/emailaddress1']}",
                    "template_id": "@{parameters(' MDT GovUk Notify Registration Template ID (bsr_mdtgovuknotifyregistrationtemplateid)')}",
                    "personalisation": {
                      "firstName": "@{triggerOutputs()?['body/firstname']}",
                      "redeemUrl": "@{body('HTTP')}",
                      "websiteUrl": "@{parameters('MDT Website URL (bsr_mdtwebsiteurl)')}"
                    }
                  }
                },
                "Update_a_row_2": {
                  "runAfter": {
                    "HTTP_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e7b88630-19b9-4733-8f55-dae65d3e18e2"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@triggerOutputs()?['body/contactid']",
                      "item/bsr_invitetomdtportal": false,
                      "item/bsr_invitedtomdtportalon": "@utcNow()",
                      "item/bsr_mdtportalaccountstatuscode": 760810002
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "HTTP_2": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "af99c8bd-119b-4449-826c-f60930c2d44e"
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{parameters('BSR Common API URL WS2 (bsr_bsrcommonapiurlws2)')}/SendNotificationEmail",
                    "method": "POST",
                    "headers": {
                      "x-functions-key": "@parameters('BSR Common API Access Key WS2 (bsr_bsrcommonapiaccesskeyws2)')"
                    },
                    "body": "@outputs('Compose')"
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "600fb1d1-b659-4a46-a7af-ba838ac2fa4c"
              },
              "type": "Scope"
            },
            "Invitation_Failed": {
              "actions": {
                "Update_a_row": {
                  "metadata": {
                    "operationMetadataId": "fccfaea8-0060-48d7-b3ca-967a51379804"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@triggerOutputs()?['body/contactid']",
                      "item/bsr_invitetomdtportal": false,
                      "item/bsr_mdtportalaccountstatuscode": 760810004
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "Try_-_Invitation": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea1f2605-7bf7-4559-91f8-fc893f2bcbf0"
              },
              "type": "Scope"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {}
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/bsr_mdtportalaccountstatuscode']",
                760810000
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "6adff387-800c-4897-b0d7-2cf733a3771f"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}