Customization/WS2/Managed/BuildingControlProcesses/Workflows/DVPopulateStatutorySewerageconsultationRequestFail-AD4F016B-4D3C-EE11-BDF4-6045BDF1EA4D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e6383e92-dbf7-433c-9749-faf8c4ce2c5d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrollifecycle",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_sewerageconsultationrequestdate",
              "subscriptionRequest/name": "ad4f016b-4d3c-ee11-bdf4-6045bdf1ea4d"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "requestDate_+_21_days": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "623b728b-bf29-409e-8daf-96588f2ffde6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sewerageReqDate_Plus_21_Days",
                "type": "string",
                "value": "@{addDays(triggerBody()['bsr_sewerageconsultationrequestdate'], 21)}"
              }
            ]
          }
        },
        "requestDate_+_21_days_(change_control)": {
          "runAfter": {
            "requestDate_+_21_days": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "623b728b-bf29-409e-8daf-96588f2ffde6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sewerageReqDate_Plus_14_Days",
                "type": "string",
                "value": "@{addDays(triggerBody()['bsr_sewerageconsultationrequestdate'], 14)}"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Set_Failure_Date_field_(change_control)": {
              "metadata": {
                "operationMetadataId": "bb1425af-ef56-421a-9688-fd2ae5ab3a01"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bsr_buildingcontrollifecycles",
                  "recordId": "@triggerOutputs()?['body/bsr_buildingcontrollifecycleid']",
                  "item/bsr_statsewerconsultfailuredate": "@variables('sewerageReqDate_Plus_14_Days')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "requestDate_+_21_days_(change_control)": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Failure_Date_field": {
                "metadata": {
                  "operationMetadataId": "bb1425af-ef56-421a-9688-fd2ae5ab3a01"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "bsr_buildingcontrollifecycles",
                    "recordId": "@triggerOutputs()?['body/bsr_buildingcontrollifecycleid']",
                    "item/bsr_statsewerconsultfailuredate": "@variables('sewerageReqDate_Plus_21_Days')"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/bsr_changecontrol']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "84485b1f-0bc9-467b-b65c-4eeedb95a20a"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}