Customization/WS2/Managed/BuildingControlProcesses/Workflows/DVSendInfoRequestEmail-C21AABFE-5D59-EE11-BE6F-6045BDD0E4CF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversionWS2"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "35b883f4-7d16-ee11-9cbe-6045bdd2c0c0",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        },
        "Building Control Website URL (bsr_buildingcontrolwebsiteurl)": {
          "defaultValue": "https://orange-sea-009c4b403.3.azurestaticapps.net/",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_buildingcontrolwebsiteurl"
          }
        },
        "BSR Common API Access Key WS2 (bsr_bsrcommonapiaccesskeyws2)": {
          "defaultValue": "GjGvQxDNUQIchYUjdyBGldEfnRIzIIOgR4MVhtYmo1JIAzFuqBfmmw==",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_bsrcommonapiaccesskeyws2"
          }
        },
        "BSR Common API URL WS2 (bsr_bsrcommonapiurlws2)": {
          "defaultValue": "https://s118-dev-bsr-acs-common-fa.azurewebsites.net/api",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_bsrcommonapiurlws2"
          }
        },
        "Register HRB Website URL (bsr_registerhrbwebsiteurl)": {
          "defaultValue": "https://icy-stone-00138e503.2.azurestaticapps.net/",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_registerhrbwebsiteurl"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "c75d9199-1375-49c8-9833-b31926fecf54"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_informationtracker",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_triggerinforequestemailflow",
              "subscriptionRequest/filterexpression": "bsr_triggerinforequestemailflow eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_Building_Control_Application_has_value": {
          "actions": {
            "Get_a_row_by_ID_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "079de586-5502-4d59-97f2-49ca9374da82"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildingcontrolapplications",
                  "recordId": "@triggerOutputs()?['body/_bsr_bcaapplicationid_value']",
                  "$select": "bsr_bcaareferencenumber"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_URL_Access_Token": {
              "actions": {
                "HTTP": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b2c6cab5-83da-4f74-846b-ecfdefb9d0ac"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('BSR Common API URL WS2 (bsr_bsrcommonapiurlws2)')}/GenerateToken",
                    "headers": {
                      "x-functions-key": "@parameters('BSR Common API Access Key WS2 (bsr_bsrcommonapiaccesskeyws2)')",
                      "Accept": "application/json"
                    },
                    "body": {
                      "TokenData": "@{outputs('Get_a_row_by_ID_2')?['body/bsr_bcaareferencenumber']}",
                      "LongDuration": true
                    }
                  }
                },
                "Compose_3": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "227fbb25-e746-4986-99a0-bfcaeb1aa439"
                  },
                  "type": "Compose",
                  "inputs": "@decodeBase64(body('HTTP')['$content'])"
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Compose_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1e76ad78-6a5d-43a1-be9c-e9c64899bbff"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Compose_3')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Token": {
                          "type": "string"
                        },
                        "TokenData": {},
                        "Expiry": {
                          "type": "string"
                        },
                        "id": {}
                      }
                    }
                  }
                },
                "UrlAccessToken": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4d34b76c-7fc0-4185-a1d9-f6867b9fa344"
                  },
                  "type": "Compose",
                  "inputs": "@body('Parse_JSON')?['Token']"
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a6a69c53-282a-4a6b-8d54-b09d57b8bdf8"
              },
              "type": "Scope"
            },
            "Catch_2": {
              "actions": {
                "Reset_Trigger_Field_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_informationtrackers",
                      "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                      "item/bsr_triggerinforequestemailflow": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Terminate_2": {
                  "runAfter": {
                    "Reset_Trigger_Field_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4a7ce2a5-6209-4662-9ede-30e2f368cf85"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed",
                    "runError": {
                      "message": "Error getting URL token"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_URL_Access_Token": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "9eb8bc9b-9e69-4c3e-9d7d-7a35cf5552a0"
              },
              "type": "Scope"
            },
            "Send_Email": {
              "actions": {
                "GetNoReplyQueue": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d02f4313-6ad4-4fe1-a529-c0a8ca00ddf4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "queues",
                      "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')",
                      "$select": "queueid,name"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "GetEmailTemplate": {
                  "runAfter": {
                    "GetNoReplyQueue": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4d514760-2735-4863-8ea6-ed558775fcd9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "templates",
                      "recordId": "@variables('BCAEmailTemplateId')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose": {
                  "runAfter": {
                    "Compose_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b4bd80ac-f103-4ed3-84e9-5802c7b99306"
                  },
                  "type": "Compose",
                  "inputs": "@replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(\r\n                                    outputs('GetEmailTemplate')?['body/safehtml'],\r\n                                    '%%bsr_buildingcontrolwebsiteurl%%',\r\n                                    string(concat('<a href=','\"',concat(parameters('Building Control Website URL (bsr_buildingcontrolwebsiteurl)'),'application/confirm-application/',outputs('Get_a_row_by_ID')?['body/bsr_bcaareferencenumber'],'?To=submit-information&infoReqNumber=',outputs('Get_a_row_by_ID')?['body/bsr_inforeqid']),'&token=',outputs('UrlAccessToken'),'\"','>',concat(parameters('Building Control Website URL (bsr_buildingcontrolwebsiteurl)'),'application/confirm-application/',outputs('Get_a_row_by_ID')?['body/bsr_bcaareferencenumber'],'?To=submit-information&infoReqNumber=',outputs('Get_a_row_by_ID')?['body/bsr_inforeqid']),'&token=',outputs('UrlAccessToken'),'</a>'))\r\n                                ),\r\n                                '%%bsr_recipient%%',\r\n                                string(outputs('Get_a_row_by_ID')?['body/_bsr_recipientid_value@OData.Community.Display.V1.FormattedValue'])\r\n                            ),\r\n                            '%%bsr_bcaareferencenumber%%',\r\n                            string(outputs('Get_a_row_by_ID')?['body/bsr_bcaareferencenumber'])\r\n                        ),\r\n                        '%%bsr_buildingdetailsname%%',\r\n                        string(outputs('Get_a_row_by_ID')?['body/bsr_buildingdetailsname'])\r\n                    ),\r\n                    '%%bsr_inforeqcasenote%%',\r\n                    string(outputs('Get_a_row_by_ID')?['body/bsr_inforeqcasenote'])\r\n                ),\r\n                '%%bsr_inforeqrelatedto%%',\r\n                string(outputs('Get_a_row_by_ID')?['body/bsr_inforeqrelatedto'])\r\n            ),\r\n            '%%bsr_inforeqtargetdate%%',\r\n            string(outputs('Compose_2'))\r\n        ),\r\n        '%%bsr_regulatoryleadid%%',\r\n        string(outputs('Get_a_row_by_ID')?['body/_bsr_regulatoryleadid_value@OData.Community.Display.V1.FormattedValue'])\r\n    ),\r\n    '%%bsr_caseofficerid%%',\r\n    string(outputs('Get_a_row_by_ID')?['body/_bsr_caseofficerid_value@OData.Community.Display.V1.FormattedValue'])\r\n)"
                },
                "Html_to_text": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "422d72cc-27bf-4e7d-811b-9a9300b9e465"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_conversionservice_1",
                      "operationId": "HtmlToText",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                    },
                    "parameters": {
                      "Content": "<p>@{outputs('GetEmailTemplate')?['body/subjectsafehtml']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Compose_2": {
                  "runAfter": {
                    "Convert_time_zone": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "31897bf3-8528-445c-b893-91b181887f4f"
                  },
                  "type": "Compose",
                  "inputs": "@body('Convert_time_zone')"
                },
                "Convert_time_zone": {
                  "runAfter": {
                    "GetEmailTemplate": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3d95a2a8-d56b-4b13-a3d3-b4da54d3b5f2"
                  },
                  "type": "Expression",
                  "kind": "ConvertTimeZone",
                  "inputs": {
                    "baseTime": "@outputs('Get_a_row_by_ID')?['body/bsr_inforeqtargetdate']",
                    "formatString": "dd/MM/yyyy",
                    "sourceTimeZone": "UTC",
                    "destinationTimeZone": "GMT Standard Time"
                  }
                },
                "Create_Email": {
                  "runAfter": {
                    "Html_to_text": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b1ccf080-ba87-4b7b-8ff5-cd34a6570c5c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 1,
                          "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                        },
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "contacts(@{outputs('Get_a_row_by_ID')?['body/_bsr_recipientid_value']})"
                        }
                      ],
                      "item/description": "@outputs('Compose')",
                      "item/regardingobjectid_bsr_informationtracker_email@odata.bind": "/bsr_informationtrackers(@{outputs('Get_a_row_by_ID')?['body/bsr_informationtrackerid']})",
                      "item/subject": "@body('Html_to_text')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Perform_a_bound_action": {
                  "runAfter": {
                    "Create_Email": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1a260505-c7a3-4eda-b5a4-683a3cdcbf27"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Create_Email')?['body/activityid']",
                      "item/IssueSend": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Catch_2": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "48374887-df91-4aec-bfb1-05210a2db966"
              },
              "type": "Scope"
            },
            "Catch": {
              "actions": {
                "Reset_Trigger_Field": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_informationtrackers",
                      "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                      "item/bsr_triggerinforequestemailflow": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Terminate": {
                  "runAfter": {
                    "Reset_Trigger_Field": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4a7ce2a5-6209-4662-9ede-30e2f368cf85"
                  },
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed",
                    "runError": {
                      "message": "Error sending email"
                    }
                  }
                }
              },
              "runAfter": {
                "Send_Email": [
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "9eb8bc9b-9e69-4c3e-9d7d-7a35cf5552a0"
              },
              "type": "Scope"
            },
            "Default": {
              "actions": {
                "Reset_Trigger_Field_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_informationtrackers",
                      "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Catch": [
                  "Skipped"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2dff360-84f7-4adb-8b0c-e038d41645b3"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "PAPContactID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_BAC": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "90b1430c-b754-40e4-b9cf-65bc9c496cad"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "bsr_bacapplications",
                    "recordId": "@triggerOutputs()?['body/_bsr_bacapplicationid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Get_Building_Application": {
                "runAfter": {
                  "Get_BAC": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "75f2e055-4f59-4922-a359-a10ceb42b1db"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "bsr_buildingapplications",
                    "recordId": "@outputs('Get_BAC')?['body/_bsr_buildingapplicationid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Get_Building": {
                "runAfter": {
                  "Get_Building_Application": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "20dca176-8ad9-4de4-9d14-7eef87c4457b"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "bsr_buildings",
                    "recordId": "@triggerOutputs()?['body/_bsr_buildingid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Get_BAC_URL_Access_Token": {
                "actions": {
                  "HTTP_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b2c6cab5-83da-4f74-846b-ecfdefb9d0ac"
                    },
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "@{parameters('BSR Common API URL WS2 (bsr_bsrcommonapiurlws2)')}/GenerateToken",
                      "headers": {
                        "x-functions-key": "@parameters('BSR Common API Access Key WS2 (bsr_bsrcommonapiaccesskeyws2)')",
                        "Accept": "application/json"
                      },
                      "body": {
                        "TokenData": "@{outputs('Get_a_row_by_ID')?['body/bsr_inforeqid']}",
                        "LongDuration": true
                      }
                    }
                  },
                  "Compose_6": {
                    "runAfter": {
                      "HTTP_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "227fbb25-e746-4986-99a0-bfcaeb1aa439"
                    },
                    "type": "Compose",
                    "inputs": "@decodeBase64(body('HTTP_2')['$content'])"
                  },
                  "Parse_JSON_2": {
                    "runAfter": {
                      "Compose_6": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1e76ad78-6a5d-43a1-be9c-e9c64899bbff"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@outputs('Compose_6')",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "Token": {
                            "type": "string"
                          },
                          "TokenData": {},
                          "Expiry": {
                            "type": "string"
                          },
                          "id": {}
                        }
                      }
                    }
                  },
                  "UrlAccessToken_2": {
                    "runAfter": {
                      "Parse_JSON_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4d34b76c-7fc0-4185-a1d9-f6867b9fa344"
                    },
                    "type": "Compose",
                    "inputs": "@body('Parse_JSON_2')?['Token']"
                  }
                },
                "runAfter": {
                  "Get_Building": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "a6a69c53-282a-4a6b-8d54-b09d57b8bdf8"
                },
                "type": "Scope"
              },
              "Catch_Token_Error": {
                "actions": {
                  "Reset_Trigger_Field_4": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "bsr_informationtrackers",
                        "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                        "item/bsr_triggerinforequestemailflow": false
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Terminate_3": {
                    "runAfter": {
                      "Reset_Trigger_Field_4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4a7ce2a5-6209-4662-9ede-30e2f368cf85"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "Error getting URL token"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Get_BAC_URL_Access_Token": [
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9eb8bc9b-9e69-4c3e-9d7d-7a35cf5552a0"
                },
                "type": "Scope"
              },
              "Send_BAC_Email": {
                "actions": {
                  "GetNoReplyQueue_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d02f4313-6ad4-4fe1-a529-c0a8ca00ddf4"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "queues",
                        "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')",
                        "$select": "queueid,name"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Get_BAC_Email_Template": {
                    "runAfter": {
                      "GetNoReplyQueue_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "28340d56-9924-4acb-8d2d-70aa0192f7d5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "templates",
                        "recordId": "@variables('BACEmailTemplateId')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Compose_BAC_Subject": {
                    "runAfter": {
                      "Get_BAC_Email_Template": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e88846e4-6f0f-429f-96ff-83996ea20020"
                    },
                    "type": "Compose",
                    "inputs": "@replace(outputs('Get_BAC_Email_Template')?['body/subjectsafehtml'], '%applicationId%', outputs('Get_Building_Application')?['body/bsr_applicationid'])"
                  },
                  "If_PAPtype_is_Individual": {
                    "actions": {
                      "Set_PAP_Contact_for_Individual": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b3b9f912-602b-4b81-9d10-a31d76f27dfd"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "PAPContactID",
                          "value": "@outputs('Get_Building_Application')?['body/_bsr_papid_value']"
                        }
                      }
                    },
                    "runAfter": {
                      "Compose_BAC_Subject": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Set_PAP_Contact_for_Org": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "cee439e7-2898-481a-8ae6-7599601a82aa"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "PAPContactID",
                            "value": "@outputs('Get_Building_Application')?['body/_bsr_paporgleadcontactid_value']"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Get_Building_Application')?['body/bsr_paptype']",
                        760810000
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "37ab033b-cd22-4fe0-b40d-ebb7a9661660"
                    },
                    "type": "If"
                  },
                  "Compose_BAC_Body": {
                    "runAfter": {
                      "Get_PAP_Contact": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b97d79e3-2f54-4b3e-a386-07cbfab066a9"
                    },
                    "type": "Compose",
                    "inputs": "@replace(replace(replace(replace(outputs('Get_BAC_Email_Template')?['body/safehtml'], '%pap%', outputs('Get_PAP_Contact')?['body/fullname']),'%buildingName%',outputs('Get_Building')?['body/bsr_name']),'%applicationId%',outputs('Get_Building_Application')?['body/bsr_applicationid']),'%bacWebsiteUrl%',string(concat('<a href=','\"',concat(parameters('Register HRB Website URL (bsr_registerhrbwebsiteurl)'),'application/',outputs('Get_Building_Application')?['body/bsr_applicationid'],'/confirm?requestId=',outputs('Get_a_row_by_ID')?['body/bsr_inforeqid']),'&token=',outputs('UrlAccessToken_2'),'\"','>',concat(parameters('Register HRB Website URL (bsr_registerhrbwebsiteurl)'),'application/',outputs('Get_Building_Application')?['body/bsr_applicationid'],'/confirm?requestId=',outputs('Get_a_row_by_ID')?['body/bsr_inforeqid']),'&token=',outputs('UrlAccessToken_2'),'</a>')))"
                  },
                  "Get_PAP_Contact": {
                    "runAfter": {
                      "If_PAPtype_is_Individual": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f86081f3-576f-46cc-9d36-d3a86c38fd22"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@variables('PAPContactID')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "If_Secondary_Applicant_field_is_null": {
                    "actions": {
                      "Create_BAC_Email": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "232a5f4c-6df0-44a3-86be-93fbefb6b4b9"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "item/activitypointer_activity_parties": [
                              {
                                "participationtypemask": 1,
                                "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue_2')?['body/queueid']})"
                              },
                              {
                                "participationtypemask": 2,
                                "partyid@odata.bind": "contacts(@{outputs('Get_PAP_Contact')?['body/contactid']})"
                              },
                              {
                                "participationtypemask": 3,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application')?['body/_bsr_registreeid_value']})"
                              }
                            ],
                            "item/description": "@outputs('Compose_BAC_Body')",
                            "item/regardingobjectid_bsr_informationtracker_email@odata.bind": "/bsr_informationtrackers(@{outputs('Get_a_row_by_ID')?['body/bsr_informationtrackerid']})",
                            "item/subject": "@outputs('Compose_BAC_Subject')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Send_Email_for_BAC": {
                        "runAfter": {
                          "Create_BAC_Email": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0790592a-6536-450e-9642-7ede3cdc7f68"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "PerformBoundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                            "recordId": "@outputs('Create_BAC_Email')?['body/activityid']",
                            "item/IssueSend": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Compose_BAC_Body": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Create_BAC_Email_with_Secondary_Applicant_cc": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "232a5f4c-6df0-44a3-86be-93fbefb6b4b9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "item/activitypointer_activity_parties": [
                                {
                                  "participationtypemask": 1,
                                  "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue_2')?['body/queueid']})"
                                },
                                {
                                  "participationtypemask": 2,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_PAP_Contact')?['body/contactid']})"
                                },
                                {
                                  "participationtypemask": 3,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application')?['body/_bsr_registreeid_value']})"
                                },
                                {
                                  "participationtypemask": 3,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application')?['body/_bsr_secondaryapplicantid_value']})"
                                }
                              ],
                              "item/description": "@outputs('Compose_BAC_Body')",
                              "item/regardingobjectid_bsr_informationtracker_email@odata.bind": "/bsr_informationtrackers(@{outputs('Get_a_row_by_ID')?['body/bsr_informationtrackerid']})",
                              "item/subject": "@outputs('Compose_BAC_Subject')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_Email_for_BAC_with_Secondary_Applicant_CC": {
                          "runAfter": {
                            "Create_BAC_Email_with_Secondary_Applicant_cc": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0790592a-6536-450e-9642-7ede3cdc7f68"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "PerformBoundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                              "recordId": "@outputs('Create_BAC_Email_with_Secondary_Applicant_cc')?['body/activityid']",
                              "item/IssueSend": true
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Get_Building_Application')?['body/_bsr_secondaryapplicantid_value']",
                        "@null"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "976043d3-98fe-431c-9ae5-d0ea3bd8a5a7"
                    },
                    "type": "If"
                  }
                },
                "runAfter": {
                  "Catch_Token_Error": [
                    "Skipped"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5050ecbf-2f32-4f03-a5f3-0b0530ee78cd"
                },
                "type": "Scope"
              },
              "Catch_BAC": {
                "actions": {
                  "Reset_Trigger_Field_5": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "bsr_informationtrackers",
                        "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                        "item/bsr_triggerinforequestemailflow": false
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Terminate_4": {
                    "runAfter": {
                      "Reset_Trigger_Field_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4a7ce2a5-6209-4662-9ede-30e2f368cf85"
                    },
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "message": "Error sending email"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Send_BAC_Email": [
                    "Failed",
                    "Skipped",
                    "TimedOut"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9eb8bc9b-9e69-4c3e-9d7d-7a35cf5552a0"
                },
                "type": "Scope"
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_bsr_bcaapplicationid_value']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/bsr_servicetypecode']",
                  760810000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "99adbbcf-cc25-4160-a70b-0fbb4c4e28ec"
          },
          "type": "If"
        },
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f288fa69-5229-45ab-aee5-98e8ee8b2007"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_informationtrackers",
              "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
              "$select": "_bsr_bcaapplicationid_value,bsr_bcaareferencenumber,bsr_buildingname,_bsr_caseofficerid_value,bsr_inforeqcasenote,bsr_inforeqid,bsr_inforeqrelatedto,bsr_inforeqtargetdate,bsr_informationtrackerid,_bsr_recipientid_value,_bsr_regulatoryleadid_value,bsr_buildingdetailsname"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "BACEmailTemplateId": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f286bc27-9332-48dc-9fad-766568d4327e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BACEmailTemplateId",
                "type": "string",
                "value": "3d6fe18d-47ec-ee11-a1fd-7c1e52049a19"
              }
            ]
          }
        },
        "BCAEmailTemplateId": {
          "runAfter": {
            "BACEmailTemplateId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "693ef724-f4cd-4a9c-9183-ee82a751fec4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BCAEmailTemplateId",
                "type": "string",
                "value": "ebbed961-865b-ee11-8def-6045bdf1e965"
              }
            ]
          }
        },
        "PAPContactID": {
          "runAfter": {
            "BCAEmailTemplateId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ab3ef4ce-7c56-4dea-86a5-b16db74124bf"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PAPContactID",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}