Customization/WS2/Managed/BuildingControlProcesses/Workflows/DVSendValidInfoSubmissionEmail-A5FF0348-465C-EE11-8DEF-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversionWS2"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "35b883f4-7d16-ee11-9cbe-6045bdd2c0c0",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "142191df-598c-4813-9264-f1b16cbdce96"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_informationtracker",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_triggervalidinforequestflow",
              "subscriptionRequest/filterexpression": "bsr_triggervalidinforequestflow eq true",
              "subscriptionRequest/name": "a5ff0348-465c-ee11-8def-6045bdf1e965"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f288fa69-5229-45ab-aee5-98e8ee8b2007"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "bsr_informationtrackers",
              "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
              "$select": "_bsr_bcaapplicationid_value,bsr_bcaareferencenumber,bsr_buildingname,_bsr_caseofficerid_value,bsr_inforeqcasenote,bsr_inforeqid,bsr_inforeqrelatedto,bsr_inforeqtargetdate,bsr_informationtrackerid,_bsr_recipientid_value,_bsr_regulatoryleadid_value,bsr_buildingdetailsname"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "EmailTemplateId": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "693ef724-f4cd-4a9c-9183-ee82a751fec4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailTemplateId",
                "type": "string",
                "value": "ef9dae79-4a5c-ee11-8def-6045bdd0e4cf"
              }
            ]
          }
        },
        "Send_Email": {
          "actions": {
            "GetNoReplyQueue": {
              "metadata": {
                "operationMetadataId": "6e1468a9-38b1-4e1c-b88d-a7eeb88bb087"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "queues",
                  "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')",
                  "$select": "queueid,name"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "GetEmailTemplate": {
              "runAfter": {
                "GetNoReplyQueue": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4d514760-2735-4863-8ea6-ed558775fcd9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "templates",
                  "recordId": "@variables('EmailTemplateId')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Compose": {
              "runAfter": {
                "GetEmailTemplate": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b4bd80ac-f103-4ed3-84e9-5802c7b99306"
              },
              "type": "Compose",
              "inputs": "@replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        outputs('GetEmailTemplate')?['body/safehtml'],\r\n                        '%%bsr_recipient%%',\r\n                        string(outputs('Get_a_row_by_ID')?['body/_bsr_recipientid_value@OData.Community.Display.V1.FormattedValue'])\r\n                    ),\r\n                    '%%bsr_bcaareferencenumber%%',\r\n                    string(outputs('Get_a_row_by_ID')?['body/bsr_bcaareferencenumber'])\r\n                ),\r\n                '%%bsr_buildingdetailsname%%',\r\n                string(outputs('Get_a_row_by_ID')?['body/bsr_buildingdetailsname'])\r\n            ),\r\n            '%%bsr_inforeqcasenote%%',\r\n            string(outputs('Get_a_row_by_ID')?['body/bsr_inforeqcasenote'])\r\n        ),\r\n        '%%bsr_invalidnotes%%',\r\n        string(outputs('Get_a_row_by_ID')?['body/bsr_invalidnotes'])\r\n    ),\r\n    '%%bsr_regulatoryleadid%%',\r\n    string(outputs('Get_a_row_by_ID')?['body/_bsr_regulatoryleadid_value@OData.Community.Display.V1.FormattedValue'])\r\n)"
            },
            "Html_to_text": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "422d72cc-27bf-4e7d-811b-9a9300b9e465"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "Content": "<p>@{outputs('GetEmailTemplate')?['body/subjectsafehtml']}</p>"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice",
                  "operationId": "HtmlToText",
                  "connectionName": "shared_conversionservice_1"
                }
              }
            },
            "Create_Email": {
              "runAfter": {
                "Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b1ccf080-ba87-4b7b-8ff5-cd34a6570c5c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('Get_a_row_by_ID')?['body/_bsr_recipientid_value']})"
                    }
                  ],
                  "item/description": "@outputs('Compose')",
                  "item/regardingobjectid_bsr_informationtracker_email@odata.bind": "/bsr_informationtrackers(@{outputs('Get_a_row_by_ID')?['body/bsr_informationtrackerid']})",
                  "item/subject": "@body('Html_to_text')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Perform_a_bound_action": {
              "runAfter": {
                "Create_Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1a260505-c7a3-4eda-b5a4-683a3cdcbf27"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('Create_Email')?['body/activityid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "EmailTemplateId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48374887-df91-4aec-bfb1-05210a2db966"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Reset_Trigger_Field": {
              "metadata": {
                "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bsr_informationtrackers",
                  "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                  "item/bsr_triggervalidinforequestflow": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Terminate": {
              "runAfter": {
                "Reset_Trigger_Field": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4a7ce2a5-6209-4662-9ede-30e2f368cf85"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed",
                "runError": {
                  "message": "Error sending email"
                }
              }
            }
          },
          "runAfter": {
            "Send_Email": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "9eb8bc9b-9e69-4c3e-9d7d-7a35cf5552a0"
          },
          "type": "Scope"
        },
        "Default": {
          "actions": {
            "Reset_Trigger_Field_2": {
              "metadata": {
                "operationMetadataId": "4241c482-4fe1-4eb4-8220-fbf9543f0114"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bsr_informationtrackers",
                  "recordId": "@triggerOutputs()?['body/bsr_informationtrackerid']",
                  "item/bsr_triggervalidinforequestflow": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "Catch": [
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "f2dff360-84f7-4adb-8b0c-e038d41645b3"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}