Customization/WS2/Managed/BuildingControlProcesses/Workflows/MapCaseOfficerandRegLeadfromBCAtoBuildingDetails-3A685418-A88E-EE11-BE36-6045BDD0E4CF.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_reg_lead_or_case_officer_is_modified": {
          "metadata": {
            "operationMetadataId": "4eb97837-76ca-4cb7-891c-36e4cadbaeca"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ownerid,bsr_caseofficer",
              "subscriptionRequest/filterexpression": "_ownerid_value ne null and _bsr_caseofficer_value ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_all_related_Building_Details_records": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f9f2bc24-9e33-4e58-a255-e4e7f05da690"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingdetailses",
              "$filter": "_bsr_bcapplicationid_value eq @{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_all_related_Building_Details_records')?['body/value']",
          "actions": {
            "Update_case_officer_and_reg_lead": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5761f504-2fc4-4ca8-b806-a6243ba9deb0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildingdetailses",
                  "recordId": "@items('Apply_to_each')?['bsr_buildingdetailsid']",
                  "item/bsr_bdrcaseofficer@odata.bind": "systemusers(@{triggerOutputs()?['body/_bsr_caseofficer_value']})",
                  "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_ownerid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_all_related_Building_Details_records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42200d13-82cc-48df-8d00-d735ed613f21"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}