Customization/WS2/Managed/BuildingControlProcesses/Workflows/SendConfirmationEmailAfterInvoicePaymentReceived-0522210C-3656-EE11-BE6F-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "35b883f4-7d16-ee11-9cbe-6045bdd2c0c0",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "a31184fe-ec72-4a5e-ac4a-970d527369eb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_payment",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_paymentid,bsr_paymentreconciliationstatus",
              "subscriptionRequest/filterexpression": "bsr_paymentreconciliationstatus eq 760810001"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "GetPayment": {
          "runAfter": {
            "Initialize_variable_-_Completion_Certificate_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4b12a1b3-d551-4ab8-8c99-188b33b2e5e4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_payments",
              "recordId": "@triggerOutputs()?['body/bsr_paymentid']",
              "$select": "_bsr_buildingcontrolapplication_value,bsr_paymentreconciliationstatus,bsr_paymentid,bsr_paymenttypecode,_bsr_changerequestid_value",
              "$expand": "bsr_buildingcontrolapplication($select=bsr_buildingcontrolapplicationid)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "GetBCA": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "01cda44b-d1fb-4ce9-bd77-55c76074bb52"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildingcontrolapplications",
                  "recordId": "@outputs('GetPayment')?['body/_bsr_buildingcontrolapplication_value']",
                  "$select": "_bsr_applicantid_value,bsr_applicationname,bsr_bcaareferencenumber,bsr_name,bsr_buildingcontrolapplicationid,bsr_issubsequentstagedapp,_bsr_mainbcaappid_value, bsr_iscompletioncertificate"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "GetNoReplyQueue": {
              "runAfter": {
                "GetBCA": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b77d5be-d062-400f-ae1b-e01016599dc8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')",
                  "$select": "queueid,name"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Check_if_BCA's_Completion_Certificate_=_Yes": {
              "actions": {
                "Send_Completion_Certificate_Invoice_Payment_Confirmation_Email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "91b4d901-b826-45ad-a598-469231f088ab"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "PerformUnboundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "actionName": "SendEmailFromTemplate",
                      "item/TemplateId": "@variables('Completion Certificate TemplateId')",
                      "item/Regarding": "/bsr_buildingcontrolapplications(@{outputs('GetBCA')?['body/bsr_buildingcontrolapplicationid']})",
                      "item/Target": {
                        "email_activity_parties": [
                          {
                            "partyid_queue@odata.bind": "/queues(@{outputs('GetNoReplyQueue')?['body/queueid']})",
                            "participationtypemask": 1
                          },
                          {
                            "partyid_contact@odata.bind": "/contacts(@{outputs('GetBCA')?['body/_bsr_applicantid_value']})",
                            "participationtypemask": 2
                          }
                        ],
                        "@@odata.type": "Microsoft.Dynamics.CRM.email"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "GetNoReplyQueue": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "If_Subsequent_Staged_Application_=_No": {
                    "actions": {
                      "Send_BCA_Confirmation_email": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "91b4d901-b826-45ad-a598-469231f088ab"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "PerformUnboundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "actionName": "SendEmailFromTemplate",
                            "item/TemplateId": "@variables('BCA TemplateId')",
                            "item/Regarding": "/bsr_buildingcontrolapplications(@{outputs('GetBCA')?['body/bsr_buildingcontrolapplicationid']})",
                            "item/Target": {
                              "email_activity_parties": [
                                {
                                  "partyid_queue@odata.bind": "/queues(@{outputs('GetNoReplyQueue')?['body/queueid']})",
                                  "participationtypemask": 1
                                },
                                {
                                  "partyid_contact@odata.bind": "/contacts(@{outputs('GetBCA')?['body/_bsr_applicantid_value']})",
                                  "participationtypemask": 2
                                }
                              ],
                              "@@odata.type": "Microsoft.Dynamics.CRM.email"
                            }
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Get_Applicant_details_(as_we_don't_store_dutyholders_on_sub_staged_app)": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "54302e83-2de6-42c0-af75-741c95422b0c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "bsr_buildingcontrolapplications",
                              "recordId": "@outputs('GetBCA')?['body/_bsr_mainbcaappid_value']",
                              "$select": "_bsr_applicantid_value,bsr_name"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_Subsequent_Staged_Application_Confirmation_Email": {
                          "runAfter": {
                            "Get_Applicant_details_(as_we_don't_store_dutyholders_on_sub_staged_app)": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f80a3932-bac7-4f20-b0fd-a99b95fd8b33"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "PerformUnboundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "actionName": "SendEmailFromTemplate",
                              "item/TemplateId": "@variables('Subsequent Stage Application TemplateId')",
                              "item/Regarding": "/bsr_buildingcontrolapplications(@{outputs('GetBCA')?['body/bsr_buildingcontrolapplicationid']})",
                              "item/Target": {
                                "email_activity_parties": [
                                  {
                                    "partyid_queue@odata.bind": "/queues(@{outputs('GetNoReplyQueue')?['body/queueid']})",
                                    "participationtypemask": 1
                                  },
                                  {
                                    "partyid_contact@odata.bind": "/contacts(@{outputs('Get_Applicant_details_(as_we_don''t_store_dutyholders_on_sub_staged_app)')?['body/_bsr_applicantid_value']})",
                                    "participationtypemask": 2
                                  }
                                ],
                                "@@odata.type": "Microsoft.Dynamics.CRM.email"
                              }
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('GetBCA')?['body/bsr_issubsequentstagedapp']",
                        "@false"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d192f3f9-851b-4fd2-b297-00a6ef858549"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('GetBCA')?['body/bsr_iscompletioncertificate']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "c2e89eea-88e0-4ad9-b2c4-708fa3bdd61f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "GetPayment": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "feac6aa5-374e-491c-9ec6-a61df68a4f04"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Cancelled"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('GetPayment')?['body/_bsr_buildingcontrolapplication_value']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@outputs('GetPayment')?['body/_bsr_changerequestid_value']",
                  "@null"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ba06934b-0119-47c1-a4b7-86f7a097ebbd"
          },
          "type": "If"
        },
        "Initialize_variable_-_BCA_TemplateId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1a79bda5-a629-4966-abda-465936bb1abd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BCA TemplateId",
                "type": "string",
                "value": "562afbf1-2756-ee11-be6f-6045bdd2c0c0"
              }
            ]
          }
        },
        "Initialize_variable_-_Subsequent_Staged_Application_TemplateId": {
          "runAfter": {
            "Initialize_variable_-_BCA_TemplateId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa64b56f-70f9-422f-9251-f2f2d3b1d221"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Subsequent Stage Application TemplateId",
                "type": "string",
                "value": "4f4d34dc-fd6c-ee11-9ae7-6045bdd2c0c0"
              }
            ]
          }
        },
        "Initialize_variable_-_Completion_Certificate_": {
          "runAfter": {
            "Initialize_variable_-_Subsequent_Staged_Application_TemplateId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a79bda5-a629-4966-abda-465936bb1abd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Completion Certificate TemplateId",
                "type": "string",
                "value": "6bb1daf2-6585-ee11-8179-6045bdf1e965"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}