Customization/WS2/Managed/BuildingControlProcesses/Workflows/SendBCAReferenceNumberEmail-7FAE9B6C-6342-EE11-BDF3-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "35b883f4-7d16-ee11-9cbe-6045bdd2c0c0",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "360dad28-15f5-4ddd-a13b-f20bd78013c7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b765517a-954e-45ed-b6fa-01fb14d1c5cd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "Email_Template": {
          "runAfter": {
            "Queue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c4a2f64-cb70-4cb1-bd9d-c9d7e6183b81"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "templates",
              "$filter": "templateid eq 'a5a6ad6f-5f42-ee11-bdf3-6045bdd2c0c0'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Queue": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2972ff6e-7228-424e-83a2-9af50be44731"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Email_Template')?['body/value']",
          "actions": {
            "Perform_an_unbound_action": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "25749500-7cab-4fb2-8f43-55ffcabcaacb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "SendEmailFromTemplate",
                  "item/TemplateId": "@items('Apply_to_each')?['templateid']",
                  "item/Regarding": "\\bsr_buildingcontrolapplications\\@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']}",
                  "item/Target": {
                    "email_activity_parties": [
                      {
                        "participationtypemask": 1,
                        "partyid@odata.bind": "queues(@{outputs('Queue')?['body/queueid']})"
                      },
                      {
                        "participationtypemask": 2,
                        "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_applicantid_value']})"
                      }
                    ],
                    "@@odata.type": "Microsoft.Dynamics.CRM.email"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Email_Template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11f928f0-a86b-41f4-9649-3d2174840246"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}