Customization/WS2/Managed/BuildingControlProcesses/Workflows/SetNoticesnameoncreation-8A3A15A6-F873-EE11-8179-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Notice_record_is_added": {
          "metadata": {
            "operationMetadataId": "91557fe1-b683-4508-a675-a546e559286f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_notices",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Autopopulate_Name_field": {
          "runAfter": {
            "Format_Submitted_Date_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03a6d5dc-99a2-4a87-9d1e-e48cfa89cbd4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_noticeses",
              "recordId": "@triggerOutputs()?['body/bsr_noticesid']",
              "item/bsr_name": "@{variables('Get BCA value')} - @{variables('Type')} - @{variables('Submitted Date')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Notice_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dc4efcd2-7ec0-4420-a979-cd999fd74a2f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_noticeses",
              "recordId": "@triggerOutputs()?['body/bsr_noticesid']",
              "$select": "_bsr_bcapplicationid_value,bsr_type,bsr_submitteddate"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Format_BCA_lookup_value": {
          "runAfter": {
            "Get_Notice_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e2ae9a19-1954-487b-86c1-f1c7b3841cf4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Get BCA value",
                "type": "string",
                "value": "@{outputs('Get_Notice_record')?['body/_bsr_bcapplicationid_value@OData.Community.Display.V1.FormattedValue']}"
              }
            ]
          }
        },
        "Format_Type_value": {
          "runAfter": {
            "Format_BCA_lookup_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "14e74e0f-b065-4fb2-b86d-e50ffdb56136"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Type",
                "type": "string",
                "value": "@{outputs('Get_Notice_record')?['body/bsr_type@OData.Community.Display.V1.FormattedValue']}"
              }
            ]
          }
        },
        "Format_Submitted_Date_value": {
          "runAfter": {
            "Format_Type_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d0b784c-8f34-4859-b91c-f2b04445e02d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Submitted Date",
                "type": "string",
                "value": "@{outputs('Get_Notice_record')?['body/bsr_submitteddate@OData.Community.Display.V1.FormattedValue']}"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}