Customization/WS3/Unmanaged/BuildingProfessionProcesses/Workflows/RBCAApplicationApproved-RegisteredRBCAAccountUpdat-856E368D-1553-EE11-BE6F-0022481B56D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b0c678c1-9e64-4df5-ad92-adee6de76372"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingprofessionapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_regulatorydecisionstatus",
              "subscriptionRequest/filterexpression": "(bsr_regulatorydecisionstatus eq 760810000) or (bsr_regulatorydecisionstatus eq 760810002) or (bsr_regulatorydecisionstatus eq 760810001)\n"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition_Is_Applicant_a_Contact_or_an_Account": {
          "actions": {
            "Get_a_row_by_ID_Registered_RBCA_Account_Type": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "11e6e618-5425-49a5-badb-ff1ec8db67d2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_accounttypes",
                  "recordId": "1e503e9e-1353-ee11-be6f-0022481b59de"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_a_row_by_ID_RBCA_Applied_Account_Type": {
              "runAfter": {
                "Get_a_row_by_ID_Registered_RBCA_Account_Type": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e65425b5-71c7-47f7-9233-12f6da987dae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_accounttypes",
                  "recordId": "39ba34b1-1353-ee11-be6f-0022481b59de"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "73ffb98c-fd99-42e8-86fe-2e09f6a89979"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/_bsr_rbcaaccountid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_If_the_application_is_approved": {
              "actions": {
                "Relate_rows__Registered_BI_Contact_Type": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c5237d55-e039-4ab9-97a8-6e878d3740b8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "AssociateEntities",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@triggerOutputs()?['body/_bsr_rbcaaccountid_value']",
                      "associationEntityRelationship": "bsr_Account_bsr_accounttype_bsr_accounttype",
                      "item/@odata.id": "@outputs('Get_a_row_by_ID_Registered_RBCA_Account_Type')?['body/@odata.id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Unrelate_rows_BI_Applicant_Contact_Type": {
                  "runAfter": {
                    "Relate_rows__Registered_BI_Contact_Type": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5ba6e213-7d15-4b73-b5de-a4f7fc95105e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "DisassociateEntities",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@triggerOutputs()?['body/_bsr_rbcaaccountid_value']",
                      "associationEntityRelationship": "bsr_Account_bsr_accounttype_bsr_accounttype",
                      "$id": "@outputs('Get_a_row_by_ID_RBCA_Applied_Account_Type')?['body/@odata.id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_RBCA_Applied_Account_Type": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition_If_Application_is_Rejected": {
                    "actions": {
                      "Relate_rows__Registered_BI_Contact_Type_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c5237d55-e039-4ab9-97a8-6e878d3740b8"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "AssociateEntities",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "accounts",
                            "recordId": "@triggerOutputs()?['body/_bsr_rbcaaccountid_value']",
                            "associationEntityRelationship": "bsr_Account_bsr_accounttype_bsr_accounttype",
                            "item/@odata.id": "@outputs('Get_a_row_by_ID_RBCA_Applied_Account_Type')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Unrelate_rows_BI_Applicant_Contact_Type_2": {
                        "runAfter": {
                          "Relate_rows__Registered_BI_Contact_Type_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5ba6e213-7d15-4b73-b5de-a4f7fc95105e"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "DisassociateEntities",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "accounts",
                            "recordId": "@triggerOutputs()?['body/_bsr_rbcaaccountid_value']",
                            "associationEntityRelationship": "bsr_Account_bsr_accounttype_bsr_accounttype",
                            "$id": "@outputs('Get_a_row_by_ID_Registered_RBCA_Account_Type')?['body/@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "equals": [
                        "@triggerOutputs()?['body/bsr_regulatorydecisionstatus']",
                        760810001
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0b6f7968-199d-48fd-b059-7825a38f21c3"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/bsr_regulatorydecisionstatus']",
                      760810000
                    ]
                  },
                  {
                    "equals": [
                      "@triggerOutputs()?['body/bsr_regulatorydecisionstatus']",
                      760810002
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "adf5ef01-73cb-4aac-b06c-52570873f8ee"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_bsr_rbcaaccountid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
              "account"
            ]
          },
          "metadata": {
            "operationMetadataId": "f78ecc97-cc89-4ad0-a57c-c3ff492439d9"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}