Customization/WS1/Managed/BuildingRegProcesses/Workflows/DeleteBABSRDocumentOnFileDeletion-BD4D2E09-7067-EE11-9AE6-6045BD0C18A5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharePoint Site URL (bsr_sharepointsiteurl)": {
          "defaultValue": "https://hsegov.sharepoint.com/sites/bsr-ws1-dev",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointsiteurl"
          }
        },
        "SharePoint BA Folder ID (bsr_sharepointbafolderid)": {
          "defaultValue": "77132884-a7af-41bb-98e0-2c40e52ed848",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointbafolderid"
          }
        }
      },
      "triggers": {
        "When_a_file_is_deleted": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "147030b7-702f-44e8-b740-9eedfe47752a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnDeletedFileItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharePoint Site URL (bsr_sharepointsiteurl)')",
              "table": "@parameters('SharePoint BA Folder ID (bsr_sharepointbafolderid)')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerOutputs()?['body/{IsFolder}'],false)"
            }
          ]
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e4be5e2a-3441-4ec2-819b-ca5d019128c0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_bsrdocuments",
              "$filter": "bsr_sharepointfileid eq '@{triggerOutputs()?['body/ID']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "03603557-9dae-4f7b-ace9-a317aab26702"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_bsrdocuments",
                  "recordId": "@items('Apply_to_each')?['activityid']",
                  "item/subject": "[Deleted] @{items('Apply_to_each')?['subject']}",
                  "item/statecode": 2,
                  "item/description": "@{items('Apply_to_each')?['description']} [File deleted from SharePoint on@{triggerOutputs()?['body/TimeDeleted']}]",
                  "item/statuscode": 3
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03464af0-d293-4a7f-9c24-25dd4c618e04"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}