Customization/WS1/Managed/BuildingRegProcesses/Workflows/SendEmailNotificationwhenKBIDeclaredcheckboxissele-D1A53032-2601-EE11-8F6C-002248C725DA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "If_'KBI_Declaration'_is_set_to_'Yes'_in_Building_": {
          "metadata": {
            "operationMetadataId": "c17bce85-a180-47e5-a12e-8c569d399880"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_building",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_kbideclaration"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8dbe2ee3-da0a-47df-a1bc-e14de49877b2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "Get_Queue_by_ID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eca2769b-0baa-4ff7-b13f-64ed484d472a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "f5d98fd6-74b7-ed11-b597-0022481b5e4f"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Building_by_ID": {
          "runAfter": {
            "Get_Queue_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f16d4e9c-9e82-4b1f-9679-4ab3165c044c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@triggerOutputs()?['body/bsr_buildingid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Building_Compose": {
          "runAfter": {
            "Get_Building_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a62811f-f49b-4faf-b7ef-08e063e6ad37"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Building_by_ID')?['body/bsr_name']"
        },
        "Condition": {
          "actions": {
            "Get_PAP": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8060e5a0-202b-4173-ba22-9d85a1f432b0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Template_By_Filter": {
              "runAfter": {
                "Full_Name_Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ae793fb-f66b-49a2-8d8a-c95aad507bb7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "templates",
                  "$filter": "templateid eq 'f948d20d-2901-ee11-8f6c-002248c725da'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Full_Name_Compose": {
              "runAfter": {
                "Get_PAP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cc9a4fdf-5913-418b-9593-b440d04885c5"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_PAP')?['body/fullname']"
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_Template_By_Filter')?['body/value']",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "acd7c854-bade-4040-a1f1-c7ee9f82bd3e"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "EmailBody",
                    "value": "@items('Apply_to_each')?['safehtml']"
                  }
                }
              },
              "runAfter": {
                "Get_Template_By_Filter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c4bbe9ee-8e0f-4a4e-ac24-6e2924058970"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Building_Compose": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/bsr_kbideclaration']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "2cbeb69a-390a-4eb8-b97d-aad7f5c721cc"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}