Customization/WS1/Managed/BuildingRegProcesses/Workflows/SendemailnotificationtoapplicantwhenBuildingApplic-06333F46-6F25-EE11-9965-002248C725DA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversion"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "f5d98fd6-74b7-ed11-b597-0022481b5e4f",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_Building_Application_Stage_in_Invoice_raised": {
          "metadata": {
            "operationMetadataId": "56f8f62c-fe48-40ed-aabd-0b5fef37cc9d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_applicationstage",
              "subscriptionRequest/filterexpression": "bsr_applicationstage eq 760810004"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "905d7e73-ceb5-48b5-b111-2865fd8a8638"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "Get_Queue_by_ID": {
          "runAfter": {
            "EmailAddress": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9098d090-6823-4f77-bfc3-36f147e16be3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Applicant_by_ID": {
          "runAfter": {
            "Get_Queue_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b91aa0c-ae70-41b3-9444-959491c6aa9a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_bsr_registreeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Applicant_Compose": {
          "runAfter": {
            "Get_Applicant_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48d8aba5-a686-4a05-87a1-f93ff06bf0f3"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Applicant_by_ID')?['body/fullname']"
        },
        "Get_Building_by_ID": {
          "runAfter": {
            "Applicant_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a6606ec-beb4-460c-a226-0b6974f5d6c2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_Building_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "692e9b9e-611c-4e13-ae5e-487ccecb7b81"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Building_by_ID')?['body/bsr_name']"
        },
        "Get_Payment_record_": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d50f8616-e54b-405a-b911-7f8051b2fda5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_payments",
              "$filter": "_bsr_buildingapplicationid_value eq @{triggerOutputs()?['body/bsr_buildingapplicationid']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "EmailAddress": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23b69af7-db56-4009-ad73-8a55d656e6a5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailAddress",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_Payment_record_')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e3102d33-4013-4c6a-b7f9-049dc6e1899f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "emailAddress",
                "value": "@items('Apply_to_each')?['bsr_emailaddress']"
              }
            }
          },
          "runAfter": {
            "Date_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "67f8a7b8-c9e7-4dea-a4c5-c0cf4ce44830"
          },
          "type": "Foreach"
        },
        "Get_Email_Template": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "199b74de-ab55-48e0-a241-a3792d52994c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "templates",
              "recordId": "bffcbbc6-6b25-ee11-9965-002248c725da"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_variable_2": {
          "runAfter": {
            "Get_Email_Template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43c6d5d4-79da-4d4a-ae8f-71ceb1b9cce9"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "EmailBody",
            "value": "@outputs('Get_Email_Template')?['body/safehtml']"
          }
        },
        "Check_Condition_before_3rd_September": {
          "actions": {
            "Email": {
              "runAfter": {
                "Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7f864757-6ba9-487d-b303-e442ff01d83e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                    }
                  ],
                  "item/description": "@outputs('Description_Compose')",
                  "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                  "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Perform_a_bound_action": {
              "runAfter": {
                "Email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76ecb919-604d-483b-af8d-0e36a7c2927f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('Email')?['body/activityid']",
                  "item/IssueSend": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Description_Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "67f6d404-7793-4a69-aad0-d2c350f3df5b"
              },
              "type": "Compose",
              "inputs": "@replace(replace(replace(replace(replace(variables('EmailBody'),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid']),'%setInvoiceRaiseddate%','30 September 2023'),'%invoiceEmailaddress%', variables('emailAddress'))"
            },
            "Html_to_text": {
              "runAfter": {
                "Description_Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2339ccf-e9f4-448e-8da6-1dfabcb5140e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_conversionservice_1",
                  "operationId": "HtmlToText",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                },
                "parameters": {
                  "Content": "<p>@{outputs('Get_Email_Template')?['body/subjectsafehtml']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Set_variable_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Description_Compose1": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d696e640-5ede-473c-9622-957642244a50"
                },
                "type": "Compose",
                "inputs": "@replace(replace(replace(replace(replace(variables('EmailBody'),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid']),'%setInvoiceRaiseddate%',formatDateTime(triggerOutputs()?['body/bsr_setinvoiceraiseddate'],'dd/MM/yyyy')),'%invoiceEmailaddress%', variables('emailAddress'))"
              },
              "Html_to_text2": {
                "runAfter": {
                  "Description_Compose1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "a5bd4de1-47a5-4db4-8c1b-cb7cca347495"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_conversionservice_1",
                    "operationId": "HtmlToText",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                  },
                  "parameters": {
                    "Content": "<p>@{outputs('Get_Email_Template')?['body/subjectsafehtml']}</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Email1": {
                "runAfter": {
                  "Html_to_text2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6fb1c500-ffac-4c3e-96fd-24d795ada8b6"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emails",
                    "item/activitypointer_activity_parties": [
                      {
                        "participationtypemask": 1,
                        "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID')?['body/queueid']})"
                      },
                      {
                        "participationtypemask": 2,
                        "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                      }
                    ],
                    "item/description": "@outputs('Description_Compose1')",
                    "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                    "item/subject": "@replace(outputs('Html_to_text2')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Perform_a_bound_action_2": {
                "runAfter": {
                  "Email1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "db5edce1-35b0-40d2-9614-ee6f6a1b6981"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "PerformBoundAction",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "emails",
                    "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                    "recordId": "@outputs('Email1')?['body/activityid']",
                    "item/IssueSend": true
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "less": [
              "@formatDateTime(utcNow(),'yyyy-MM-dd')",
              "@formatDateTime('2023-09-03')"
            ]
          },
          "metadata": {
            "operationMetadataId": "15c7987a-02d6-45be-8449-2afa5e2d55c6"
          },
          "type": "If"
        },
        "Date_Compose": {
          "runAfter": {
            "Get_Payment_record_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "716616df-051d-434d-90d0-97a9f9700ed5"
          },
          "type": "Compose",
          "inputs": "@formatDateTime(triggerOutputs()?['body/bsr_setinvoiceraiseddate'],'dd/MM/yyyy')"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}