Customization/WS1/Managed/BuildingRegProcesses/Workflows/SetBACApplicationName-23336AAD-F0CB-EE11-9079-6045BD0C1726.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_BAC_Application_row_is_added,_modified": {
          "metadata": {
            "operationMetadataId": "b3cf685f-0d7f-4433-8431-ff8d75ad5f0a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_bacapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_bacapplicationnumber,bsr_buildingid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_Building_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0ba5d8b3-9982-419c-a75f-423e4cb81b49"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildings",
                  "recordId": "@triggerOutputs()?['body/_bsr_buildingid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose": {
              "runAfter": {
                "Get_Building_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "28b8a79d-c784-45c4-9fa5-c843b7eac75a"
              },
              "type": "Compose",
              "inputs": "@{triggerOutputs()?['body/bsr_bacapplicationnumber']} - @{outputs('Get_Building_row_by_ID')?['body/bsr_name']}"
            },
            "Update_Name": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "780de746-01e0-4053-809e-e06f57770820"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_bacapplications",
                  "recordId": "@triggerOutputs()?['body/bsr_bacapplicationid']",
                  "item/bsr_name": "@outputs('Compose')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_bsr_buildingid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "01032e1a-5e4b-4233-9a35-6dc3be855f76"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}