Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/AutoPopulateNamefieldforStructureBuildingWorkstabl-DB4BCB3E-CB09-EE11-8F6E-002248C725DA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_'Structure_Building_Work'_row_is_added": {
          "metadata": {
            "operationMetadataId": "c2a9df61-03a3-4b32-921b-d1f74836a1df"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_structurebuildingwork",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Structure_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f32c47f6-7cd6-496f-b92a-c4f70136c9f9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blocks",
              "recordId": "@triggerOutputs()?['body/_bsr_structure_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Building_Work_row_by_ID": {
          "runAfter": {
            "Get_Structure_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "33613354-1bef-48d7-b172-ee5368784fef"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blockmaterialchanges",
              "recordId": "@triggerOutputs()?['body/_bsr_buildingwork_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_Building_Work_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fbfd870a-2ed2-4013-b98e-89b708ef5b94"
          },
          "type": "Compose",
          "inputs": "@{outputs('Get_Structure_row_by_ID')?['body/bsr_name']} - @{outputs('Get_Building_Work_row_by_ID')?['body/bsr_name']}"
        },
        "Update_Structure_Building_Work": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5065339-b57c-4eed-b8e4-30dd87494bda"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_structurebuildingworks",
              "recordId": "@triggerOutputs()?['body/bsr_structurebuildingworkid']",
              "item/bsr_name": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}