Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/AutoPopulateNamefieldforStructureFireSmokeProvisio-4D6E1A16-D806-EE11-8F6E-002248C727E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_'Structure_Fire_Smoke_Provision'_row_is_added": {
          "metadata": {
            "operationMetadataId": "f1d2d6a5-0e49-49ef-becc-3346251e2ade"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_blockfiresmokeprovision",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Structure_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "61a48a4a-ee6e-4d2d-878a-79413773ab9d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blocks",
              "recordId": "@triggerOutputs()?['body/_bsr_blockid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Fire_Smoke_Provision_row_by_ID": {
          "runAfter": {
            "Get_Structure_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41793f0a-1d6b-41c6-aa98-b9a1b6fec37e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_firesmokeprovisions",
              "recordId": "@triggerOutputs()?['body/_bsr_firesmokeprovisionid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_Fire_Smoke_Provision_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bf41421-d910-46f1-8d5e-d1cc1aa1f566"
          },
          "type": "Compose",
          "inputs": "@{outputs('Get_Structure_row_by_ID')?['body/bsr_name']} - @{outputs('Get_Fire_Smoke_Provision_row_by_ID')?['body/bsr_name']}"
        },
        "Update_'Structure_Fire_Smoke_Provision'_": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ef1e74d-7901-4ad9-85b3-ab4b1d616028"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blockfiresmokeprovisions",
              "recordId": "@triggerOutputs()?['body/bsr_blockfiresmokeprovisionid']",
              "item/bsr_name": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}