Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/AutoPopulateNamefieldforStructureExternalFeatureta-A29C510F-D406-EE11-8F6E-002248C727E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Structure_External_Feature_row_is_added": {
          "metadata": {
            "operationMetadataId": "de2ad8f2-1a94-4051-9cb0-6d79c3b348bb"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_blockexternalfeature",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Structure_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8349f270-4b56-456b-91f1-8ade8b66e112"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blocks",
              "recordId": "@triggerOutputs()?['body/_bsr_blockid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_External_Feature_row_by_ID": {
          "runAfter": {
            "Get_Structure_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "07494893-75d8-4abb-9288-a6f3cbdb6371"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_externalfeaturetypes",
              "recordId": "@triggerOutputs()?['body/_bsr_externalfeaturetypeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_External_Feature_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb18e61e-632e-4f69-af4f-3f44f52d7839"
          },
          "type": "Compose",
          "inputs": "@{outputs('Get_Structure_row_by_ID')?['body/bsr_name']} - @{outputs('Get_External_Feature_row_by_ID')?['body/bsr_name']}"
        },
        "Update_Structure_External_Feature_": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98a771d4-724b-455d-abf2-3d1a32535bce"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blockexternalfeatures",
              "recordId": "@triggerOutputs()?['body/bsr_blockexternalfeatureid']",
              "item/bsr_name": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}