Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/AutoPopulateNamefieldforStructureConnectionstable-1CFBD44F-CD09-EE11-8F6E-002248C727E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Connected_Structure_row_is_added": {
          "metadata": {
            "operationMetadataId": "cbf97af2-e980-4763-93cb-26b26dd10d2b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_connectedblock",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Building_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "03017caa-7dae-4b48-b410-75bffe363b2a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Structure_Connection_Type_row_by_ID": {
          "runAfter": {
            "Get_Building_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4107889f-5f1b-4d4f-a798-c1a826f2c196"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_structureconnectiontypes",
              "recordId": "@triggerOutputs()?['body/_bsr_structureconnectiontypeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose": {
          "runAfter": {
            "Get_Structure_Connection_Type_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d47f3437-8f6e-4af4-9c76-b3b7d24b03a7"
          },
          "type": "Compose",
          "inputs": "@{outputs('Get_Building_row_by_ID')?['body/bsr_name']} - @{outputs('Get_Structure_Connection_Type_row_by_ID')?['body/bsr_name']}"
        },
        "Update_Connected_Structure_row": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b320a982-a8f0-4c3b-a6b7-f2b486b28511"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_connectedblocks",
              "recordId": "@triggerOutputs()?['body/bsr_connectedblockid']",
              "item/bsr_name": "@outputs('Compose')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}