Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/CreateaQualityAssurancerecordwhenanApplicationStat-0F0464DC-A1BD-ED11-83FE-000D3A86E5B0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Application_Status_is_modified_to_QA_in_progress_": {
          "metadata": {
            "operationMetadataId": "56f9c1e4-16b5-4acf-bc44-b83b184da99c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode eq 760810009"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Compose": {
              "runAfter": {
                "Get_Building_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "428463d9-2533-4b47-a597-0a9342349af2"
              },
              "type": "Compose",
              "inputs": "@{triggerOutputs()?['body/bsr_applicationid']} - @{outputs('Get_Building_by_ID')?['body/bsr_name']}"
            },
            "Add_a_new_row_in_Quality_Assurance_table": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a3406a3d-3150-404d-a77e-06c052105638"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_qualityassurances",
                  "item/bsr_BuildingApplication@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                  "item/bsr_name": "@outputs('Compose')",
                  "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_ownerid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Building_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "28b48c6e-f90d-4109-a4ce-578b9ca732e0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildings",
                  "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/bsr_buildingapplicationid']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_bsr_building_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e95a06bb-44a6-4a42-b340-70c88eb9a012"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}