Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SendEmailnotificationonupdateofBACStageforBACAppli-11A2B767-B7D0-EE11-9079-6045BD0C14E5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversion"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "f5d98fd6-74b7-ed11-b597-0022481b5e4f",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        },
        "SharePoint Site URL (bsr_sharepointsiteurl)": {
          "defaultValue": "https://hsegov.sharepoint.com/sites/bsr-ws1-dev",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointsiteurl"
          }
        },
        "SharePoint BAC Folder ID (bsr_sharepointbacfolderid)": {
          "defaultValue": "b5ee69a2-8194-4a35-b7b1-5eba18bc37f2",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointbacfolderid"
          }
        }
      },
      "triggers": {
        "On_Update_of_BAC_Stage": {
          "metadata": {
            "operationMetadataId": "270b5636-c0bb-4c9f-87b7-45a75be7268d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_bacapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_bacstageid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "BAC_Stage_is_Application_Submitted": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e8393ad7-d804-4062-90b2-17b4bed4009c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "EmailBody",
                "value": "@outputs('Get_Template(Card)')?['body/safehtml']"
              }
            },
            "Check_Pap_Type_is_Individual": {
              "actions": {
                "Check_Secondary_Applicant_value_is_available_or_not": {
                  "actions": {
                    "Add_a_new_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4ba33bdd-8147-4f4b-80a6-87deced2841f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_papid_value']})"
                            },
                            {
                              "participationtypemask": 3,
                              "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                            }
                          ],
                          "item/description": "@outputs('SharePoint_Compose')",
                          "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                          "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Perform_a_bound_action": {
                      "runAfter": {
                        "Add_a_new_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1e993c54-02e7-4e80-85ab-28e1d3f9fa07"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Add_a_new_row')?['body/activityid']",
                          "item/IssueSend": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Add_a_new_row_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b0cef74a-0d10-4154-ac75-e50e2969458a"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "item/activitypointer_activity_parties": [
                              {
                                "participationtypemask": 1,
                                "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                              },
                              {
                                "participationtypemask": 2,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_papid_value']})"
                              },
                              {
                                "participationtypemask": 3,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                              },
                              {
                                "participationtypemask": 3,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']})"
                              }
                            ],
                            "item/description": "@outputs('SharePoint_Compose')",
                            "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                            "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Perform_a_bound_action_2": {
                        "runAfter": {
                          "Add_a_new_row_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "45f615f9-3c51-433f-b80b-e7aa927c9074"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "PerformBoundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                            "recordId": "@outputs('Add_a_new_row_2')?['body/activityid']",
                            "item/IssueSend": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']",
                      "@null"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a336003f-5fd7-43f3-9dc9-6cdb7b687f6d"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "SharePoint_Compose": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Check_Secondary_Applicant_value_is_available_or_not1": {
                    "actions": {
                      "Add_a_new_row_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "abff55e7-e080-4cdc-a7cd-f22f86b91b9e"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "item/activitypointer_activity_parties": [
                              {
                                "participationtypemask": 1,
                                "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                              },
                              {
                                "participationtypemask": 2,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_paporgleadcontactid_value']})"
                              },
                              {
                                "participationtypemask": 3,
                                "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                              }
                            ],
                            "item/description": "@outputs('SharePoint_Compose')",
                            "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                            "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Perform_a_bound_action_3": {
                        "runAfter": {
                          "Add_a_new_row_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "cdd874ef-b150-4705-b156-a1cbf8be9b9c"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "PerformBoundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "emails",
                            "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                            "recordId": "@outputs('Add_a_new_row_3')?['body/activityid']",
                            "item/IssueSend": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Add_a_new_row_4": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ef956010-e12c-490a-82b9-adfb11a21fe9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "item/activitypointer_activity_parties": [
                                {
                                  "participationtypemask": 1,
                                  "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                                },
                                {
                                  "participationtypemask": 2,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_paporgleadcontactid_value']})"
                                },
                                {
                                  "participationtypemask": 3,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                                },
                                {
                                  "participationtypemask": 3,
                                  "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']})"
                                }
                              ],
                              "item/description": "@outputs('SharePoint_Compose')",
                              "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                              "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Perform_a_bound_action_4": {
                          "runAfter": {
                            "Add_a_new_row_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2242518f-8eb8-4c3a-9247-1d584383af12"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "PerformBoundAction",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                              "recordId": "@outputs('Add_a_new_row_4')?['body/activityid']",
                              "item/IssueSend": true
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']",
                        "@null"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "01f6afa0-4d66-4936-9370-15cbb282d44c"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_Building_Application_row_by_ID')?['body/bsr_paptype']",
                  760810000
                ]
              },
              "metadata": {
                "operationMetadataId": "c7e8f797-43ce-4636-90e2-95409eac46dc"
              },
              "type": "If"
            },
            "Html_to_text": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c492959-1a50-4c10-9410-bee3d1b3dd1c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_conversionservice_1",
                  "operationId": "HtmlToText",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                },
                "parameters": {
                  "Content": "<p>@{outputs('Get_Template(Card)')?['body/subjectsafehtml']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "SharePoint_Compose": {
              "runAfter": {
                "Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ca960451-baa5-4016-b43e-3577b22f292f"
              },
              "type": "Compose",
              "inputs": "@replace(replace(replace(variables('EmailBody'),'%applicationId%',outputs('Get_Building_Application_row_by_ID')?['body/bsr_applicationid']),'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name']),'%documentName%',variables('documentName'))"
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "BAC_Stage_is_Invoice_Raised": {
                "actions": {
                  "Set_variable_3": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d1253a48-527e-4275-84b0-f95c66099283"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "EmailBody",
                      "value": "@outputs('Get_Template(Invoice)')?['body/safehtml']"
                    }
                  },
                  "Html_to_text_3": {
                    "runAfter": {
                      "Set_variable_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ff816c1c-09e4-40d5-992e-d3316c383e9e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_conversionservice_1",
                        "operationId": "HtmlToText",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                      },
                      "parameters": {
                        "Content": "<p>@{outputs('Get_Template(Invoice)')?['body/subjectsafehtml']}</p>"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Compose_3": {
                    "runAfter": {
                      "Html_to_text_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d48b0de3-3ed2-4530-8bba-139741fd53c8"
                    },
                    "type": "Compose",
                    "inputs": "@replace(replace(replace(replace(variables('EmailBody'),'%applicant%',outputs('Get_Primary_Applicant_by_ID')?['body/fullname']),'%applicationId%',outputs('Get_Building_Application_row_by_ID')?['body/bsr_applicationid']),'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name']),'%documentName%',variables('documentName'))"
                  },
                  "Check_Pap_Type_is_Individual1": {
                    "actions": {
                      "Check_Secondary_Applicant_value_is_available_or_not2": {
                        "actions": {
                          "Add_a_new_row_5": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "a32390f1-8aa0-45a0-9ce9-2c6693214964"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "item/activitypointer_activity_parties": [
                                  {
                                    "participationtypemask": 1,
                                    "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                                  },
                                  {
                                    "participationtypemask": 2,
                                    "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_papid_value']})"
                                  },
                                  {
                                    "participationtypemask": 3,
                                    "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                                  }
                                ],
                                "item/description": "@outputs('Compose_3')",
                                "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                                "item/subject": "@replace(outputs('Html_to_text_3')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Perform_a_bound_action_5": {
                            "runAfter": {
                              "Add_a_new_row_5": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "05c24356-84d3-4edb-93e5-ea596f7f50f8"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "PerformBoundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                "recordId": "@outputs('Add_a_new_row_5')?['body/activityid']",
                                "item/IssueSend": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Add_a_new_row_6": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "262e4f56-a83b-48e8-979e-5ef8bdec29ce"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": [
                                    {
                                      "participationtypemask": 1,
                                      "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                                    },
                                    {
                                      "participationtypemask": 2,
                                      "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_papid_value']})"
                                    },
                                    {
                                      "participationtypemask": 3,
                                      "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                                    },
                                    {
                                      "participationtypemask": 3,
                                      "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']})"
                                    }
                                  ],
                                  "item/description": "@outputs('Compose_3')",
                                  "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                                  "item/subject": "@replace(outputs('Html_to_text_3')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Perform_a_bound_action_6": {
                              "runAfter": {
                                "Add_a_new_row_6": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6e0abbf6-de0a-4d25-b76b-566db384fed0"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_6')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']",
                            "@null"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "cd3885d9-9ddf-4aae-bbb2-5e1aa70465a4"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {
                      "Compose_3": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Check_Secondary_Applicant_value_is_available_or_not3": {
                          "actions": {
                            "Add_a_new_row_7": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "53995154-4c6c-4cb5-93cc-b685a2d61b92"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": [
                                    {
                                      "participationtypemask": 1,
                                      "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                                    },
                                    {
                                      "participationtypemask": 2,
                                      "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_paporgleadcontactid_value']})"
                                    },
                                    {
                                      "participationtypemask": 3,
                                      "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                                    }
                                  ],
                                  "item/description": "@outputs('Compose_3')",
                                  "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                                  "item/subject": "@replace(outputs('Html_to_text_3')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Perform_a_bound_action_7": {
                              "runAfter": {
                                "Add_a_new_row_7": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8f8d4c4f-a3c1-45b9-bd4f-83e7529c870b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_7')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Add_a_new_row_8": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "687ea01d-ec15-4dc6-a7ff-d2e22584615a"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "CreateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "emails",
                                    "item/activitypointer_activity_parties": [
                                      {
                                        "participationtypemask": 1,
                                        "partyid@odata.bind": "queues(@{outputs('Get_Queue')?['body/queueid']})"
                                      },
                                      {
                                        "participationtypemask": 2,
                                        "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_paporgleadcontactid_value']})"
                                      },
                                      {
                                        "participationtypemask": 3,
                                        "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']})"
                                      },
                                      {
                                        "participationtypemask": 3,
                                        "partyid@odata.bind": "contacts(@{outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']})"
                                      }
                                    ],
                                    "item/description": "@outputs('Compose_3')",
                                    "item/regardingobjectid_bsr_bacapplication_email@odata.bind": "\\bsr_bacapplications\\@{triggerOutputs()?['body/bsr_bacapplicationid']}",
                                    "item/subject": "@replace(outputs('Html_to_text_3')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Perform_a_bound_action_8": {
                                "runAfter": {
                                  "Add_a_new_row_8": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "30f2a589-fabf-4fa1-b718-e8b2b7d95d90"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "PerformBoundAction",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "emails",
                                    "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                    "recordId": "@outputs('Add_a_new_row_8')?['body/activityid']",
                                    "item/IssueSend": true
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_secondaryapplicantid_value']",
                              "@null"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "179c202d-4173-484f-9a24-14c3b89bd6f8"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Get_Building_Application_row_by_ID')?['body/bsr_paptype']",
                        760810000
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1835bc41-8afb-4668-9f47-daeaa8373a96"
                    },
                    "type": "If"
                  }
                },
                "runAfter": {},
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/bsr_bacstageid']",
                    760810003
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b0a9128b-76f6-4bf8-965a-39855d720298"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/bsr_bacstageid']",
              760810001
            ]
          },
          "metadata": {
            "operationMetadataId": "279899b7-d2f3-4ddf-8333-bc1d690a4a83"
          },
          "type": "If"
        },
        "Initialize_Primary_Applicant": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b8e0d696-7fb0-4339-891c-4e197067052a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "primaryFullName",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_ApplicationId": {
          "runAfter": {
            "Initialize_Secondary_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2337eb32-9249-4ec4-803d-430203e5051d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "applicationId",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Building_Name": {
          "runAfter": {
            "Initialize_ApplicationId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "53bf4f1e-52cc-4689-8914-3c4129f003c6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Building Name",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_PAP": {
          "runAfter": {
            "Initialize_Building_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d04f48b3-e67b-41e5-8cb5-df41a8021aff"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "pap",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Org_Lead_Contact": {
          "runAfter": {
            "Initialize_PAP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "996a0e98-3ce9-4c04-9124-b0fa77a306dd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "orgLeadContact",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_Org_Lead_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ef9b85d5-f64b-4a62-bcea-01282c5f199d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Secondary_Applicant": {
          "runAfter": {
            "Initialize_Primary_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ea2312c-5d5a-4c17-9662-e8d84ba62d17"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "secondaryApplicant",
                "type": "boolean"
              }
            ]
          }
        },
        "Get_Queue": {
          "runAfter": {
            "Initialize_Document_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77afdc82-96e8-4af9-a05a-87db4f4d10a2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Building_Application_row_by_ID": {
          "runAfter": {
            "Get_Queue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b62e5244-cb37-4625-a36f-8891822b45a4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingapplications",
              "recordId": "@triggerOutputs()?['body/_bsr_buildingapplicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Building_Name": {
          "runAfter": {
            "Get_Building_Application_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1bf63af-3554-4baa-859f-ee93e8eb8d7d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_building_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows_from_BAC_Application": {
          "runAfter": {
            "Get_Primary_Applicant_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4b1fb64-47f3-4e28-84cf-27b9d4ae432a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_bacapplications",
              "$filter": "_bsr_buildingapplicationid_value eq @{outputs('Get_Building_Application_row_by_ID')?['body/bsr_buildingapplicationid']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Template(Card)": {
          "runAfter": {
            "List_rows_from_BAC_Application": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a284d016-884d-4dab-afb3-b7b6efc3afb0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "templates",
              "recordId": "936694b3-abd0-ee11-9079-6045bd0c14e5"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Template(Invoice)": {
          "runAfter": {
            "Get_Template(Card)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea97d4d8-a5d1-482e-bc8e-41b9fbdb0c42"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "templates",
              "recordId": "7009ce66-afd0-ee11-9079-6045bd0c14e5"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Building_Name": {
          "runAfter": {
            "Get_Template(Invoice)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "699a6d47-f155-41c5-a7cf-5bee1524b45f"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Building Name",
            "value": "@outputs('Get_Building_Name')?['body/bsr_name']"
          }
        },
        "Set_Application_Id": {
          "runAfter": {
            "Set_Building_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42072f9b-09a4-45df-9f05-7f9a9685b4e5"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "applicationId",
            "value": "@outputs('Get_Building_Application_row_by_ID')?['body/bsr_applicationid']"
          }
        },
        "Get_Primary_Applicant_by_ID": {
          "runAfter": {
            "Get_Building_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "72a6acf9-ebd5-4385-8634-95e382987f4b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Building_Application_row_by_ID')?['body/_bsr_registreeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Primary_Applicant": {
          "runAfter": {
            "Set_Application_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e5c13532-2e52-40ee-8f3f-00cbc18c9a36"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "primaryFullName",
            "value": "@outputs('Get_Primary_Applicant_by_ID')?['body/fullname']"
          }
        },
        "Initialize_Document_Name": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2799b7ab-b8c4-4150-af31-209c1edb406c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "documentName",
                "type": "string"
              }
            ]
          }
        },
        "Get_files_from_SharePoint": {
          "runAfter": {
            "Set_Primary_Applicant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "69391a88-9593-4722-8a5f-ce521e68b2a2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetFileItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharePoint Site URL (bsr_sharepointsiteurl)')",
              "table": "@parameters('SharePoint BAC Folder ID (bsr_sharepointbacfolderid)')",
              "$filter": "FSObjType eq 0"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array_2": {
          "runAfter": {
            "Get_files_from_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c63ddeb7-55f0-4b4a-9718-04c3526b88d4"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('Get_files_from_SharePoint')?['body/value']",
            "where": "@contains(item()?['{Path}'], triggerOutputs()?['body/bsr_bacapplicationnumber'])"
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Filter_array_2')",
          "actions": {
            "Condition": {
              "actions": {
                "Doc_-_Compose_for_first_time": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3fd6a918-84e2-4f89-a82f-62db02bcc0cf"
                  },
                  "type": "Compose",
                  "inputs": "@items('Apply_to_each')['{FilenameWithExtension}']"
                },
                "Set_Document_names_1": {
                  "runAfter": {
                    "Doc_-_Compose_for_first_time": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c0e13684-4512-432e-8cb7-1f9faf6656a1"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "documentName",
                    "value": "@{outputs('Doc_-_Compose_for_first_time')}"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Append_Doc_names": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3fd6a918-84e2-4f89-a82f-62db02bcc0cf"
                    },
                    "type": "Compose",
                    "inputs": "@{variables('documentName')} <br />@{items('Apply_to_each')['{FilenameWithExtension}']}"
                  },
                  "Set_Document_names_2": {
                    "runAfter": {
                      "Append_Doc_names": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e7d7562d-64f2-4459-93ed-378fab1064f7"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "documentName",
                      "value": "@{outputs('Append_Doc_names')}"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@empty(variables('documentName'))",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "a03fb5aa-a762-49ee-90cf-af01a1570c66"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Filter_array_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "371fa0a6-da15-4647-a08d-ccb176fad880"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}