Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SendEmailwhenPrimaryorSecondaryuserhasbeenaddedtot-F872E448-4552-EE11-BE6F-002248C725DA.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedconversionservice_7babd"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "f5d98fd6-74b7-ed11-b597-0022481b5e4f",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_Change_Request_record_Modified": {
          "metadata": {
            "operationMetadataId": "0fbaffe6-ed72-42ca-bdcf-2a3556ad569f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_registreeid,bsr_secondaryapplicantid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Secondary_applicant_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "88ff0092-bf78-4c10-918c-5508d8eb9c8d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_changerequests",
              "$filter": "_bsr_buildingapplicationid_value  eq @{triggerOutputs()?['body/bsr_buildingapplicationid']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Get_Template_row_by_ID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "abc5335a-f7e3-4861-99cc-63808a6c27ec"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "templates",
                      "recordId": "766c9873-8250-ee11-be6f-002248c727e7"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable": {
                  "runAfter": {
                    "Get_Template_row_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c93cc274-6c74-4a8b-8d15-06012b3eb27f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "emailBody",
                    "value": "@outputs('Get_Template_row_by_ID')?['body/safehtml']"
                  }
                },
                "Compose": {
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c10a2c7d-e7ec-4602-82c1-f8d9e477fce1"
                  },
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(variables('EmailBody'),'%secondaryApplicant%',outputs('Get_Secondary_Applicant_by_ID')?['body/fullname']),'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                },
                "Add_a_new_row": {
                  "runAfter": {
                    "Html_to_text": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e0778723-0146-4ed3-90b6-a07ae3f289e7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 1,
                          "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID')?['body/queueid']})"
                        },
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_secondaryapplicantid_value']})"
                        }
                      ],
                      "item/description": "@outputs('Compose')",
                      "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                      "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Html_to_text": {
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f25ded54-2378-48ea-b118-f7cb2a5eee2a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_conversionservice",
                      "operationId": "HtmlToText",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                    },
                    "parameters": {
                      "Content": "<p>@{outputs('Get_Template_row_by_ID')?['body/subjectsafehtml']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Perform_a_bound_action": {
                  "runAfter": {
                    "Add_a_new_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8f6b8081-c2be-402e-9769-bddb6a332501"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Add_a_new_row')?['body/activityid']",
                      "item/IssueSend": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each')?['bsr_declaration']",
                      true
                    ]
                  },
                  {
                    "equals": [
                      "@items('Apply_to_each')?['statuscode']",
                      760810001
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d1cf557f-cbf4-4108-aa4b-eb35ef37783b"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa7a671c-7255-46f3-b6ef-fd994168366e"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "25a3bde2-3b5e-41c5-a337-cd53758a9168"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailBody",
                "type": "string"
              }
            ]
          }
        },
        "Get_Building_Name": {
          "runAfter": {
            "Get_Queue_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "20b3aa27-2872-49f7-b96c-870bfa8a6993"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Building_Name_Compose": {
          "runAfter": {
            "Get_Building_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5de07b1-10c3-4164-8837-a0e9209008d0"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Building_Name')?['body/bsr_name']"
        },
        "Get_Queue_by_ID": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "211800fd-9827-4f22-9d84-0fbaa9c7b97f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Primary_Applicant_by_ID": {
          "runAfter": {
            "Building_Name_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "31c96f4a-7c3a-4cc2-b2ca-11d5ef77379a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_bsr_registreeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Primary_applicant_Compose": {
          "runAfter": {
            "Get_Primary_Applicant_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c5d5287-6cd0-47a0-adaf-e1012079297a"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Primary_Applicant_by_ID')?['body/fullname']"
        },
        "Get_Secondary_Applicant_by_ID": {
          "runAfter": {
            "Primary_applicant_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "17aaf6db-7100-42d3-84ca-f0bcdf0cf7af"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_bsr_secondaryapplicantid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Secondary_applicant_Compose": {
          "runAfter": {
            "Get_Secondary_Applicant_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5fb71b7-6d88-4650-bbc5-fb94138c1450"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Secondary_Applicant_by_ID')?['body/fullname']"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}