Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SendEmailnotificationsforRegisteredBuildingApplica-7FADDAB7-17FA-ED11-8F6D-002248C727E7.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversion"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "f5d98fd6-74b7-ed11-b597-0022481b5e4f",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_Building_Application_record_is_modified_to_registered": {
          "metadata": {
            "operationMetadataId": "b52bed7d-1873-4d60-94a6-68f02ff38b75"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode eq 760810015"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "85027d90-766e-4717-a9cd-db4926b191f6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "PAP_Type_is_Individual_and_PAP_is_the_same_as_the_Applicant": {
          "actions": {
            "Get_Template_By_Filter": {
              "runAfter": {
                "Compose_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "51460acf-d612-4f0e-8677-0fd5e0cb2608"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "templates",
                  "$filter": "templateid eq '7c71913e-11fa-ed11-8f6d-002248c725da'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_Template_By_Filter')?['body/value']",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4b3331fb-7cdc-4a13-a1e5-b6e40d196fdd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "EmailBody",
                    "value": "@items('Apply_to_each')?['safehtml']"
                  }
                },
                "Compose_2": {
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8be59462-ed3e-4a5c-a2b6-88d7573a7ace"
                  },
                  "type": "Compose",
                  "inputs": "@replace(replace(replace(replace(replace(variables('EmailBody'),'%papId%',outputs('Get_PAP')?['body/fullname']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                },
                "Html_to_text": {
                  "runAfter": {
                    "Compose_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8f901599-47a0-49ca-9579-d6a419adaffd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_conversionservice_1",
                      "operationId": "HtmlToText",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                    },
                    "parameters": {
                      "Content": "<p>@{items('Apply_to_each')?['subjectsafehtml']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_2": {
                  "foreach": "@outputs('Get_Template_By_Filter')?['body/value']",
                  "actions": {
                    "Email_Message": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2a05d69d-834e-465d-8bc8-8ba749aa2620"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                            }
                          ],
                          "item/description": "@outputs('Compose_2')",
                          "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                          "item/subject": "@replace(outputs('Html_to_text')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Perform_a_bound_action": {
                      "runAfter": {
                        "Email_Message": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "89aa7279-9a1f-47ff-9ac0-b53a9799bba3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Email_Message')?['body/activityid']",
                          "item/IssueSend": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Html_to_text": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3ddb7387-40e0-4dd3-95a7-3a7fffdc303f"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Template_By_Filter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9d0e0b62-c049-43cd-8da8-278b1ddb0bf7"
              },
              "type": "Foreach"
            },
            "Get_PAP": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "26b87af3-63c3-410c-b15a-d69561e2e2c9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose_3": {
              "runAfter": {
                "Get_PAP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e053c746-7f76-4386-989c-1bc93f246d78"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_PAP')?['body/fullname']"
            }
          },
          "runAfter": {
            "Applicant_Compose": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "PAP_Type_is_Individual_and_PAP_is_different_from_the_Applicant1": {
                "actions": {
                  "Get_PAP3": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "f69ca8fc-bcd9-4be0-8e64-8ffa2468d563"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Compose_16": {
                    "runAfter": {
                      "Get_PAP3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "2bacece4-c09a-4c81-9a72-e43632dbdbf5"
                    },
                    "type": "Compose",
                    "inputs": "@outputs('Get_PAP3')?['body/fullname']"
                  },
                  "Get_Template_By_Filter3": {
                    "runAfter": {
                      "Compose_16": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c8c1bbbe-f0de-438f-bc4d-840251f78dfd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "templates",
                        "$filter": "templateid eq '05fccd9f-ddfa-ed11-8f6d-002248c725da'",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_7": {
                    "foreach": "@outputs('Get_Template_By_Filter3')?['body/value']",
                    "actions": {
                      "Set_variable_4": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "995b9021-8441-42df-9c1d-fa801df6426a"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "EmailBody",
                          "value": "@items('Apply_to_each_7')?['safehtml']"
                        }
                      },
                      "Compose_18": {
                        "runAfter": {
                          "Set_variable_4": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "892036bc-1379-4860-b4c2-8fdf6807d28b"
                        },
                        "type": "Compose",
                        "inputs": "@replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP3')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                      },
                      "Html_to_text3": {
                        "runAfter": {
                          "Compose_18": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a032c247-bf0b-497c-ac6d-32e3a0489a8b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_conversionservice_1",
                            "operationId": "HtmlToText",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                          },
                          "parameters": {
                            "Content": "<p>@{items('Apply_to_each_7')?['subjectsafehtml']}</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_8": {
                        "foreach": "@outputs('Get_Template_By_Filter3')?['body/value']",
                        "actions": {
                          "Email_Message3": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "1b656e40-ec36-4f7c-853f-2633466beb65"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "item/activitypointer_activity_parties": [
                                  {
                                    "participationtypemask": 1,
                                    "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                  },
                                  {
                                    "participationtypemask": 2,
                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                  }
                                ],
                                "item/description": "@outputs('Compose_18')",
                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                "item/subject": "@replace(outputs('Html_to_text3')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Perform_a_bound_action_3": {
                            "runAfter": {
                              "Email_Message3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "65a89217-61eb-4914-9a47-091e0af6c92a"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "PerformBoundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                "recordId": "@outputs('Email_Message3')?['body/activityid']",
                                "item/IssueSend": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Html_to_text3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "48de6bcc-508e-441f-9383-b259fd786fd6"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {
                      "Get_Template_By_Filter3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "99cf2c0b-db10-458d-8446-76549bebc5ee"
                    },
                    "type": "Foreach"
                  },
                  "Get_Template_By_Filter4": {
                    "runAfter": {
                      "Apply_to_each_7": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "58ac18bf-ed16-40cc-a093-d5acac7b24a3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "templates",
                        "$filter": "templateid eq '0916d85b-eafa-ed11-8f6d-002248c725da'",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_9": {
                    "foreach": "@outputs('Get_Template_By_Filter4')?['body/value']",
                    "actions": {
                      "Set_variable_5": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "26cb2f42-0c75-497b-aa76-0ba92c2f12ef"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "EmailBody",
                          "value": "@items('Apply_to_each_9')?['safehtml']"
                        }
                      },
                      "Compose_19": {
                        "runAfter": {
                          "Set_variable_5": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "ff9fb253-f774-4eda-aefa-c3d311db3129"
                        },
                        "type": "Compose",
                        "inputs": "@replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP3')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                      },
                      "Html_to_text4": {
                        "runAfter": {
                          "Compose_19": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f39c6ee9-a512-418b-8093-ef5557d3efe9"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_conversionservice_1",
                            "operationId": "HtmlToText",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                          },
                          "parameters": {
                            "Content": "<p>@{items('Apply_to_each_9')?['subjectsafehtml']}</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_10": {
                        "foreach": "@outputs('Get_Template_By_Filter4')?['body/value']",
                        "actions": {
                          "Email_Message4": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "0d453397-9584-4d62-9cc7-584ae0f2a9dc"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "item/activitypointer_activity_parties": [
                                  {
                                    "participationtypemask": 1,
                                    "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                  },
                                  {
                                    "participationtypemask": 2,
                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_papid_value']})"
                                  }
                                ],
                                "item/description": "@outputs('Compose_19')",
                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                "item/subject": "@replace(outputs('Html_to_text4')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Perform_a_bound_action_4": {
                            "runAfter": {
                              "Email_Message4": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "6dbf681c-4906-4038-8e6c-db76c595d323"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "PerformBoundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                "recordId": "@outputs('Email_Message4')?['body/activityid']",
                                "item/IssueSend": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Html_to_text4": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "cbc92f0a-4e66-485d-b466-1f1fde580025"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {
                      "Get_Template_By_Filter4": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a4ea395c-194a-4da4-b264-a0bfa5620567"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "_PAP_Type_is_Organisation_and_PAP_Org_Lead_Contact_is_the_same_as_the_Applicant": {
                      "actions": {
                        "Get_PAP1": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "737304d6-b14c-4839-8a74-930a6063baee"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Compose_6": {
                          "runAfter": {
                            "Get_PAP1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "aa1d7598-f167-411e-9628-361bf257fb85"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_PAP1')?['body/fullname']"
                        },
                        "Get_PAP_Org_Lead_Contact": {
                          "runAfter": {
                            "Compose_6": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bd99e6cb-8d3d-4015-bee4-89f5757a3b08"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "contacts",
                              "recordId": "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Compose_8": {
                          "runAfter": {
                            "Get_PAP_Org_Lead_Contact": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "bf84de9c-a018-49ea-b307-ab71a93804fd"
                          },
                          "type": "Compose",
                          "inputs": "@outputs('Get_PAP_Org_Lead_Contact')?['body/fullname']"
                        },
                        "Get_Template_By_Filter1": {
                          "runAfter": {
                            "Compose_8": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "504a4747-a788-47b2-88e8-8ad28a4a1d44"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "templates",
                              "$filter": "templateid eq '3fa65a4c-34fa-ed11-8f6d-002248c725da'",
                              "$top": 1
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_3": {
                          "foreach": "@outputs('Get_Template_By_Filter1')?['body/value']",
                          "actions": {
                            "Set_variable_2": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "ad6f83d9-9441-4735-be63-ecd32968dbcb"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "EmailBody",
                                "value": "@items('Apply_to_each_3')?['safehtml']"
                              }
                            },
                            "Compose_9": {
                              "runAfter": {
                                "Set_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "801cd3d6-815a-4acf-aaec-c8a4235a1a56"
                              },
                              "type": "Compose",
                              "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP1')?['body/fullname']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                            },
                            "Html_to_text1": {
                              "runAfter": {
                                "Compose_9": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "0e5e65aa-7f64-4961-9802-b901d9d37628"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_conversionservice_1",
                                  "operationId": "HtmlToText",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                },
                                "parameters": {
                                  "Content": "<p>@{items('Apply_to_each_3')?['subjectsafehtml']}</p>"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Apply_to_each_4": {
                              "foreach": "@outputs('Get_Template_By_Filter1')?['body/value']",
                              "actions": {
                                "Email_Message1": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "cfcb7506-5039-47ee-88f0-8ed1c8529b61"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "CreateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "emails",
                                      "item/activitypointer_activity_parties": [
                                        {
                                          "participationtypemask": 1,
                                          "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                        },
                                        {
                                          "participationtypemask": 2,
                                          "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                        }
                                      ],
                                      "item/description": "@outputs('Compose_9')",
                                      "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                      "item/subject": "@replace(outputs('Html_to_text1')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Perform_a_bound_action_2": {
                                  "runAfter": {
                                    "Email_Message1": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e6110986-63c5-4009-b115-1450c7aa0eb1"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "PerformBoundAction",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "emails",
                                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                      "recordId": "@outputs('Email_Message1')?['body/activityid']",
                                      "item/IssueSend": true
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {
                                "Html_to_text1": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "e2417010-8757-4f27-9933-a060f898e8b4"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Get_Template_By_Filter1": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b0664d53-d62e-4d91-ae0b-722e9592abfd"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "PAP_Type_is_Account(Same_as_above_condition)": {
                            "actions": {
                              "Get_PAP2": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "d03e3ad7-5c82-4417-8869-6f89e6135513"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "accounts",
                                    "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Compose_11": {
                                "runAfter": {
                                  "Get_PAP2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "8c45fe4d-779b-416d-a7dc-69a33e40d03c"
                                },
                                "type": "Compose",
                                "inputs": "@outputs('Get_PAP2')?['body/name']"
                              },
                              "Get_PAP_Org_Lead_Contact1": {
                                "runAfter": {
                                  "Compose_11": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "a72964f9-bc3c-4188-9999-a5b0c4d5dc0a"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "contacts",
                                    "recordId": "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Compose_13": {
                                "runAfter": {
                                  "Get_PAP_Org_Lead_Contact1": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "5b1dd89d-8411-47dc-9d36-46b85b29a2bf"
                                },
                                "type": "Compose",
                                "inputs": "@outputs('Get_PAP_Org_Lead_Contact1')?['body/fullname']"
                              },
                              "Get_a_row_by_ID": {
                                "runAfter": {
                                  "Compose_13": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "d824cebb-3c36-4f81-bcc8-891f29c688e6"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "queues",
                                    "recordId": "f5d98fd6-74b7-ed11-b597-0022481b5e4f"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Get_Template_By_Filter2": {
                                "runAfter": {
                                  "Get_a_row_by_ID": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "211930e9-9e8d-4164-9e45-1977a028e2b0"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "ListRecords",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "templates",
                                    "$filter": "templateid eq '3fa65a4c-34fa-ed11-8f6d-002248c725da'",
                                    "$top": 1
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Apply_to_each_5": {
                                "foreach": "@outputs('Get_Template_By_Filter2')?['body/value']",
                                "actions": {
                                  "Set_variable_3": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "5deb9308-8e96-44be-8090-72901bb97bcc"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "EmailBody",
                                      "value": "@items('Apply_to_each_5')?['safehtml']"
                                    }
                                  },
                                  "Compose_14": {
                                    "runAfter": {
                                      "Set_variable_3": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "fed702f5-36ea-4297-9a60-d4fb142aab05"
                                    },
                                    "type": "Compose",
                                    "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP2')?['body/name']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact1')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                                  },
                                  "Html_to_text2": {
                                    "runAfter": {
                                      "Compose_14": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "d1c1cf4c-8a32-4750-98c6-405e3e0c484f"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connectionName": "shared_conversionservice_1",
                                        "operationId": "HtmlToText",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                      },
                                      "parameters": {
                                        "Content": "<p>@{items('Apply_to_each_5')?['subjectsafehtml']}</p>"
                                      },
                                      "authentication": "@parameters('$authentication')"
                                    }
                                  },
                                  "Apply_to_each_6": {
                                    "foreach": "@outputs('Get_Template_By_Filter2')?['body/value']",
                                    "actions": {
                                      "Add_a_new_row": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "5a442d88-7358-4cb3-b0b7-10f8b218457a"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "CreateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "emails",
                                            "item/activitypointer_activity_parties": [
                                              {
                                                "participationtypemask": 1,
                                                "partyid@odata.bind": "queues(@{outputs('Get_a_row_by_ID')?['body/queueid']})"
                                              },
                                              {
                                                "participationtypemask": 2,
                                                "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                              }
                                            ],
                                            "item/description": "@outputs('Compose_14')",
                                            "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                            "item/subject": "@replace(outputs('Html_to_text2')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Perform_a_bound_action_6": {
                                        "runAfter": {
                                          "Add_a_new_row": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "6dbe9a15-0f90-4fb9-9dcf-7aec18828941"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "PerformBoundAction",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "emails",
                                            "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                            "recordId": "@outputs('Add_a_new_row')?['body/activityid']",
                                            "item/IssueSend": true
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "Html_to_text2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "94fd0c85-12c3-48da-8d37-5671584b7233"
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "runAfter": {
                                  "Get_Template_By_Filter2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "881f1618-14e3-4a33-864e-423f5d07925d"
                                },
                                "type": "Foreach"
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Applicant_not_same_as_PAP_Org_Lead_and_PAP_is_Contact": {
                                  "actions": {
                                    "Get_PAP4": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "469b1d64-683f-4257-9b19-0f6ec356ba89"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "contacts",
                                          "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Compose_20": {
                                      "runAfter": {
                                        "Get_PAP4": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "8882b5a2-3b6d-413b-8d14-2869a5f20f8d"
                                      },
                                      "type": "Compose",
                                      "inputs": "@outputs('Get_PAP4')?['body/fullname']"
                                    },
                                    "Get_PAP_Org_Lead_Contact2": {
                                      "runAfter": {
                                        "Compose_20": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "2e2e2194-a45f-4621-ba3f-e184a4883f36"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "GetItem",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "contacts",
                                          "recordId": "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Compose_21": {
                                      "runAfter": {
                                        "Get_PAP_Org_Lead_Contact2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "d2d55577-5e04-4c13-829f-b2d6ada5e785"
                                      },
                                      "type": "Compose",
                                      "inputs": "@outputs('Get_PAP_Org_Lead_Contact2')?['body/fullname']"
                                    },
                                    "Get_Template_By_FIlter5": {
                                      "runAfter": {
                                        "Compose_21": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "8001d379-ef56-4061-a72f-64d8456a87ad"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "templates",
                                          "$filter": "templateid eq '9509c131-34fe-ed11-8f6c-002248c727e7'",
                                          "$top": 1
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Apply_to_each_11": {
                                      "foreach": "@outputs('Get_Template_By_FIlter5')?['body/value']",
                                      "actions": {
                                        "Set_variable_6": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "bbb65eeb-51d7-4a23-8ef8-1e86c664e846"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "EmailBody",
                                            "value": "@items('Apply_to_each_11')?['safehtml']"
                                          }
                                        },
                                        "Compose_22": {
                                          "runAfter": {
                                            "Set_variable_6": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "fce25f80-280c-4bfb-b771-2c6aee9776b8"
                                          },
                                          "type": "Compose",
                                          "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP4')?['body/fullname']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact2')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                                        },
                                        "Html_to_text5": {
                                          "runAfter": {
                                            "Compose_22": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "785075fc-ebc0-4275-90ca-e2a07e77c22c"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_conversionservice_1",
                                              "operationId": "HtmlToText",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                            },
                                            "parameters": {
                                              "Content": "<p>@{items('Apply_to_each_11')?['subjectsafehtml']}</p>"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Apply_to_each_12": {
                                          "foreach": "@outputs('Get_Template_By_FIlter5')?['body/value']",
                                          "actions": {
                                            "Email2": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "d408a73d-de12-4e52-ad58-d7366e19b95d"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps_1",
                                                  "operationId": "CreateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "emails",
                                                  "item/activitypointer_activity_parties": [
                                                    {
                                                      "participationtypemask": 1,
                                                      "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                                    },
                                                    {
                                                      "participationtypemask": 2,
                                                      "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                                    }
                                                  ],
                                                  "item/description": "@outputs('Compose_22')",
                                                  "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                                  "item/subject": "@replace(outputs('Html_to_text5')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Perform_a_bound_action_5": {
                                              "runAfter": {
                                                "Email2": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "98452a24-b92b-4200-a78d-669f7c8d3481"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps_1",
                                                  "operationId": "PerformBoundAction",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "emails",
                                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                                  "recordId": "@outputs('Email2')?['body/activityid']",
                                                  "item/IssueSend": true
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Html_to_text5": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0f258381-ba21-4a64-b940-19b76ce22765"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Get_Template_By_FIlter5": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "17d634fe-e905-4e2f-9fb4-8e9a073d0f5e"
                                      },
                                      "type": "Foreach"
                                    },
                                    "Get_Template_By_Filter6": {
                                      "runAfter": {
                                        "Apply_to_each_11": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "ae3bc70e-bb91-48df-814d-80defac4ffe0"
                                      },
                                      "type": "OpenApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connectionName": "shared_commondataserviceforapps_1",
                                          "operationId": "ListRecords",
                                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                          "entityName": "templates",
                                          "$filter": "templateid eq '2ee9c4c1-c8fe-ed11-8f6c-002248c727e7'",
                                          "$top": 1
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Apply_to_each_13": {
                                      "foreach": "@outputs('Get_Template_By_Filter6')?['body/value']",
                                      "actions": {
                                        "Set_variable_7": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "d75a703c-4c41-4bca-9abc-1112ca10dfb0"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "EmailBody",
                                            "value": "@items('Apply_to_each_13')?['safehtml']"
                                          }
                                        },
                                        "Compose_23": {
                                          "runAfter": {
                                            "Set_variable_7": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "25ffa73e-8d7f-453e-9436-d07547b00a9f"
                                          },
                                          "type": "Compose",
                                          "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP4')?['body/fullname']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact2')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                                        },
                                        "Html_to_text6": {
                                          "runAfter": {
                                            "Compose_23": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "884ea24a-a481-4fb3-87d0-b83e39670aac"
                                          },
                                          "type": "OpenApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connectionName": "shared_conversionservice_1",
                                              "operationId": "HtmlToText",
                                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                            },
                                            "parameters": {
                                              "Content": "<p>@{items('Apply_to_each_13')?['subjectsafehtml']}</p>"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        },
                                        "Apply_to_each_14": {
                                          "foreach": "@outputs('Get_Template_By_Filter6')?['body/value']",
                                          "actions": {
                                            "Email4": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "ae0dd649-8126-4347-b93c-f049448819c8"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps_1",
                                                  "operationId": "CreateRecord",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "emails",
                                                  "item/activitypointer_activity_parties": [
                                                    {
                                                      "participationtypemask": 1,
                                                      "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                                    },
                                                    {
                                                      "participationtypemask": 2,
                                                      "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_paporgleadcontactid_value']})"
                                                    }
                                                  ],
                                                  "item/description": "@outputs('Compose_23')",
                                                  "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                                  "item/subject": "@replace(outputs('Html_to_text6')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Perform_a_bound_action_7": {
                                              "runAfter": {
                                                "Email4": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "aa61ca47-1e6d-49c9-8160-9c2e9efe7646"
                                              },
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connectionName": "shared_commondataserviceforapps_1",
                                                  "operationId": "PerformBoundAction",
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                  "entityName": "emails",
                                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                                  "recordId": "@outputs('Email4')?['body/activityid']",
                                                  "item/IssueSend": true
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            }
                                          },
                                          "runAfter": {
                                            "Html_to_text6": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "28b10a36-e36f-4312-83ad-ae77c7f6d29c"
                                          },
                                          "type": "Foreach"
                                        }
                                      },
                                      "runAfter": {
                                        "Get_Template_By_Filter6": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "b8f5a75f-63d6-4fd5-94e1-805f812e7e1f"
                                      },
                                      "type": "Foreach"
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "Get_PAP5": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "4e982a9a-9eb1-43c8-b2c6-9936a4861b8d"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "accounts",
                                            "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Compose_24": {
                                        "runAfter": {
                                          "Get_PAP5": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "950dfea0-13dd-42b7-8092-93ccd7cb59d5"
                                        },
                                        "type": "Compose",
                                        "inputs": "@outputs('Get_PAP5')?['body/name']"
                                      },
                                      "Get_PAP_Org_Lead_Contact3": {
                                        "runAfter": {
                                          "Compose_24": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "4f90dcdc-8dfc-425b-9909-7326d3771d71"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "GetItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "contacts",
                                            "recordId": "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Compose_25": {
                                        "runAfter": {
                                          "Get_PAP_Org_Lead_Contact3": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "b6735be0-c6aa-414e-9278-a4747446fd87"
                                        },
                                        "type": "Compose",
                                        "inputs": "@outputs('Get_PAP_Org_Lead_Contact3')?['body/fullname']"
                                      },
                                      "Get_Template_By_Filter7": {
                                        "runAfter": {
                                          "Compose_25": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "2c4db4d8-c385-4e4c-a9b4-1052e6bc198f"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "templates",
                                            "$filter": "templateid eq '9509c131-34fe-ed11-8f6c-002248c727e7'",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_15": {
                                        "foreach": "@outputs('Get_Template_By_Filter7')?['body/value']",
                                        "actions": {
                                          "Set_variable_8": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "3a653ccb-e27c-48d4-a3aa-1aeadfd58eee"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "EmailBody",
                                              "value": "@items('Apply_to_each_15')?['safehtml']"
                                            }
                                          },
                                          "Compose_26": {
                                            "runAfter": {
                                              "Set_variable_8": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "6872a55a-6dc9-4872-b0b2-fdadd45c7ed6"
                                            },
                                            "type": "Compose",
                                            "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP5')?['body/name']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact3')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                                          },
                                          "Html_to_text7": {
                                            "runAfter": {
                                              "Compose_26": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "6277b869-f45f-47c7-a2f1-46f25f522778"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_conversionservice_1",
                                                "operationId": "HtmlToText",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                              },
                                              "parameters": {
                                                "Content": "<p>@{items('Apply_to_each_15')?['subjectsafehtml']}</p>"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          },
                                          "Email5": {
                                            "runAfter": {
                                              "Html_to_text7": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "47297141-c9cc-47ff-92d1-93cf95a5d7e7"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "CreateRecord",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "emails",
                                                "item/activitypointer_activity_parties": [
                                                  {
                                                    "participationtypemask": 1,
                                                    "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                                  },
                                                  {
                                                    "participationtypemask": 2,
                                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                                  }
                                                ],
                                                "item/description": "@outputs('Compose_26')",
                                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                                "item/subject": "@replace(outputs('Html_to_text7')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          },
                                          "Perform_a_bound_action_8": {
                                            "runAfter": {
                                              "Email5": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "f53f1590-a0fa-4397-b00d-43472d729fa8"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "PerformBoundAction",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "emails",
                                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                                "recordId": "@outputs('Email5')?['body/activityid']",
                                                "item/IssueSend": true
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Get_Template_By_Filter7": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "d980ed55-6f40-4496-b93e-9da5a916515a"
                                        },
                                        "type": "Foreach"
                                      },
                                      "Get_Template_By_Filter8": {
                                        "runAfter": {
                                          "Apply_to_each_15": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "63080e5b-f109-4157-8efc-fdb0015d311d"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connectionName": "shared_commondataserviceforapps_1",
                                            "operationId": "ListRecords",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                          },
                                          "parameters": {
                                            "entityName": "templates",
                                            "$filter": "templateid eq '2ee9c4c1-c8fe-ed11-8f6c-002248c727e7'",
                                            "$top": 1
                                          },
                                          "authentication": "@parameters('$authentication')"
                                        }
                                      },
                                      "Apply_to_each_16": {
                                        "foreach": "@outputs('Get_Template_By_Filter8')?['body/value']",
                                        "actions": {
                                          "Set_variable_9": {
                                            "runAfter": {},
                                            "metadata": {
                                              "operationMetadataId": "8d46fd44-641b-4f02-9c9f-b420ce4812b6"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "EmailBody",
                                              "value": "@items('Apply_to_each_16')?['safehtml']"
                                            }
                                          },
                                          "Compose_27": {
                                            "runAfter": {
                                              "Set_variable_9": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "6f9674c9-c461-46d5-ba48-bbc9094e7bc7"
                                            },
                                            "type": "Compose",
                                            "inputs": "@replace(replace(replace(replace(replace(replace(variables('EmailBody'),'%buildingName%', outputs('Get_Building_by_ID')?['body/bsr_name']),'%applicant%',outputs('Get_Applicant_by_ID')?['body/fullname']),'%papId%',outputs('Get_PAP5')?['body/name']),'%papOrgLeadContact%',outputs('Get_PAP_Org_Lead_Contact3')?['body/fullname']),'%registeredEmail21DaysToReview%',triggerOutputs()?['body/bsr_registeredemaildaystoreview']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                                          },
                                          "Html_to_text8": {
                                            "runAfter": {
                                              "Compose_27": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "54c432f9-1175-4781-b87f-85b296627ea3"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_conversionservice_1",
                                                "operationId": "HtmlToText",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                                              },
                                              "parameters": {
                                                "Content": "<p>@{items('Apply_to_each_16')?['subjectsafehtml']}</p>"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          },
                                          "Email6": {
                                            "runAfter": {
                                              "Html_to_text8": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "3da67d6f-e682-4016-ab83-df4688a09ed0"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "CreateRecord",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "emails",
                                                "item/activitypointer_activity_parties": [
                                                  {
                                                    "participationtypemask": 1,
                                                    "partyid@odata.bind": "queues(@{outputs('Get_Queue_by_ID_')?['body/queueid']})"
                                                  },
                                                  {
                                                    "participationtypemask": 2,
                                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_paporgleadcontactid_value']})"
                                                  }
                                                ],
                                                "item/description": "@outputs('Compose_27')",
                                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                                "item/subject": "@replace(outputs('Html_to_text8')?['body'],'%buildingName%',outputs('Get_Building_by_ID')?['body/bsr_name'])"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          },
                                          "Perform_a_bound_action_9": {
                                            "runAfter": {
                                              "Email6": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "39128efb-8924-49fd-9273-eafed43c0158"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connectionName": "shared_commondataserviceforapps_1",
                                                "operationId": "PerformBoundAction",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                              },
                                              "parameters": {
                                                "entityName": "emails",
                                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                                "recordId": "@outputs('Email6')?['body/activityid']",
                                                "item/IssueSend": true
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "Get_Template_By_Filter8": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "07c76703-4f02-4c9d-b719-41369bcde60f"
                                        },
                                        "type": "Foreach"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "and": [
                                      {
                                        "not": {
                                          "equals": [
                                            "@triggerOutputs()?['body/_bsr_registreeid_value']",
                                            "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                                          ]
                                        }
                                      },
                                      {
                                        "equals": [
                                          "@triggerOutputs()?['body/_bsr_papid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                                          "contact"
                                        ]
                                      }
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "91acb47d-6b6b-4f8e-aad8-1adf226302a2"
                                  },
                                  "type": "If"
                                }
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@triggerOutputs()?['body/_bsr_registreeid_value']",
                                    "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                                  ]
                                },
                                {
                                  "equals": [
                                    "@triggerOutputs()?['body/_bsr_papid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                                    "account"
                                  ]
                                }
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "4b1dd1bb-47ea-4cca-ac87-b5260c158384"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@triggerOutputs()?['body/_bsr_registreeid_value']",
                              "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                            ]
                          },
                          {
                            "equals": [
                              "@triggerOutputs()?['body/_bsr_papid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                              "contact"
                            ]
                          },
                          {
                            "equals": [
                              "@triggerOutputs()?['body/bsr_paptype']",
                              760810001
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4a38cff6-088d-43c8-a36a-759ecc6ffa6d"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@triggerOutputs()?['body/bsr_paptype']",
                        760810000
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@triggerOutputs()?['body/_bsr_registreeid_value']",
                          "@triggerOutputs()?['body/_bsr_papid_value']"
                        ]
                      }
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "47c48a6e-1f42-4c41-ad55-8cab6caf99df"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/bsr_paptype']",
                  760810000
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_bsr_registreeid_value']",
                  "@triggerOutputs()?['body/_bsr_papid_value']"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "2a759c87-e07e-4fc8-9f05-49287e820db9"
          },
          "type": "If"
        },
        "Get_Queue_by_ID_": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "88f34bb1-ec1c-4ab3-ba30-4220774ab657"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Building_by_ID": {
          "runAfter": {
            "Get_Queue_by_ID_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99261ec3-0481-42e8-872e-ef0f4b0d90a6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Building_Compose": {
          "runAfter": {
            "Set_Registration_Status_on_Building_to_Registered": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82bf0f4f-ab19-4a89-8310-8d3187f05d4d"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Building_by_ID')?['body/bsr_name']"
        },
        "Get_Applicant_by_ID": {
          "runAfter": {
            "Building_Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e81b9498-182d-4395-9806-3aecd3a9fab0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_bsr_registreeid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Applicant_Compose": {
          "runAfter": {
            "Get_Applicant_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d3a41fad-68c1-4aeb-8f84-49e186888b57"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Applicant_by_ID')?['body/fullname']"
        },
        "Set_Registration_Status_on_Building_to_Registered": {
          "runAfter": {
            "Get_Building_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "480694a8-9151-45bc-9e9b-124187ecefea"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildings",
              "recordId": "@outputs('Get_Building_by_ID')?['body/bsr_buildingid']",
              "item/bsr_registrationstatus": 760810000
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}