Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SendEmailifApplicationStatusisSetSubmitted-awaitin-2D228B8C-06C1-ED11-83FD-6045BD0D435C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_ContentConversion"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "fd48c661-f67a-41db-a8e1-6450de3db673"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode eq 760810003"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_Building_Name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e836f226-4681-4969-946d-f3add6b7a479"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildings",
                  "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose": {
              "runAfter": {
                "Get_Building_Name": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75a92a73-8017-4c10-9b05-4210d1322156"
              },
              "type": "Compose",
              "inputs": "@outputs('Get_Building_Name')?['body/bsr_name']"
            },
            "Queue": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a6016d66-e3d5-4627-be7c-7b16e8359ea3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "recordId": "f5d98fd6-74b7-ed11-b597-0022481b5e4f"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Template_By_Filter": {
              "runAfter": {
                "Queue": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bba99ce8-63ab-44b8-9508-94a9e1464e67"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "templates",
                  "$filter": "templateid eq '3e4c107d-77b7-ed11-b597-0022481b5e4f'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('Get_Template_By_Filter')?['body/value']",
              "actions": {
                "Set_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b0413b44-5315-41d2-9cdc-5135becdb8fc"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "EmailBody",
                    "value": "@items('Apply_to_each')?['body']"
                  }
                },
                "Compose_6": {
                  "runAfter": {
                    "Set_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fb84d82d-59f5-4571-9f0e-b023d8dd724b"
                  },
                  "type": "Compose",
                  "inputs": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                },
                "Apply_to_each_2": {
                  "foreach": "@outputs('Get_Template_By_Filter')?['body/value']",
                  "actions": {
                    "Add_a_new_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "793ddf56-3522-4c87-abc5-ec0abf8e49a9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "queues(@{outputs('Queue')?['body/queueid']})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                            }
                          ],
                          "item/description": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])\r\n",
                          "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                          "item/subject": "@replace(body('Html_to_text'),'%buildingName%',outputs('Get_Building_Name')?['body/bsr_name'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Perform_a_bound_action": {
                      "runAfter": {
                        "Add_a_new_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7eb05154-c796-4a41-ba58-f1af6909873f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('Add_a_new_row')?['body/activityid']",
                          "item/IssueSend": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Html_to_text": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2f95a8d3-894d-4d87-bb54-7fcc19847b47"
                  },
                  "type": "Foreach"
                },
                "Html_to_text": {
                  "runAfter": {
                    "Compose_6": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a80aea1-0bdc-45e0-a50b-93654512d8ba"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_conversionservice_1",
                      "operationId": "HtmlToText",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                    },
                    "parameters": {
                      "Content": "<p>@{items('Apply_to_each')?['subjectsafehtml']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Template_By_Filter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "09501849-c9db-403c-b8b8-4843e1e19154"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_2": {
                "actions": {
                  "Get_Building_Name1": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "8a1395af-c2a3-42b5-8d21-e21bf5578cab"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "bsr_buildings",
                        "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Queue1": {
                    "runAfter": {
                      "Compose_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7d0dc2ed-a712-458c-aafa-318d3a371ae6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "queues",
                        "recordId": "f5d98fd6-74b7-ed11-b597-0022481b5e4f"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Compose_2": {
                    "runAfter": {
                      "Get_Building_Name1": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "934cccbd-f650-4dfd-b84f-f50332c6319e"
                    },
                    "type": "Compose",
                    "inputs": "@outputs('Get_Building_Name1')?['body/bsr_name']"
                  },
                  "Get_a_row_by_ID": {
                    "runAfter": {
                      "Compose_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "31167251-f35c-4d3f-b5af-37abb9a670ce"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@triggerOutputs()?['body/_bsr_papid_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Compose_3": {
                    "runAfter": {
                      "Get_a_row_by_ID": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b5b8b902-830c-4135-9261-f658168436b1"
                    },
                    "type": "Compose",
                    "inputs": "@outputs('Get_a_row_by_ID')?['body/fullname']"
                  },
                  "Get_Template_By_Filter1": {
                    "runAfter": {
                      "Queue1": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1f2dbfa1-8ebc-41c6-acf2-c58b7fb7339e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "templates",
                        "$filter": "templateid eq '211002a2-38bc-ed11-83fe-000d3a86ecac'",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_3": {
                    "foreach": "@outputs('Get_Template_By_Filter1')?['body/value']",
                    "actions": {
                      "Set_variable_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e6e49679-ba7d-4949-9ea2-cd6ee58d9544"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "EmailBody",
                          "value": "@items('Apply_to_each_3')?['body']"
                        }
                      },
                      "Compose_7": {
                        "runAfter": {
                          "Set_variable_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "dc15ec76-112a-4a5a-8304-d11735206b35"
                        },
                        "type": "Compose",
                        "inputs": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                      },
                      "Html_to_text_2": {
                        "runAfter": {
                          "Compose_7": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "bad1bb2e-fe7b-47cf-a791-5d973d894022"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_conversionservice_1",
                            "operationId": "HtmlToText",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                          },
                          "parameters": {
                            "Content": "<p>@{items('Apply_to_each_3')?['subjectsafehtml']}</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_4": {
                        "foreach": "@outputs('Get_Template_By_Filter1')?['body/value']",
                        "actions": {
                          "Add_a_new_row_2": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "4e5b6fc5-c8e4-4b7e-954f-7a1da993e973"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "item/activitypointer_activity_parties": [
                                  {
                                    "participationtypemask": 1,
                                    "partyid@odata.bind": "queues(@{outputs('Queue1')?['body/queueid']})"
                                  },
                                  {
                                    "participationtypemask": 2,
                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                  }
                                ],
                                "item/description": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])\n",
                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                "item/subject": "@{outputs('Get_Building_Name1')?['body/bsr_name']} registration"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Perform_a_bound_action_2": {
                            "runAfter": {
                              "Add_a_new_row_2": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "ccf706df-90fc-43d7-bef3-365754884576"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "PerformBoundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                "recordId": "@outputs('Add_a_new_row_2')?['body/activityid']",
                                "item/IssueSend": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Html_to_text_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "62b7f502-c5b2-46f1-90f7-fbaebc150a4d"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {
                      "Get_Template_By_Filter1": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a0fd88b5-545e-42fb-a6f2-bd17be5b61b5"
                    },
                    "type": "Foreach"
                  },
                  "Get_Template_By_Filter2": {
                    "runAfter": {
                      "Apply_to_each_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7ae04574-0604-4547-828f-05beef31464b"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "templates",
                        "$filter": "templateid eq '862e43fb-41bc-ed11-83fe-000d3a86ecac'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each_5": {
                    "foreach": "@outputs('Get_Template_By_Filter2')?['body/value']",
                    "actions": {
                      "Set_variable_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "2a6a320d-fd9f-4765-97b8-7b98eb191f55"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "EmailBody",
                          "value": "@items('Apply_to_each_5')?['body']"
                        }
                      },
                      "Compose_8": {
                        "runAfter": {
                          "Set_variable_5": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "88643147-e2c7-4894-829a-2f30f4938b86"
                        },
                        "type": "Compose",
                        "inputs": "@\r\nreplace(replace(replace(variables('EmailBody'),'%papId%', outputs('Get_a_row_by_ID')?['body/fullname']),'%buildingName%', outputs('Get_Building_Name1')?['body/bsr_name']),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                      },
                      "Html_to_text_3": {
                        "runAfter": {
                          "Compose_8": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a05379c0-2995-4046-b7cc-4eef51f3741d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_conversionservice_1",
                            "operationId": "HtmlToText",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                          },
                          "parameters": {
                            "Content": "<p>@{items('Apply_to_each_5')?['subjectsafehtml']}</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_6": {
                        "foreach": "@outputs('Get_Template_By_Filter2')?['body/value']",
                        "actions": {
                          "Add_a_new_row_3": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "88207ca8-615b-47eb-a769-94118d88ce4a"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "item/activitypointer_activity_parties": [
                                  {
                                    "participationtypemask": 1,
                                    "partyid@odata.bind": "queues(@{outputs('Queue1')?['body/queueid']})"
                                  },
                                  {
                                    "participationtypemask": 2,
                                    "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_papid_value']})"
                                  }
                                ],
                                "item/description": "@outputs('Compose_8')",
                                "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                "item/subject": "Principal accountable person for @{outputs('Get_Building_Name1')?['body/bsr_name']}"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Perform_a_bound_action_3": {
                            "runAfter": {
                              "Add_a_new_row_3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "6a1e9941-2cc7-421e-bda7-a7601324aee6"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "PerformBoundAction",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "emails",
                                "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                "recordId": "@outputs('Add_a_new_row_3')?['body/activityid']",
                                "item/IssueSend": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Html_to_text_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "02402fd3-f2f3-42e0-a981-da2f744803e0"
                        },
                        "type": "Foreach"
                      },
                      "Set_variable_5": {
                        "runAfter": {
                          "Set_variable_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "fcdc4f2d-bb22-4477-ac1c-b80e9e3619da"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "EmailBodyForBuildingName",
                          "value": "@items('Apply_to_each_5')?['body']"
                        }
                      }
                    },
                    "runAfter": {
                      "Get_Template_By_Filter2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "65519420-6251-44a3-9978-508127590740"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Get_Building_Name2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "af50d0ca-9f9f-4681-a5e6-dd595fbf645e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "bsr_buildings",
                          "recordId": "@triggerOutputs()?['body/_bsr_building_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Compose_4": {
                      "runAfter": {
                        "Get_Building_Name2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b9c283af-7e58-41f1-a9ef-f298061651bb"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Get_Building_Name2')?['body/bsr_name']"
                    },
                    "Get_PAP_Org_Lead_Contact": {
                      "runAfter": {
                        "Compose_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "54019550-6adf-45ad-a4b1-cc7e486e067b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "contacts",
                          "recordId": "@triggerOutputs()?['body/_bsr_paporgleadcontactid_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Compose_5": {
                      "runAfter": {
                        "Get_PAP_Org_Lead_Contact": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "82463956-9fa9-417b-a001-72bf52f05b0e"
                      },
                      "type": "Compose",
                      "inputs": "@outputs('Get_PAP_Org_Lead_Contact')?['body/fullname']"
                    },
                    "Queue2": {
                      "runAfter": {
                        "Compose_5": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3948e4f2-d7fb-446d-984d-20a976edb8b9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "queues",
                          "recordId": "f5d98fd6-74b7-ed11-b597-0022481b5e4f"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Get_Template_By_Filter3": {
                      "runAfter": {
                        "Queue2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8777660d-16c1-4551-9a2e-6bee0103bad4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "templates",
                          "$filter": "templateid eq '211002a2-38bc-ed11-83fe-000d3a86ecac'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_7": {
                      "foreach": "@outputs('Get_Template_By_Filter3')?['body/value']",
                      "actions": {
                        "Set_variable_4": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "a2a74111-63f1-45b3-94a6-28aeea777164"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "EmailBody",
                            "value": "@items('Apply_to_each_7')?['body']"
                          }
                        },
                        "Compose_9": {
                          "runAfter": {
                            "Set_variable_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "63881a54-3f4c-4bfa-bf56-f9e7c48e0279"
                          },
                          "type": "Compose",
                          "inputs": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])"
                        },
                        "Html_to_text_4": {
                          "runAfter": {
                            "Compose_9": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3cfa8eaa-ddc6-4e3d-b4a7-9c09e337a96e"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_conversionservice_1",
                              "operationId": "HtmlToText",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                            },
                            "parameters": {
                              "Content": "<p>@{items('Apply_to_each_7')?['subjectsafehtml']}</p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_8": {
                          "foreach": "@outputs('Get_Template_By_Filter3')?['body/value']",
                          "actions": {
                            "Add_a_new_row_4": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "46af8e79-217e-4bc9-a00b-28de4b7b4a30"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": [
                                    {
                                      "participationtypemask": 1,
                                      "partyid@odata.bind": "queues(@{outputs('Queue2')?['body/queueid']})"
                                    },
                                    {
                                      "participationtypemask": 2,
                                      "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_registreeid_value']})"
                                    }
                                  ],
                                  "item/description": "@replace(variables('EmailBody'),'%applicationId%',triggerOutputs()?['body/bsr_applicationid'])",
                                  "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                  "item/subject": "@{outputs('Get_Building_Name2')?['body/bsr_name']} registration"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Perform_a_bound_action_4": {
                              "runAfter": {
                                "Add_a_new_row_4": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b57c7eb2-6cdb-4747-bf4e-4491a94d7cbd"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_4')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Html_to_text_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e02351f5-90b0-4485-a72d-26d30401614d"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Get_Template_By_Filter3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8c5d71cf-e833-4d68-8438-dc27c0e66e4d"
                      },
                      "type": "Foreach"
                    },
                    "Get_Template_By_Filter4": {
                      "runAfter": {
                        "Apply_to_each_7": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7cb3ddaf-74c7-4e0e-a08f-709647cd8327"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "templates",
                          "$filter": "templateid eq '7a35f49b-43bc-ed11-83fe-000d3a86ecac'"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_9": {
                      "foreach": "@outputs('Get_Template_By_Filter4')?['body/value']",
                      "actions": {
                        "Set_variable_6": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "52c9f4b1-1d32-4aaa-8c27-cf002239990a"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "EmailBody",
                            "value": "@items('Apply_to_each_9')?['body']"
                          }
                        },
                        "Compose_10": {
                          "runAfter": {
                            "Set_variable_6": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "024f312a-a134-4f6d-bb9d-062355411a17"
                          },
                          "type": "Compose",
                          "inputs": "@\r\nreplace(replace(replace(variables('EmailBody'),'%orgLeadContact%', outputs('Get_PAP_Org_Lead_Contact')?['body/fullname']),'%buildingName%', outputs('Get_Building_Name2')?['body/bsr_name']),'%applicationId%', triggerOutputs()?['body/bsr_applicationid'])"
                        },
                        "Html_to_text_5": {
                          "runAfter": {
                            "Compose_10": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b9e1230e-dcfa-4c17-81e8-27cc5b8ee76c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_conversionservice_1",
                              "operationId": "HtmlToText",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                            },
                            "parameters": {
                              "Content": "<p>@{items('Apply_to_each_9')?['subjectsafehtml']}</p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_10": {
                          "foreach": "@outputs('Get_Template_By_Filter4')?['body/value']",
                          "actions": {
                            "Add_a_new_row_5": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "a5b70365-2fe4-44b2-bfc9-9ce52af2429f"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": [
                                    {
                                      "participationtypemask": 1,
                                      "partyid@odata.bind": "queues(@{outputs('Queue2')?['body/queueid']})"
                                    },
                                    {
                                      "participationtypemask": 2,
                                      "partyid@odata.bind": "contacts(@{triggerOutputs()?['body/_bsr_paporgleadcontactid_value']})"
                                    }
                                  ],
                                  "item/description": "@outputs('Compose_10')",
                                  "item/regardingobjectid_bsr_buildingapplication_email@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                                  "item/subject": "Principal accountable person for @{outputs('Get_Building_Name2')?['body/bsr_name']}"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Perform_a_bound_action_5": {
                              "runAfter": {
                                "Add_a_new_row_5": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "276773fa-0905-4749-aa4c-1660957ca693"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_5')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Html_to_text_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a4af410f-6164-4b8b-a6a0-9d2ebd978abf"
                          },
                          "type": "Foreach"
                        }
                      },
                      "runAfter": {
                        "Get_Template_By_Filter4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d8c43aaf-fe6c-47b8-9cd4-ce5f7d839f3a"
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/bsr_paptype']",
                    760810000
                  ]
                },
                "metadata": {
                  "operationMetadataId": "eb134072-715f-4f2f-ac6a-6a3d8dd77130"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_bsr_registreeid_value']",
              "@triggerOutputs()?['body/_bsr_papid_value']"
            ]
          },
          "metadata": {
            "operationMetadataId": "adb475bc-85a4-4bfe-820c-61072e1b76d6"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0b2d6e57-978e-4786-b069-eb796c861025"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "10a9d0fe-ab55-4632-abfc-c2051688cf40"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailBodyForBuildingName",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}