Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SetBACRequesttableName-4AD47EB0-43EB-EE11-A1FD-002248C748E0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_12864"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Change_request_row_is_added,_modified": {
          "metadata": {
            "operationMetadataId": "835f1434-becb-42d5-acc7-4ff256f67ea7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_backgroundinformationrequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_buildingid,bsr_requesttype"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_Building_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "52a246ac-3380-4e5a-a4c5-1b341f4ebf50"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildings",
                  "recordId": "@triggerOutputs()?['body/_bsr_buildingid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose": {
              "runAfter": {
                "Get_Building_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9105edf7-9995-4f61-9b5e-d1c992157929"
              },
              "type": "Compose",
              "inputs": "@{outputs('Get_Building_row_by_ID')?['body/bsr_name']} - @{Triggeroutputs()?['body/_bsr_requesttype_label']}"
            },
            "Update_Name": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "754bff76-4191-4e3b-98fe-deeb743580f4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_backgroundinformationrequests",
                  "recordId": "@triggerOutputs()?['body/bsr_backgroundinformationrequestid']",
                  "item/bsr_name": "@outputs('Compose')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_bsr_buildingid_value']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/bsr_requesttype']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "daf6d6ea-5b94-446d-8409-e90c70b8f53e"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}