Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/SetUPRNUSRNLocalAuthorityforexistingrecordsbasedon-76ECE167-BA7F-EE11-8179-6045BD0C1726.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "824138e2-88f6-4cff-9002-ceacaab75bd6"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_5": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7b69bf24-79a2-4cae-a507-cfedeb26046c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PostCode",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_6": {
          "runAfter": {
            "Initialize_variable_5": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3daae3a4-1ddb-4771-b417-3c56cd38ac21"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UPRN",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_7": {
          "runAfter": {
            "Initialize_variable_6": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "baebd1a7-9ab4-441d-93ad-a7557f2d6de1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "USRN",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_8": {
          "runAfter": {
            "Initialize_variable_7": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4058cf38-51d8-4b50-bf48-e0107aa90fa1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Local Authority Area",
                "type": "string"
              }
            ]
          }
        },
        "List_Structure_rows": {
          "runAfter": {
            "Initialize_uprnResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7288d642-721d-4ace-912d-08a0c9aa66dd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_blocks",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"bsr_block\">\n    <attribute name=\"bsr_blockid\" />\n    <attribute name=\"bsr_name\" />\n    <attribute name=\"bsr_usrn\" />\n    <attribute name=\"bsr_uprn\" />\n    <attribute name=\"bsr_postcodeentered\" />\n    <attribute name=\"bsr_postcode\" />\n    <attribute name=\"bsr_localauthorityarea\" />\n    <order attribute=\"bsr_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <filter type=\"or\">\n        <condition attribute=\"bsr_uprn\" operator=\"null\" />\n        <condition attribute=\"bsr_usrn\" operator=\"null\" />\n        <condition attribute=\"bsr_localauthorityarea\" operator=\"null\" />\n        <condition attribute=\"bsr_postcodeentered\" operator=\"null\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_7": {
          "foreach": "@outputs('List_Structure_rows')?['body/value']",
          "actions": {
            "Get_a_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f669c689-5dd8-4ae6-989a-7eb690455704"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_blocks",
                  "recordId": "@items('Apply_to_each_7')?['bsr_blockid']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "GET_postcode": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b82e48bf-2c66-429b-996c-f478d2a1414e"
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://api.os.uk/search/places/v1/postcode",
                "queries": {
                  "postcode": "@outputs('Get_a_row_by_ID')?['body/bsr_postcode']",
                  "dataset": "DPA",
                  "key": "fPaSsYzfdvNhUwwV8r36LexwkqMsk15A",
                  "maxresults": "1"
                }
              }
            },
            "Parse_postcode": {
              "runAfter": {
                "GET_postcode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "10141977-700e-422d-8ce3-e2f989f7a37b"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('GET_postcode')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "header": {
                      "type": "object",
                      "properties": {
                        "uri": {
                          "type": "string"
                        },
                        "query": {
                          "type": "string"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "totalresults": {
                          "type": "integer"
                        },
                        "format": {
                          "type": "string"
                        },
                        "dataset": {
                          "type": "string"
                        },
                        "lr": {
                          "type": "string"
                        },
                        "maxresults": {
                          "type": "integer"
                        },
                        "epoch": {
                          "type": "string"
                        },
                        "lastupdate": {
                          "type": "string"
                        },
                        "output_srs": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DPA": {
                            "type": "object",
                            "properties": {
                              "UPRN": {
                                "type": "string"
                              },
                              "UDPRN": {
                                "type": "string"
                              },
                              "ADDRESS": {
                                "type": "string"
                              },
                              "SUB_BUILDING_NAME": {
                                "type": "string"
                              },
                              "BUILDING_NAME": {
                                "type": "string"
                              },
                              "BUILDING_NUMBER": {
                                "type": "string"
                              },
                              "THOROUGHFARE_NAME": {
                                "type": "string"
                              },
                              "POST_TOWN": {
                                "type": "string"
                              },
                              "POSTCODE": {
                                "type": "string"
                              },
                              "RPC": {
                                "type": "string"
                              },
                              "X_COORDINATE": {
                                "type": "integer"
                              },
                              "Y_COORDINATE": {
                                "type": "integer"
                              },
                              "STATUS": {
                                "type": "string"
                              },
                              "LOGICAL_STATUS_CODE": {
                                "type": "string"
                              },
                              "CLASSIFICATION_CODE": {
                                "type": "string"
                              },
                              "CLASSIFICATION_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "LOCAL_CUSTODIAN_CODE": {
                                "type": "integer"
                              },
                              "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "COUNTRY_CODE": {
                                "type": "string"
                              },
                              "COUNTRY_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "POSTAL_ADDRESS_CODE": {
                                "type": "string"
                              },
                              "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "BLPU_STATE_CODE": {
                                "type": "string"
                              },
                              "BLPU_STATE_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "TOPOGRAPHY_LAYER_TOID": {
                                "type": "string"
                              },
                              "PARENT_UPRN": {
                                "type": "string"
                              },
                              "LAST_UPDATE_DATE": {
                                "type": "string"
                              },
                              "ENTRY_DATE": {
                                "type": "string"
                              },
                              "BLPU_STATE_DATE": {
                                "type": "string"
                              },
                              "LANGUAGE": {
                                "type": "string"
                              },
                              "MATCH": {
                                "type": "integer"
                              },
                              "MATCH_DESCRIPTION": {
                                "type": "string"
                              },
                              "DELIVERY_POINT_SUFFIX": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "DPA"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "set_resultPostcode": {
              "runAfter": {
                "Parse_postcode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "299b8826-b7b0-4e0c-8b42-f1b5dc001b54"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "postcodeResult",
                "value": "@first(body('Parse_postcode')?['results'])"
              }
            },
            "parse_resultPostcode": {
              "runAfter": {
                "set_resultPostcode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3826e353-cae9-455b-ac73-2ec47671f0f6"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('postcodeResult')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "DPA": {
                      "type": "object",
                      "properties": {
                        "UPRN": {
                          "type": "string"
                        },
                        "UDPRN": {
                          "type": "string"
                        },
                        "ADDRESS": {
                          "type": "string"
                        },
                        "SUB_BUILDING_NAME": {
                          "type": "string"
                        },
                        "BUILDING_NAME": {
                          "type": "string"
                        },
                        "BUILDING_NUMBER": {
                          "type": "string"
                        },
                        "THOROUGHFARE_NAME": {
                          "type": "string"
                        },
                        "POST_TOWN": {
                          "type": "string"
                        },
                        "POSTCODE": {
                          "type": "string"
                        },
                        "RPC": {
                          "type": "string"
                        },
                        "X_COORDINATE": {
                          "type": "integer"
                        },
                        "Y_COORDINATE": {
                          "type": "integer"
                        },
                        "STATUS": {
                          "type": "string"
                        },
                        "LOGICAL_STATUS_CODE": {
                          "type": "string"
                        },
                        "CLASSIFICATION_CODE": {
                          "type": "string"
                        },
                        "CLASSIFICATION_CODE_DESCRIPTION": {
                          "type": "string"
                        },
                        "LOCAL_CUSTODIAN_CODE": {
                          "type": "integer"
                        },
                        "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                          "type": "string"
                        },
                        "COUNTRY_CODE": {
                          "type": "string"
                        },
                        "COUNTRY_CODE_DESCRIPTION": {
                          "type": "string"
                        },
                        "POSTAL_ADDRESS_CODE": {
                          "type": "string"
                        },
                        "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                          "type": "string"
                        },
                        "BLPU_STATE_CODE": {
                          "type": "string"
                        },
                        "BLPU_STATE_CODE_DESCRIPTION": {
                          "type": "string"
                        },
                        "TOPOGRAPHY_LAYER_TOID": {
                          "type": "string"
                        },
                        "PARENT_UPRN": {
                          "type": "string"
                        },
                        "LAST_UPDATE_DATE": {
                          "type": "string"
                        },
                        "ENTRY_DATE": {
                          "type": "string"
                        },
                        "BLPU_STATE_DATE": {
                          "type": "string"
                        },
                        "LANGUAGE": {
                          "type": "string"
                        },
                        "MATCH": {
                          "type": "integer"
                        },
                        "MATCH_DESCRIPTION": {
                          "type": "string"
                        },
                        "DELIVERY_POINT_SUFFIX": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Condition": {
              "actions": {
                "GET_uprn": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b30c790f-d7e5-4f16-9838-fb70ee57afc1"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://api.os.uk/search/places/v1/uprn",
                    "queries": {
                      "uprn": "@body('parse_resultPostcode')?['DPA']?['PARENT_UPRN']",
                      "dataset": "LPI",
                      "key": "fPaSsYzfdvNhUwwV8r36LexwkqMsk15A"
                    }
                  }
                },
                "parse_GET_urpn": {
                  "runAfter": {
                    "GET_uprn": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f49a80fc-3484-45d6-ac8d-4912a1aa33c3"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('GET_uprn')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "header": {
                          "type": "object",
                          "properties": {
                            "uri": {
                              "type": "string"
                            },
                            "query": {
                              "type": "string"
                            },
                            "offset": {
                              "type": "integer"
                            },
                            "totalresults": {
                              "type": "integer"
                            },
                            "format": {
                              "type": "string"
                            },
                            "dataset": {
                              "type": "string"
                            },
                            "lr": {
                              "type": "string"
                            },
                            "maxresults": {
                              "type": "integer"
                            },
                            "epoch": {
                              "type": "string"
                            },
                            "lastupdate": {
                              "type": "string"
                            },
                            "output_srs": {
                              "type": "string"
                            }
                          }
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "LPI": {
                                "type": "object",
                                "properties": {
                                  "UPRN": {
                                    "type": "string"
                                  },
                                  "ADDRESS": {
                                    "type": "string"
                                  },
                                  "USRN": {
                                    "type": "string"
                                  },
                                  "LPI_KEY": {
                                    "type": "string"
                                  },
                                  "PAO_START_NUMBER": {
                                    "type": "string"
                                  },
                                  "PAO_TEXT": {
                                    "type": "string"
                                  },
                                  "STREET_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "LOCALITY_NAME": {
                                    "type": "string"
                                  },
                                  "TOWN_NAME": {
                                    "type": "string"
                                  },
                                  "ADMINISTRATIVE_AREA": {
                                    "type": "string"
                                  },
                                  "POSTCODE_LOCATOR": {
                                    "type": "string"
                                  },
                                  "RPC": {
                                    "type": "string"
                                  },
                                  "X_COORDINATE": {
                                    "type": "integer"
                                  },
                                  "Y_COORDINATE": {
                                    "type": "integer"
                                  },
                                  "STATUS": {
                                    "type": "string"
                                  },
                                  "LOGICAL_STATUS_CODE": {
                                    "type": "string"
                                  },
                                  "CLASSIFICATION_CODE": {
                                    "type": "string"
                                  },
                                  "CLASSIFICATION_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "LOCAL_CUSTODIAN_CODE": {
                                    "type": "integer"
                                  },
                                  "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "COUNTRY_CODE": {
                                    "type": "string"
                                  },
                                  "COUNTRY_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "POSTAL_ADDRESS_CODE": {
                                    "type": "string"
                                  },
                                  "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "BLPU_STATE_CODE": {
                                    "type": "string"
                                  },
                                  "BLPU_STATE_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "TOPOGRAPHY_LAYER_TOID": {
                                    "type": "string"
                                  },
                                  "LAST_UPDATE_DATE": {
                                    "type": "string"
                                  },
                                  "ENTRY_DATE": {
                                    "type": "string"
                                  },
                                  "BLPU_STATE_DATE": {
                                    "type": "string"
                                  },
                                  "STREET_STATE_CODE": {
                                    "type": "string"
                                  },
                                  "STREET_STATE_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "STREET_CLASSIFICATION_CODE": {
                                    "type": "string"
                                  },
                                  "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "LPI_LOGICAL_STATUS_CODE": {
                                    "type": "string"
                                  },
                                  "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                                    "type": "string"
                                  },
                                  "LANGUAGE": {
                                    "type": "string"
                                  },
                                  "MATCH": {
                                    "type": "integer"
                                  },
                                  "MATCH_DESCRIPTION": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "LPI"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "set_uprnResult": {
                  "runAfter": {
                    "parse_GET_urpn": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "880d6a23-b404-45f2-9134-e05a5a245c8c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "uprnResult",
                    "value": "@first(body('parse_GET_urpn')?['results'])"
                  }
                },
                "parse_uprnResult": {
                  "runAfter": {
                    "set_uprnResult": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "685336d1-bfad-4669-ac8e-893aa0dd14e6"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@variables('uprnResult')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "LPI": {
                          "type": "object",
                          "properties": {
                            "UPRN": {
                              "type": "string"
                            },
                            "ADDRESS": {
                              "type": "string"
                            },
                            "USRN": {
                              "type": "string"
                            },
                            "LPI_KEY": {
                              "type": "string"
                            },
                            "PAO_START_NUMBER": {
                              "type": "string"
                            },
                            "PAO_TEXT": {
                              "type": "string"
                            },
                            "STREET_DESCRIPTION": {
                              "type": "string"
                            },
                            "LOCALITY_NAME": {
                              "type": "string"
                            },
                            "TOWN_NAME": {
                              "type": "string"
                            },
                            "ADMINISTRATIVE_AREA": {
                              "type": "string"
                            },
                            "POSTCODE_LOCATOR": {
                              "type": "string"
                            },
                            "RPC": {
                              "type": "string"
                            },
                            "X_COORDINATE": {
                              "type": "integer"
                            },
                            "Y_COORDINATE": {
                              "type": "integer"
                            },
                            "STATUS": {
                              "type": "string"
                            },
                            "LOGICAL_STATUS_CODE": {
                              "type": "string"
                            },
                            "CLASSIFICATION_CODE": {
                              "type": "string"
                            },
                            "CLASSIFICATION_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "LOCAL_CUSTODIAN_CODE": {
                              "type": "integer"
                            },
                            "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "COUNTRY_CODE": {
                              "type": "string"
                            },
                            "COUNTRY_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "POSTAL_ADDRESS_CODE": {
                              "type": "string"
                            },
                            "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "BLPU_STATE_CODE": {
                              "type": "string"
                            },
                            "BLPU_STATE_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "TOPOGRAPHY_LAYER_TOID": {
                              "type": "string"
                            },
                            "LAST_UPDATE_DATE": {
                              "type": "string"
                            },
                            "ENTRY_DATE": {
                              "type": "string"
                            },
                            "BLPU_STATE_DATE": {
                              "type": "string"
                            },
                            "STREET_STATE_CODE": {
                              "type": "string"
                            },
                            "STREET_STATE_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "STREET_CLASSIFICATION_CODE": {
                              "type": "string"
                            },
                            "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "LPI_LOGICAL_STATUS_CODE": {
                              "type": "string"
                            },
                            "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                              "type": "string"
                            },
                            "LANGUAGE": {
                              "type": "string"
                            },
                            "MATCH": {
                              "type": "integer"
                            },
                            "MATCH_DESCRIPTION": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "set_uprn_from_uprn": {
                  "runAfter": {
                    "parse_uprnResult": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "47bf305a-fc2b-408e-9976-53b92bbbebbb"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "UPRN",
                    "value": "@body('parse_uprnResult')?['LPI']?['UPRN']"
                  }
                },
                "set_usrn_from_uprn": {
                  "runAfter": {
                    "set_uprn_from_uprn": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a3eb71a1-befe-4fba-a159-6dc810db30ee"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "USRN",
                    "value": "@body('parse_uprnResult')?['LPI']?['USRN']"
                  }
                },
                "set_local_authority_area_from_uprn": {
                  "runAfter": {
                    "set_usrn_from_uprn": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "28bed200-b0b2-4321-aee9-67dbd87e4aeb"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Local Authority Area",
                    "value": "@body('parse_uprnResult')?['LPI']?['ADMINISTRATIVE_AREA']"
                  }
                },
                "set_postcode_entered_manualy_from_uprn": {
                  "runAfter": {
                    "set_local_authority_area_from_uprn": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ae7f65da-9e8c-4f75-ac53-30a0255696d6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PostCodeEnteredManually",
                    "value": "@body('parse_uprnResult')?['LPI']?['POSTCODE_LOCATOR']"
                  }
                }
              },
              "runAfter": {
                "parse_resultPostcode": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "set_usrn_from_postcode": {
                    "runAfter": {
                      "set_uprn_from_postcode": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a3eb71a1-befe-4fba-a159-6dc810db30ee"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "USRN",
                      "value": "@body('parse_LPI_resultPostcode_')?['LPI']?['USRN']"
                    }
                  },
                  "set_local_authority_area_from_postcode": {
                    "runAfter": {
                      "set_usrn_from_postcode": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "28bed200-b0b2-4321-aee9-67dbd87e4aeb"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Local Authority Area",
                      "value": "@body('parse_LPI_resultPostcode_')?['LPI']?['ADMINISTRATIVE_AREA']"
                    }
                  },
                  "set_postcode_entered_manualy_from_postcode": {
                    "runAfter": {
                      "set_local_authority_area_from_postcode": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ae7f65da-9e8c-4f75-ac53-30a0255696d6"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "PostCodeEnteredManually",
                      "value": "@body('parse_LPI_resultPostcode_')?['LPI']?['POSTCODE_LOCATOR']"
                    }
                  },
                  "GET_LPI_postcode": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b82e48bf-2c66-429b-996c-f478d2a1414e"
                    },
                    "type": "Http",
                    "inputs": {
                      "method": "GET",
                      "uri": "https://api.os.uk/search/places/v1/postcode",
                      "queries": {
                        "postcode": "@outputs('Get_a_row_by_ID')?['body/bsr_postcode']",
                        "dataset": "LPI",
                        "key": "fPaSsYzfdvNhUwwV8r36LexwkqMsk15A",
                        "maxresults": "1"
                      }
                    }
                  },
                  "set_uprn_from_postcode": {
                    "runAfter": {
                      "parse_LPI_resultPostcode_": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "47bf305a-fc2b-408e-9976-53b92bbbebbb"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "UPRN",
                      "value": "@body('parse_LPI_resultPostcode_')?['LPI']?['UPRN']"
                    }
                  },
                  "Parse_LPI_postcode": {
                    "runAfter": {
                      "GET_LPI_postcode": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "10141977-700e-422d-8ce3-e2f989f7a37b"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('GET_LPI_postcode')",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "header": {
                            "type": "object",
                            "properties": {
                              "uri": {
                                "type": "string"
                              },
                              "query": {
                                "type": "string"
                              },
                              "offset": {
                                "type": "integer"
                              },
                              "totalresults": {
                                "type": "integer"
                              },
                              "format": {
                                "type": "string"
                              },
                              "dataset": {
                                "type": "string"
                              },
                              "lr": {
                                "type": "string"
                              },
                              "maxresults": {
                                "type": "integer"
                              },
                              "epoch": {
                                "type": "string"
                              },
                              "lastupdate": {
                                "type": "string"
                              },
                              "output_srs": {
                                "type": "string"
                              }
                            }
                          },
                          "results": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "LPI": {
                                  "type": "object",
                                  "properties": {
                                    "UPRN": {
                                      "type": "string"
                                    },
                                    "ADDRESS": {
                                      "type": "string"
                                    },
                                    "USRN": {
                                      "type": "string"
                                    },
                                    "LPI_KEY": {
                                      "type": "string"
                                    },
                                    "PAO_START_NUMBER": {
                                      "type": "string"
                                    },
                                    "STREET_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "TOWN_NAME": {
                                      "type": "string"
                                    },
                                    "ADMINISTRATIVE_AREA": {
                                      "type": "string"
                                    },
                                    "POSTCODE_LOCATOR": {
                                      "type": "string"
                                    },
                                    "RPC": {
                                      "type": "string"
                                    },
                                    "X_COORDINATE": {
                                      "type": "integer"
                                    },
                                    "Y_COORDINATE": {
                                      "type": "integer"
                                    },
                                    "STATUS": {
                                      "type": "string"
                                    },
                                    "LOGICAL_STATUS_CODE": {
                                      "type": "string"
                                    },
                                    "CLASSIFICATION_CODE": {
                                      "type": "string"
                                    },
                                    "CLASSIFICATION_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "LOCAL_CUSTODIAN_CODE": {
                                      "type": "integer"
                                    },
                                    "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "COUNTRY_CODE": {
                                      "type": "string"
                                    },
                                    "COUNTRY_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "POSTAL_ADDRESS_CODE": {
                                      "type": "string"
                                    },
                                    "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "BLPU_STATE_CODE": {
                                      "type": "string"
                                    },
                                    "BLPU_STATE_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "TOPOGRAPHY_LAYER_TOID": {
                                      "type": "string"
                                    },
                                    "LAST_UPDATE_DATE": {
                                      "type": "string"
                                    },
                                    "ENTRY_DATE": {
                                      "type": "string"
                                    },
                                    "BLPU_STATE_DATE": {
                                      "type": "string"
                                    },
                                    "STREET_STATE_CODE": {
                                      "type": "string"
                                    },
                                    "STREET_STATE_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "STREET_CLASSIFICATION_CODE": {
                                      "type": "string"
                                    },
                                    "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "LPI_LOGICAL_STATUS_CODE": {
                                      "type": "string"
                                    },
                                    "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                                      "type": "string"
                                    },
                                    "LANGUAGE": {
                                      "type": "string"
                                    },
                                    "MATCH": {
                                      "type": "integer"
                                    },
                                    "MATCH_DESCRIPTION": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "required": [
                                "LPI"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "set_LPI_resultPostcode_": {
                    "runAfter": {
                      "Parse_LPI_postcode": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "299b8826-b7b0-4e0c-8b42-f1b5dc001b54"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "postcodeResult",
                      "value": "@first(body('Parse_LPI_postcode')?['results'])"
                    }
                  },
                  "parse_LPI_resultPostcode_": {
                    "runAfter": {
                      "set_LPI_resultPostcode_": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3826e353-cae9-455b-ac73-2ec47671f0f6"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@variables('postcodeResult')",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "LPI": {
                            "type": "object",
                            "properties": {
                              "UPRN": {
                                "type": "string"
                              },
                              "ADDRESS": {
                                "type": "string"
                              },
                              "USRN": {
                                "type": "string"
                              },
                              "LPI_KEY": {
                                "type": "string"
                              },
                              "PAO_START_NUMBER": {
                                "type": "string"
                              },
                              "STREET_DESCRIPTION": {
                                "type": "string"
                              },
                              "TOWN_NAME": {
                                "type": "string"
                              },
                              "ADMINISTRATIVE_AREA": {
                                "type": "string"
                              },
                              "POSTCODE_LOCATOR": {
                                "type": "string"
                              },
                              "RPC": {
                                "type": "string"
                              },
                              "X_COORDINATE": {
                                "type": "integer"
                              },
                              "Y_COORDINATE": {
                                "type": "integer"
                              },
                              "STATUS": {
                                "type": "string"
                              },
                              "LOGICAL_STATUS_CODE": {
                                "type": "string"
                              },
                              "CLASSIFICATION_CODE": {
                                "type": "string"
                              },
                              "CLASSIFICATION_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "LOCAL_CUSTODIAN_CODE": {
                                "type": "integer"
                              },
                              "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "COUNTRY_CODE": {
                                "type": "string"
                              },
                              "COUNTRY_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "POSTAL_ADDRESS_CODE": {
                                "type": "string"
                              },
                              "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "BLPU_STATE_CODE": {
                                "type": "string"
                              },
                              "BLPU_STATE_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "TOPOGRAPHY_LAYER_TOID": {
                                "type": "string"
                              },
                              "LAST_UPDATE_DATE": {
                                "type": "string"
                              },
                              "ENTRY_DATE": {
                                "type": "string"
                              },
                              "BLPU_STATE_DATE": {
                                "type": "string"
                              },
                              "STREET_STATE_CODE": {
                                "type": "string"
                              },
                              "STREET_STATE_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "STREET_CLASSIFICATION_CODE": {
                                "type": "string"
                              },
                              "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "LPI_LOGICAL_STATUS_CODE": {
                                "type": "string"
                              },
                              "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                                "type": "string"
                              },
                              "LANGUAGE": {
                                "type": "string"
                              },
                              "MATCH": {
                                "type": "integer"
                              },
                              "MATCH_DESCRIPTION": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@body('parse_resultPostcode')?['DPA']?['PARENT_UPRN']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "8d86d361-113c-428f-ba14-2272fd6c0c0d"
              },
              "type": "If"
            },
            "Update_a_row": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7665bea8-4520-4a00-9fdc-f2dcd2d3fe25"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_blocks",
                  "recordId": "@outputs('Get_a_row_by_ID')?['body/bsr_blockid']",
                  "item/bsr_localauthorityarea": "@variables('Local Authority Area')",
                  "item/bsr_postcodeentered": "@variables('PostCodeEnteredManually')",
                  "item/bsr_uprn": "@variables('UPRN')",
                  "item/bsr_usrn": "@variables('USRN')"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_Structure_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "842ba012-e9b1-4fa9-a87c-a3c506a4fab7"
          },
          "type": "Foreach"
        },
        "Initialize_variable_9": {
          "runAfter": {
            "Initialize_variable_8": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1463c85-dc5e-400d-94a4-8104a052a86b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PostCodeEnteredManually",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_postcodeResult": {
          "runAfter": {
            "Initialize_variable_9": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35e8b104-d602-4c42-bd7d-d764efa162e2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "postcodeResult",
                "type": "object"
              }
            ]
          }
        },
        "Initialize_uprnResult": {
          "runAfter": {
            "Initialize_postcodeResult": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e678966-d61b-4e30-8053-36c4b597f7ae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "uprnResult",
                "type": "object"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}