Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/TriggerFlowtocheckiftheBuildingApplicationhasanyac-53791BC6-EDBC-ED11-83FE-000D3A86ECAC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Creation_of_a_record_or_update_of_a_status": {
          "metadata": {
            "operationMetadataId": "ca64fec9-ac23-46ca-87f4-49bd54f5f3c3"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_buildingapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d5e74bfa-2de5-4f89-8bc8-e14856b68f80"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_applicationstatustimestamps",
              "$filter": "_bsr_buildingapplication_value eq @{triggerOutputs()?['body/bsr_buildingapplicationid']}",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"bsr_applicationstatustimestamp\">\n    <attribute name=\"bsr_applicationstatustimestampid\" />\n    <attribute name=\"bsr_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"bsr_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "34dea165-b729-490f-9cd4-e1f85ca9c53e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_applicationstatustimestamps",
                      "recordId": "@items('Apply_to_each')?['bsr_applicationstatustimestampid']",
                      "item/statecode": 1,
                      "item/bsr_statusenddate": "@triggerOutputs()?['body/modifiedon']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_a_new_row_2": {
                  "runAfter": {
                    "Update_a_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c354f63-ac6b-451b-908a-40db5d1fda89"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_applicationstatustimestamps",
                      "item/bsr_applicationstage": "@outputs('Update_a_row')?['body/bsr_applicationstage']",
                      "item/bsr_AssigneeUser@odata.bind": "\\systemusers\\@{triggerOutputs()?['body/_ownerid_value']}",
                      "item/bsr_BuildingApplication@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                      "item/bsr_name": "@outputs('Update_a_row')?['body/_bsr_buildingapplication_value']",
                      "item/statuscode": "@triggerOutputs()?['body/statuscode']",
                      "item/bsr_statusstartdate": "@triggerOutputs()?['body/modifiedon']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "04734125-a818-4406-bed5-ee9214c5b851"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Add_a_new_row": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "50d01467-ef83-4bc7-8bcc-1f192f6ca280"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "bsr_applicationstatustimestamps",
                    "item/bsr_applicationstage": "@triggerOutputs()?['body/bsr_applicationstage']",
                    "item/bsr_AssigneeUser@odata.bind": "\\systemusers\\@{triggerOutputs()?['body/_ownerid_value']}",
                    "item/bsr_BuildingApplication@odata.bind": "\\bsr_buildingapplications\\@{triggerOutputs()?['body/bsr_buildingapplicationid']}",
                    "item/bsr_name": "@triggerOutputs()?['body/statuscode']",
                    "item/statuscode": "@triggerOutputs()?['body/statuscode']",
                    "item/bsr_statusstartdate": "@triggerOutputs()?['body/modifiedon']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('List_rows')?['body/value'])",
                  0
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                  "systemuser"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ed5fd78f-33b6-4ee5-8962-99ae9337a7aa"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}