Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/UploadAzureDocumenttoSharePoint-1B5AC829-A021-EE11-9966-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_azureblob": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_azureblobstoragews1"
        },
        "api": {
          "name": "shared_azureblob"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharePoint Site URL (bsr_sharepointsiteurl)": {
          "defaultValue": "https://hsegov.sharepoint.com/sites/bsr-ws1-dev",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointsiteurl"
          }
        },
        "Azure Doc Blob Storage Account  (bsr_azuredocblobstorageaccount)": {
          "defaultValue": "AccountNameFromSettings",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_azuredocblobstorageaccount"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "497c1102-1fa2-4766-b3fc-29b46697121b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "azureBlobFilePath": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "subFolderPath": {
                  "type": "string"
                },
                "fileDescription": {
                  "type": "string"
                },
                "providerContactId": {
                  "type": "string"
                },
                "targetRecordId": {
                  "type": "string"
                },
                "targetTable": {
                  "type": "string"
                }
              },
              "required": [
                "azureBlobFilePath",
                "fileName",
                "targetRecordId",
                "targetTable"
              ],
              "additionalProperties": false
            },
            "method": "POST",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_RelativePath": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcee44e0-0cff-49b4-8900-592b87bbd72f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointdocumentlocations",
              "$filter": "_regardingobjectid_value eq @{triggerBody()?['targetRecordId']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c13d1675-40de-4de5-aa94-ef3e488bc658"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TargetRecordFolder",
                "value": "@items('Apply_to_each_4')?['relativeurl']"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5607955e-2f2d-426e-b3bd-66aa8be70f4d"
          },
          "type": "Foreach"
        },
        "Initialize_RelativePath": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e47f853-78f3-46cc-9ace-420d4ee7e15e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TargetRecordFolder",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "51b2c50f-b0b7-4ab2-b35b-2da6fffb277f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SetProviderContact",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "List_rows_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5af53697-4d32-40d4-89e0-316936a89087"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "$filter": "contactid eq @{triggerBody()?['providerContactId']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_2": {
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "15bfa8a5-6443-4b54-be5d-fc3485b2f4b4"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SetProviderContact",
                    "value": "@true"
                  }
                }
              },
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(outputs('List_rows_2')?['body/value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "f6b188bb-f13b-4c0f-9190-8eb312c9e030"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerBody()?['providerContactId']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "c8ee8c86-ad32-4ff6-b394-4a31d0631f7e"
          },
          "type": "If"
        },
        "Scope": {
          "actions": {
            "Get_blob_content_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "61170296-8c54-4f49-8315-ae12049e358f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azureblob",
                  "operationId": "GetFileContent_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
                },
                "parameters": {
                  "dataset": "@parameters('Azure Doc Blob Storage Account  (bsr_azuredocblobstorageaccount)')",
                  "id": "@triggerBody()?['azureBlobFilePath']",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file": {
              "runAfter": {
                "Get_blob_content_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c86758c2-3171-451d-b098-7d8f0a55f84a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@parameters('SharePoint Site URL (bsr_sharepointsiteurl)')",
                  "folderPath": "@if(empty(triggerBody()?['subFolderPath']),concat(triggerBody()?['targetTable'],'/',variables('TargetRecordFolder')),concat(triggerBody()?['targetTable'],'/',variables('TargetRecordFolder'),'/',triggerBody()?['subFolderPath']))",
                  "name": "@triggerBody()?['fileName']",
                  "body": "@body('Get_blob_content_(V2)')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Add_a_new_row": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "889eeee5-60fc-47ae-95d2-4ec62eda146a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_bsrdocuments",
                  "item/subject": "@triggerBody()['fileName']",
                  "item/description": "@triggerBody()?['fileDescription']",
                  "item/bsr_documentlocationcode": 760810000,
                  "item/bsr_bsrdocumentorigincode": 760810000,
                  "item/bsr_contactid_bsr_bsrdocument@odata.bind": "@if(equals(variables('SetProviderContact'),true),concat('/contacts/',triggerBody()?['providerContactId']),null)",
                  "item/bsr_sharepointfileid": "@outputs('Create_file')?['body/ItemId']",
                  "item/bsr_targetrecordid": "@triggerBody()['targetRecordId']",
                  "item/bsr_targettable": "@triggerBody()['targetTable']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e2f1ea7-3197-49e5-9835-97786136ec60"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "sharePointFileId": "@outputs('Create_file')?['body/ItemId']",
                  "bsr_documentid": "@{outputs('Add_a_new_row')?['body/activityid']}",
                  "sharePointFileLocator": "@{outputs('Create_file')?['body/FileLocator']}"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "sharePointFileId": {
                      "type": "string"
                    },
                    "bsr_documentid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Apply_to_each_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f0049203-e1f7-4f5f-a0df-e91ac37f9684"
          },
          "type": "Scope"
        },
        "Scope_2": {
          "actions": {
            "Response_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "66340325-ae10-4d2c-ad53-56c8521f7ac6"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": "@outputs('Scope')"
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "05e33054-d2f4-4a19-9508-dc925127fb7e"
          },
          "type": "Scope"
        },
        "Initialize_variable_2": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1fdf1442-d5b6-4e6f-8bf4-d76a798cf3c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "D365 URL",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}