Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/UploadDocumenttoSharePoint-1B5AC829-A021-EE11-9966-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "497c1102-1fa2-4766-b3fc-29b46697121b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "docBase64": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "fileDescription": {
                  "type": "string"
                },
                "providerContactId": {
                  "type": "string"
                },
                "targetRecordId": {
                  "type": "string"
                },
                "targetTable": {
                  "type": "string"
                }
              },
              "required": [
                "docBase64",
                "fileName",
                "targetRecordId",
                "targetTable"
              ],
              "additionalProperties": false
            },
            "method": "POST"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_FolderName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcee44e0-0cff-49b4-8900-592b87bbd72f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointdocumentlocations",
              "$filter": "_regardingobjectid_value eq @{triggerBody()?['targetRecordId']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows_2": {
          "runAfter": {
            "Apply_to_each_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c377b047-9101-4c3c-811b-954945500776"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointsites",
              "$select": "absoluteurl",
              "$filter": "(isdefault eq true)",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_3": {
          "foreach": "@outputs('List_rows_2')?['body/value']",
          "actions": {
            "Create_file": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c86758c2-3171-451d-b098-7d8f0a55f84a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline_1",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "@items('Apply_to_each_3')?['absoluteurl']",
                  "folderPath": "@{triggerBody()?['targetTable']}/@{variables('FolderName')}",
                  "name": "@triggerBody()?['fileName']",
                  "body": "@base64ToBinary(triggerBody()?['docBase64'])"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Add_a_new_row": {
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "889eeee5-60fc-47ae-95d2-4ec62eda146a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_bsrdocuments",
                  "item/subject": "@triggerBody()['fileName']",
                  "item/description": "@triggerBody()?['fileDescription']",
                  "item/bsr_documentlocationcode": 760810000,
                  "item/bsr_documentpath": "@outputs('Create_file')?['body/Path']",
                  "item/bsr_targetrecordid": "@triggerBody()['targetRecordId']",
                  "item/bsr_targettable": "@triggerBody()['targetTable']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2982e7b5-c36f-4dbd-b226-aa07c5899878"
          },
          "type": "Foreach"
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c13d1675-40de-4de5-aa94-ef3e488bc658"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FolderName",
                "value": "@items('Apply_to_each_4')?['relativeurl']"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5607955e-2f2d-426e-b3bd-66aa8be70f4d"
          },
          "type": "Foreach"
        },
        "Initialize_FolderName": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0e47f853-78f3-46cc-9ace-420d4ee7e15e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FolderName",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}