Customization/WS1/Unmanaged/BuildingRegProcesses/Workflows/UploadDocumenttoSharePoint-1B5AC829-A021-EE11-9966-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUser"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS1"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharePoint Site URL (bsr_sharepointsiteurl)": {
          "defaultValue": "https://hsegov.sharepoint.com/sites/bsr-ws1-dev",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointsiteurl"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "497c1102-1fa2-4766-b3fc-29b46697121b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "docBase64": {
                  "type": "string"
                },
                "fileName": {
                  "type": "string"
                },
                "subFolderPath": {
                  "type": "string"
                },
                "fileDescription": {
                  "type": "string"
                },
                "providerContactId": {
                  "type": "string"
                },
                "targetRecordId": {
                  "type": "string"
                },
                "targetTable": {
                  "type": "string"
                },
                "folderName": {
                  "type": "string"
                }
              },
              "required": [
                "docBase64",
                "fileName",
                "targetRecordId",
                "targetTable"
              ],
              "additionalProperties": false
            },
            "method": "POST",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_RelativePath": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcee44e0-0cff-49b4-8900-592b87bbd72f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "sharepointdocumentlocations",
              "$filter": "_regardingobjectid_value eq @{triggerBody()?['targetRecordId']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c13d1675-40de-4de5-aa94-ef3e488bc658"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TargetRecordFolder",
                "value": "@items('Apply_to_each_4')?['relativeurl']"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5607955e-2f2d-426e-b3bd-66aa8be70f4d"
          },
          "type": "Foreach"
        },
        "Initialize_RelativePath": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0e47f853-78f3-46cc-9ace-420d4ee7e15e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TargetRecordFolder",
                "type": "string"
              }
            ]
          }
        },
        "Create_file": {
          "runAfter": {
            "Apply_to_each_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c86758c2-3171-451d-b098-7d8f0a55f84a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharePoint Site URL (bsr_sharepointsiteurl)')",
              "folderPath": "@if(empty(triggerBody()?['subFolderPath']),concat(triggerBody()?['targetTable'],'/',variables('TargetRecordFolder')),concat(triggerBody()?['targetTable'],'/',variables('TargetRecordFolder'),'/',triggerBody()?['subFolderPath']))",
              "name": "@triggerBody()?['fileName']",
              "body": "@base64ToBinary(triggerBody()?['docBase64'])"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Create_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "889eeee5-60fc-47ae-95d2-4ec62eda146a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_bsrdocuments",
              "item/subject": "@triggerBody()['fileName']",
              "item/description": "@triggerBody()?['fileDescription']",
              "item/bsr_documentlocationcode": 760810000,
              "item/bsr_bsrdocumentorigincode": 760810000,
              "item/bsr_contactid_bsr_bsrdocument@odata.bind": "@if(empty(triggerBody()?['providerContactId']),null,concat('/contacts/',triggerBody()?['providerContactId']))",
              "item/bsr_sharepointfileid": "@outputs('Create_file')?['body/ItemId']",
              "item/bsr_targetrecordid": "@triggerBody()['targetRecordId']",
              "item/bsr_targettable": "@triggerBody()['targetTable']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}