Customization/WS4/Unmanaged/ContactBSRProcesses/Workflows/BSR-CreateataskforSection25-A0D2E624-5364-EE11-8DF0-6045BDD2C8FD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "91a98ac6-4d28-4805-9bd4-670af1593a20"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_caseoutcome",
              "subscriptionRequest/filterexpression": "casetypecode eq 7 and _bsr_caseoutcome_value ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5f236b0a-2eac-42a7-9f94-3d366ac9715e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_section25reviews",
              "recordId": "@triggerOutputs()?['body/_bsr_section25review_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d90681a-e9ee-4be2-a5e1-a2aa37301772"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Get_a_row_by_ID')?['body/_ownerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3549692f-1932-4517-a4a6-6a596f7e98c9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tasks",
              "item/subject": "Notify relevant parties of that the Section 25 review has been resolved",
              "item/description": "Notify relevant parties of that the Section 25 review has been resolved",
              "item/ownerid_task@odata.bind": "@outputs('Get_a_row_by_ID_2')?['body/@odata.id']",
              "item/regardingobjectid_bsr_section25review_task@odata.bind": "@outputs('Get_a_row_by_ID')?['body/@odata.id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}