Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/CreateRelatedStagedApplicationsbasedonNumberofStag-8B4BCD14-D73C-EE11-BDF4-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Building_Control_Application_row_is_added,_modified": {
          "metadata": {
            "operationMetadataId": "abe587e8-4084-44c0-95f8-c64797dbb51b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_stagedapplication,bsr_numberofstages",
              "subscriptionRequest/filterexpression": "bsr_stagedapplication eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9cfd766d-4e88-4673-8a05-48d37066bd94"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "numberOfStages",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Do_until": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "de38ce7d-1d84-4ec0-8a4b-d639a3296556"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildingcontrolapplications",
                  "item/bsr_bcaareferencenumber": "@triggerOutputs()?['body/bsr_bcaareferencenumber']",
                  "item/bsr_name": "@triggerOutputs()?['body/bsr_name']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Increment_variable": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ea009f94-97a1-4756-8d8f-a604466d51fe"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "numberOfStages",
                "value": 1
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('numberOfStages'), triggerOutputs()?['body/bsr_numberofstages'])",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "283fd68e-1835-4b46-81a9-af474284bb15"
          },
          "type": "Until"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}