Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/DVBCAA-WhenrecordsubmittedupdatestatusonBCABuildin-486AD290-6456-EE11-BE6F-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "NoReply Queue ID (bsr_noreplyqueueid)": {
          "defaultValue": "35b883f4-7d16-ee11-9cbe-6045bdd2c0c0",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_noreplyqueueid"
          }
        }
      },
      "triggers": {
        "When_BCAA_record_submitted": {
          "metadata": {
            "operationMetadataId": "53435fbb-f0b3-4694-8719-1a0473e32265"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_submissiondate",
              "subscriptionRequest/filterexpression": "bsr_submissiondate ne null",
              "subscriptionRequest/name": "486ad290-6456-ee11-be6f-6045bdd2c0c0"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Update_BCAA_status_to_Submitted": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "82825d1c-2fb9-4719-b4d4-ef7efef0a19c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "bsr_buildingcontrolapplications",
              "recordId": "@triggerOutputs()?['body/bsr_buildingcontrolapplicationid']",
              "item/bsr_buildingcontrolapplicationstatus": 760810001
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "GetNoReplyQueue": {
          "runAfter": {
            "ParseEmailTemplateJSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dad4944d-2f7e-4f43-b2e1-420298aa827e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "queues",
              "recordId": "@parameters('NoReply Queue ID (bsr_noreplyqueueid)')",
              "$select": "queueid"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Check_if_BCA's_Completion_Certificate_=_Yes": {
          "actions": {
            "Get_all_related_Building_Details_2": {
              "runAfter": {
                "SendContractorEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "55d20e58-b9c4-4113-94f1-dec65cfdaae2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bsr_buildingdetailses",
                  "$filter": "_bsr_bcapplicationid_value eq @{outputs('Update_BCAA_status_to_Submitted')?['body/bsr_buildingcontrolapplicationid']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Update_Status_of_Building_Details_to_Submitted": {
              "foreach": "@outputs('Get_all_related_Building_Details_2')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "metadata": {
                    "operationMetadataId": "e3ff9659-4de1-4313-88f2-1872da221005"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "bsr_buildingdetailses",
                      "recordId": "@items('Update_Status_of_Building_Details_to_Submitted')?['bsr_buildingdetailsid']",
                      "item/bsr_buildingdetailsstatus": 760810001,
                      "item/bsr_submissiondate": "@triggerOutputs()?['body/bsr_submissiondate']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_all_related_Building_Details_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "935c380e-239d-4614-91af-9df9ca4d2f06"
              },
              "type": "Foreach"
            },
            "GetParentBCAA": {
              "metadata": {
                "operationMetadataId": "66e27b69-a52f-461c-8ece-225c18835e9f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bsr_buildingcontrolapplications",
                  "recordId": "@triggerOutputs()?['body/_bsr_parentbcaappid_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "GetApplicantEmailTemplate": {
              "runAfter": {
                "GetParentBCAA": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0a3b9b54-d233-441d-8e1e-0f1ff658370a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "templates",
                  "recordId": "@body('ParseEmailTemplateJSON')?['Applicant TemplateId']",
                  "$select": "templateid,safehtml,subjectsafehtml"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "CreateApplicantEmail": {
              "runAfter": {
                "ApplicantEmailBody": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8c9f15df-b3f0-4723-a975-7200bd240aa9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('GetParentBCAA')?['body/_bsr_applicantid_value']})"
                    }
                  ],
                  "item/description": "@outputs('ApplicantEmailBody')",
                  "item/regardingobjectid_bsr_buildingcontrolapplication_email@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                  "item/subject": "@outputs('Subject')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Subject": {
              "runAfter": {
                "GetApplicantEmailTemplate": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "851f8b5f-0d33-40df-a348-66132ed6c118"
              },
              "type": "Compose",
              "inputs": "@replace(outputs('GetApplicantEmailTemplate')?['body/subjectsafehtml'], '%%bsr_bcaareferencenumber%%',outputs('GetParentBCAA')?['body/bsr_bcaareferencenumber'])"
            },
            "ApplicantEmailBody": {
              "runAfter": {
                "Subject": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5908739c-54e4-424a-8a42-f2efd1906c6d"
              },
              "type": "Compose",
              "inputs": "@replace(replace(replace(outputs('GetApplicantEmailTemplate')?['body/safehtml'],'%%bsr_applicantid%%',outputs('GetParentBCAA')?['body/_bsr_applicantid_value@OData.Community.Display.V1.FormattedValue']),'%%bsr_name%%',outputs('GetParentBCAA')?['body/bsr_name']),'%%bsr_bcaareferencenumber%%',outputs('GetParentBCAA')?['body/bsr_bcaareferencenumber'])"
            },
            "SendApplicantEmail": {
              "runAfter": {
                "CreateApplicantEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0d459e41-882f-44e0-b757-306feceda640"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('CreateApplicantEmail')?['body/activityid']",
                  "item/IssueSend": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "ClientEmailBody": {
              "runAfter": {
                "GetClientEmailTemplate": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1bb2db58-876e-42d1-a913-f10ac34e0dc4"
              },
              "type": "Compose",
              "inputs": "@replace(replace(outputs('GetClientEmailTemplate')?['body/safehtml'],'%%bsr_clientnamedcontact%%',outputs('GetParentBCAA')?['body/_bsr_clientnamedcontact_value@OData.Community.Display.V1.FormattedValue']),'%%bsr_name%%',outputs('GetParentBCAA')?['body/bsr_name'])"
            },
            "GetClientEmailTemplate": {
              "runAfter": {
                "SendApplicantEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d8d171b-a5df-4ac9-afe2-2e2be422caaa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "templates",
                  "recordId": "@body('ParseEmailTemplateJSON')?['ClientTemplateId']",
                  "$select": "templateid,safehtml,subjectsafehtml"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "CreateClientEmail": {
              "runAfter": {
                "ClientEmailBody": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dcd12924-53f4-4d07-ae26-fc0b0f2789b0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('GetParentBCAA')?['body/_bsr_clientnamedcontact_value']})"
                    }
                  ],
                  "item/description": "@outputs('ClientEmailBody')",
                  "item/regardingobjectid_bsr_buildingcontrolapplication_email@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                  "item/subject": "@outputs('Subject')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "SendClientEmail": {
              "runAfter": {
                "CreateClientEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "940f3ad7-a4f2-45e7-9e5e-40d0659a002d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('CreateClientEmail')?['body/activityid']",
                  "item/IssueSend": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "GetDesignerEmailTemplate": {
              "runAfter": {
                "SendClientEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ebb4b79d-723b-49ce-804a-dd64d6871b7f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "templates",
                  "recordId": "@body('ParseEmailTemplateJSON')?['DesignerTemplateId']",
                  "$select": "templateid,safehtml,subjectsafehtml"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "DesignerEmailBody": {
              "runAfter": {
                "GetDesignerEmailTemplate": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9b21c8f-7f3e-460f-90d7-d51bef1c52e4"
              },
              "type": "Compose",
              "inputs": "@replace(replace(outputs('GetDesignerEmailTemplate')?['body/safehtml'],'%%bsr_designernamedcontact%%',outputs('GetParentBCAA')?['body/_bsr_principaldesignernamedcontact_value@OData.Community.Display.V1.FormattedValue']),'%%bsr_name%%',outputs('GetParentBCAA')?['body/bsr_name'])"
            },
            "CreateDesignerEmail": {
              "runAfter": {
                "DesignerEmailBody": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "486986cb-071e-468e-87ea-1262085f9bef"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('GetParentBCAA')?['body/_bsr_principaldesignernamedcontact_value']})"
                    }
                  ],
                  "item/description": "@outputs('DesignerEmailBody')",
                  "item/regardingobjectid_bsr_buildingcontrolapplication_email@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                  "item/subject": "@outputs('Subject')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "SendDesignerEmail": {
              "runAfter": {
                "CreateDesignerEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e05781f2-cc06-4344-ae0b-4b08e8cdde6a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('CreateDesignerEmail')?['body/activityid']",
                  "item/IssueSend": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "GetContractorEmailTemplate": {
              "runAfter": {
                "SendDesignerEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2df92a00-9efc-4bef-8f31-b4b0ecdeb690"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "templates",
                  "recordId": "@body('ParseEmailTemplateJSON')?['ContractorTemplateId']",
                  "$select": "templateid,safehtml,subjectsafehtml"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "CreateContractorEmail": {
              "runAfter": {
                "ContractorEmailBody": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3565c628-6d0b-4ba2-9af5-3231b7b374f3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "contacts(@{outputs('GetParentBCAA')?['body/_bsr_principalcontractnamedcontact_value']})"
                    }
                  ],
                  "item/description": "@outputs('ContractorEmailBody')",
                  "item/regardingobjectid_bsr_buildingcontrolapplication_email@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                  "item/subject": "@outputs('Subject')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "SendContractorEmail": {
              "runAfter": {
                "CreateContractorEmail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b4b69b2-2364-4c9e-b600-b59b53dc02ad"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "emails",
                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                  "recordId": "@outputs('CreateContractorEmail')?['body/activityid']",
                  "item/IssueSend": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "ContractorEmailBody": {
              "runAfter": {
                "GetContractorEmailTemplate": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "587725ac-6b0d-400b-90c2-7e528d742d63"
              },
              "type": "Compose",
              "inputs": "@replace(replace(outputs('GetContractorEmailTemplate')?['body/safehtml'],'%%bsr_contractornamedcontact%%',outputs('GetParentBCAA')?['body/_bsr_principalcontractnamedcontact_value@OData.Community.Display.V1.FormattedValue']),'%%bsr_name%%',outputs('GetParentBCAA')?['body/bsr_name'])"
            }
          },
          "runAfter": {
            "GetNoReplyQueue": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition": {
                "actions": {
                  "Send_confirmation_email_to_applicant": {
                    "metadata": {
                      "operationMetadataId": "e6732b65-a80b-4024-b264-9141b7b682c0"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "actionName": "SendEmailFromTemplate",
                        "item/TemplateId": "@body('ParseEmailTemplateJSON')?['BCATemplateId']",
                        "item/Regarding": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                        "item/Target": {
                          "email_activity_parties": [
                            {
                              "partyid_queue@odata.bind": "/queues(@{outputs('GetNoReplyQueue')?['body/queueid']})",
                              "participationtypemask": 1
                            },
                            {
                              "partyid_contact@odata.bind": "/contacts(@{triggerOutputs()?['body/_bsr_applicantid_value']})",
                              "participationtypemask": 2
                            }
                          ],
                          "@@odata.type": "Microsoft.Dynamics.CRM.email"
                        }
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "PerformUnboundAction",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Get_all_related_Building_Details": {
                    "runAfter": {
                      "Send_confirmation_email_to_applicant": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "55d20e58-b9c4-4113-94f1-dec65cfdaae2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "bsr_buildingdetailses",
                        "$filter": "_bsr_bcapplicationid_value eq @{outputs('Update_BCAA_status_to_Submitted')?['body/bsr_buildingcontrolapplicationid']}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Update_Status_in_each_Building_Details_record_to_Submitted": {
                    "foreach": "@outputs('Get_all_related_Building_Details')?['body/value']",
                    "actions": {
                      "Update_a_row_2": {
                        "metadata": {
                          "operationMetadataId": "e3ff9659-4de1-4313-88f2-1872da221005"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "bsr_buildingdetailses",
                            "recordId": "@items('Update_Status_in_each_Building_Details_record_to_Submitted')?['bsr_buildingdetailsid']",
                            "item/bsr_buildingdetailsstatus": 760810001,
                            "item/bsr_submissiondate": "@triggerOutputs()?['body/bsr_submissiondate']"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Get_all_related_Building_Details": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "964597fd-1cf1-49db-a9f7-62bacade309a"
                    },
                    "type": "Foreach"
                  }
                },
                "else": {
                  "actions": {
                    "GetStage1BCAA": {
                      "metadata": {
                        "operationMetadataId": "5a39ae55-217e-41cc-94f7-478b8f5e4be1"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "bsr_buildingcontrolapplications",
                          "recordId": "@triggerOutputs()?['body/_bsr_mainbcaappid_value']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    },
                    "SubStageSubject": {
                      "runAfter": {
                        "GetSubStageEmailTemplate": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f20d86f7-434f-4b20-9cf4-d5ca6f277ab8"
                      },
                      "type": "Compose",
                      "inputs": "@replace(outputs('GetSubStageEmailTemplate')?['body/subjectsafehtml'], '%%bsr_bcaareferencenumber%%',outputs('GetStage1BCAA')?['body/bsr_bcaareferencenumber'])"
                    },
                    "GetSubStageEmailTemplate": {
                      "runAfter": {
                        "GetStage1BCAA": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d4a1176b-0c9c-4e7d-b01d-5cfab90cea35"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "templates",
                          "recordId": "@body('ParseEmailTemplateJSON')?['SubsequentStageTemplateID']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "GetItem",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    },
                    "SubStageBody": {
                      "runAfter": {
                        "SubStageSubject": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7dd2906a-d19d-4433-a057-4e8a684c9a60"
                      },
                      "type": "Compose",
                      "inputs": "@replace(replace(replace(outputs('GetSubStageEmailTemplate')?['body/safehtml'],'%%bsr_applicantid%%',outputs('GetStage1BCAA')?['body/_bsr_applicantid_value@OData.Community.Display.V1.FormattedValue']),'%%bsr_stagename%%',triggerOutputs()?['body/bsr_stagename']),'%%bsr_bcaareferencenumber%%',outputs('GetStage1BCAA')?['body/bsr_bcaareferencenumber'])"
                    },
                    "CreateSubStageEmail": {
                      "runAfter": {
                        "SubStageBody": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8c9f15df-b3f0-4723-a975-7200bd240aa9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "emails",
                          "item/activitypointer_activity_parties": [
                            {
                              "participationtypemask": 1,
                              "partyid@odata.bind": "queues(@{outputs('GetNoReplyQueue')?['body/queueid']})"
                            },
                            {
                              "participationtypemask": 2,
                              "partyid@odata.bind": "contacts(@{outputs('GetStage1BCAA')?['body/_bsr_applicantid_value']})"
                            }
                          ],
                          "item/description": "@outputs('SubStageBody')",
                          "item/regardingobjectid_bsr_buildingcontrolapplication_email@odata.bind": "/bsr_buildingcontrolapplications(@{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']})",
                          "item/subject": "@outputs('SubStageSubject')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    },
                    "SendSubStageEmal": {
                      "runAfter": {
                        "CreateSubStageEmail": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "940f3ad7-a4f2-45e7-9e5e-40d0659a002d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "emails",
                          "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                          "recordId": "@outputs('CreateSubStageEmail')?['body/activityid']",
                          "item/IssueSend": true
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerOutputs()?['body/bsr_issubsequentstagedapp']",
                    false
                  ]
                },
                "metadata": {
                  "operationMetadataId": "da8f3add-ff39-4209-b645-7a10003efd10"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Update_BCAA_status_to_Submitted')?['body/bsr_iscompletioncertificate']",
              true
            ]
          },
          "metadata": {
            "operationMetadataId": "c2e89eea-88e0-4ad9-b2c4-708fa3bdd61f"
          },
          "type": "If"
        },
        "EmailTemplateIds": {
          "runAfter": {
            "Update_BCAA_status_to_Submitted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a2cafc1-f3d3-416b-aa01-bd5fea3e6547"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "emailTemplate",
                "type": "object",
                "value": {
                  "BCATemplateId": "e010fc7e-9e57-ee11-be6f-6045bdd2c0c0",
                  "SubsequentStageTemplateID": "3f48662c-7572-ee11-8179-6045bdf1e965",
                  "DesignerTemplateId": "80912081-9c87-ee11-be36-6045bdf1e965",
                  "ContractorTemplateId": "d0b417c0-a187-ee11-be36-6045bdd2c0c0",
                  "ClientTemplateId": "bb185ad4-a287-ee11-be36-6045bdd2c0c0",
                  "Applicant TemplateId": "06f9cab6-b387-ee11-be36-6045bdd2c0c0"
                }
              }
            ]
          }
        },
        "ParseEmailTemplateJSON": {
          "runAfter": {
            "EmailTemplateIds": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1455ae6d-39d4-4c8a-8f5c-31d9892b6bdd"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@variables('emailTemplate')",
            "schema": {
              "type": "object",
              "properties": {
                "BCATemplateId": {
                  "type": "string"
                },
                "SubsequentStageTemplateID": {
                  "type": "string"
                },
                "DesignerTemplateId": {
                  "type": "string"
                },
                "ContractorTemplateId": {
                  "type": "string"
                },
                "ClientTemplateId": {
                  "type": "string"
                },
                "Applicant TemplateId": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}