Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/DVMapBCAAfromMDTProjecttoIssue-62DD4B63-884D-EE11-BE6F-6045BDF1E965.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3a9791f2-7689-46bf-97a1-f0a775130b3e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_issue",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a8324113-3bbc-4a56-a1b5-6e468f22f8d8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_mdtprojects",
              "recordId": "@triggerOutputs()?['body/_bsr_mdtprojectid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "ifApplicationTypeEqualsBCA": {
          "actions": {
            "updateMDTIssuesForBCA": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e636fffe-2463-4f97-933f-883e023155f3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_issues",
                  "recordId": "@triggerOutputs()?['body/bsr_issueid']",
                  "item/bsr_applicationtype": 760810001,
                  "item/bsr_buildingcontrolapplicationid@odata.bind": "bsr_mdtprojects(@{outputs('Get_a_row_by_ID')?['body/_bsr_buidlingcontrolapplicationid_value']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "updateMDTIssuesForBAC": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e636fffe-2463-4f97-933f-883e023155f3"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "bsr_issues",
                    "recordId": "@triggerOutputs()?['body/bsr_issueid']",
                    "item/bsr_applicationtype": 760810000,
                    "item/bsr_bacapplicationid@odata.bind": "bsr_mdtprojects(@{outputs('Get_a_row_by_ID')?['body/_bsr_bacapplicationid_value']})",
                    "item/bsr_buildingid@odata.bind": "bsr_mdtprojects(@{outputs('Get_a_row_by_ID')?['body/_bsr_building_value']})"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_a_row_by_ID')?['body/bsr_applicationtype']",
              760810001
            ]
          },
          "metadata": {
            "operationMetadataId": "9104a503-2a30-487c-80da-3ca90e75d00b"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}