Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/PopulateStatutorySewerageconsultationRequestFailur-AD4F016B-4D3C-EE11-BDF4-6045BDF1EA4D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e6383e92-dbf7-433c-9749-faf8c4ce2c5d"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrollifecycle",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_sewerageconsultationrequestdate"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Set_Failure_Date_field": {
          "runAfter": {
            "Clear_Failure_Date_field_(otherwise_keeps_adding_21_every_time_it's_changed)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bb1425af-ef56-421a-9688-fd2ae5ab3a01"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingcontrollifecycles",
              "recordId": "@triggerOutputs()?['body/bsr_buildingcontrollifecycleid']",
              "item/bsr_statsewerconsultfailuredate": "@addDays(variables('sewerageReqDate'), 21, 'MM/dd/yyyy')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "623b728b-bf29-409e-8daf-96588f2ffde6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sewerageReqDate",
                "type": "string",
                "value": "@{addDays(triggerBody()['bsr_sewerageconsultationrequestdate'], 0)}"
              }
            ]
          }
        },
        "Clear_Failure_Date_field_(otherwise_keeps_adding_21_every_time_it's_changed)": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c1f5b852-daf0-4142-b9ea-0ccf005495f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingcontrollifecycles",
              "recordId": "@triggerOutputs()?['body/bsr_buildingcontrollifecycleid']",
              "item/bsr_statsewerconsultfailuredate": "@null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}