Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/SetPrincipalContractorWhenChangeofPrincipalContrac-32BA05D6-BB45-EE11-BE6E-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Building_Control_Application_row_is_modified": {
          "metadata": {
            "operationMetadataId": "f020183f-507a-4c4e-ae1e-89f7b4d2407e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_princcontractchangedate"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7928d29e-0b12-4045-9ca6-2bdce0b788fe"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_buildingcontrolapplications",
                  "recordId": "@triggerOutputs()?['body/bsr_buildingcontrolapplicationid']",
                  "item/bsr_isprincipalcontractorcontactvalidated": false,
                  "item/bsr_isprincipalcontractororgvalidated": false
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe6a4318-112d-45d2-9f1c-79a05af08c68"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fb98bf59-acb6-436b-8fb8-bbd17fb9ae64"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DateUpdate",
                "value": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "14d1719e-25db-43de-8162-aab984481f27"
          },
          "type": "Scope"
        },
        "Finally": {
          "actions": {},
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Skipped"
            ]
          },
          "metadata": {
            "operationMetadataId": "eead3ae9-389c-4e8d-b4ce-b00b7612ef77"
          },
          "type": "Scope"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "07e7ff5d-88d1-4f7e-99f9-2bee4a7e3924"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DateUpdate",
                "type": "string",
                "value": "Success"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}