Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/SetStagedApplicationDurationsSubmissionDatewhenBCA-CF7752ED-5458-EE11-BE6F-6045BDD2C0C0.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "eaf71d78-20bf-4a8b-8af5-0f914c76fadd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "bsr_buildingcontrolapplication",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_buildingcontrolapplicationstatus",
              "subscriptionRequest/filterexpression": "bsr_buildingcontrolapplicationstatus eq 760810001"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "61391a5d-477c-421a-8f63-f622a89c76d0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_stagedapplicationsdurationses",
              "$filter": "_bsr_buildingcontrolapplicationid_value\teq @{triggerOutputs()?['body/bsr_buildingcontrolapplicationid']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ff9c0f37-8604-420b-b209-7044c7dc07f7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_stagedapplicationsdurationses",
                  "recordId": "@items('Apply_to_each')?['bsr_stagedapplicationsdurationsid']",
                  "item/bsr_submissiondate": "@triggerOutputs()?['body/bsr_submissiondate']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a0086cf-d8bc-433c-a787-a57321c82fd6"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}