Customization/WS2/Unmanaged/BuildingControlProcesses/Workflows/SettheTasksRatefieldonpopulationofTaskAssignedTo-57863141-3543-EE11-BDF3-6045BDF1EA4D.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Task_row_is_added,_modified": {
          "metadata": {
            "operationMetadataId": "6a41ab72-4750-4320-90a1-284ae9f028df"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_mdtmemberid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('List_rows_from_MDT_Member')?['body/value']",
              "actions": {
                "Update_Task_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ca21e61b-98af-4f28-b09a-d22cb431f1db"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "recordId": "@triggerOutputs()?['body/activityid']",
                      "item/bsr_rate": "@items('Apply_to_each')?['bsr_rate']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows_from_MDT_Member": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6127fc95-b829-4655-8371-47f543e747b3"
              },
              "type": "Foreach"
            },
            "List_rows_from_MDT_Member": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6a6f6676-e647-4bef-bcd5-f5a6377c2ba1"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "bsr_mdtmembers",
                  "$filter": "_bsr_contact_value eq @{triggerOutputs()?['body/_bsr_mdtmemberid_value']} and _bsr_mdtproject_value eq @{triggerOutputs()?['body/_regardingobjectid_value']}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_bsr_mdtmemberid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9fe60aaa-29c6-42e5-9162-aad0e97d1614"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}