Customization/WS3/Managed/BuildingProfessionProcesses/Workflows/AutopoulateNamefieldforBIRegistrationCountry-2B12DB6D-AD24-EE11-9965-0022481B56D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "02648909-16c8-44a4-9bba-1ff703fa23c9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_biregcountry",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_countryid, bsr_biapplicationid,bsr_buildinginspectorid, bsr_account"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_Country_row_by_ID": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5c8b47c-4b0e-46fc-991c-4ea018306842"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_countries",
              "recordId": "@triggerOutputs()?['body/_bsr_countryid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_the_BI_Registration_Country_name_row": {
          "runAfter": {
            "Get_a_Country_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e66dc379-3625-4079-a62a-dca1ff657309"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_biregcountries",
              "recordId": "@triggerOutputs()?['body/bsr_biregcountryid']",
              "item/bsr_name": "@{outputs('Get_a_Building_Profession_Application_row_by_ID')?['body/bsr_buildingproappid']}: @{variables('varApplicantOrBusinessName')}: @{outputs('Get_a_Country_row_by_ID')?['body/bsr_name']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_-_Is_it_a_BI_Application": {
          "actions": {
            "Get_a_Contact_row_by_ID": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "248ede78-2325-4072-8a41-cc256f0e0a65"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_bsr_buildinginspectorid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_varApplicantOrBusinessName_to_Contact": {
              "runAfter": {
                "Get_a_Contact_row_by_ID": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a743530-1f9c-417d-9b78-1dbe55c9b2e4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varApplicantOrBusinessName",
                "value": "@outputs('Get_a_Contact_row_by_ID')?['body/fullname']"
              }
            }
          },
          "runAfter": {
            "Get_a_Building_Profession_Application_row_by_ID": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_a_Account_row_by_ID": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "61f872ac-322a-46a9-b9ef-4e88f7995132"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "accounts",
                    "recordId": "@triggerOutputs()?['body/_bsr_account_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_varApplicantOrBusinessName_to_Account": {
                "runAfter": {
                  "Get_a_Account_row_by_ID": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6826742e-fe6a-4e4c-8f29-c387b6b0c01d"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "varApplicantOrBusinessName",
                  "value": "@outputs('Get_a_Account_row_by_ID')?['body/name']"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_a_Building_Profession_Application_row_by_ID')?['body/bsr_buildingprofessiontypecode']",
              760810000
            ]
          },
          "metadata": {
            "operationMetadataId": "896a6fbe-af03-48e8-88e7-c42069f0442c"
          },
          "type": "If"
        },
        "Initialize_varApplicantOrBusinessName": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "157d75be-5f8c-423e-8502-a978cdcae3f9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varApplicantOrBusinessName",
                "type": "string"
              }
            ]
          }
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "Condition_-_Is_it_a_BI_Application": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "",
              ""
            ]
          },
          "metadata": {
            "operationMetadataId": "896a6fbe-af03-48e8-88e7-c42069f0442c"
          },
          "type": "If"
        },
        "Get_a_Building_Profession_Application_row_by_ID": {
          "runAfter": {
            "Initialize_varApplicantOrBusinessName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bb55c880-8a9f-4b9c-82e9-b9bbb2d7524a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingprofessionapplications",
              "recordId": "@triggerOutputs()?['body/_bsr_biapplicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}