Customization/WS3/Managed/BuildingProfessionProcesses/Workflows/AutopopulateNamefieldforBIRegistrationClass-895B6BDE-5B25-EE11-9965-0022481B5210.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "aa529937-9da6-46e9-8382-b33eea66c7d7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "bsr_biregclass",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "bsr_biclassid, bsr_biapplicationid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_Building_Profession_Application_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bb55c880-8a9f-4b9c-82e9-b9bbb2d7524a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_buildingprofessionapplications",
              "recordId": "@triggerOutputs()?['body/_bsr_biapplicationid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_BI_Class_row_by_ID": {
          "runAfter": {
            "Get_a_Building_Profession_Application_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb2bff28-1033-4513-a609-7ce49f2e6e33"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_biclasses",
              "recordId": "@triggerOutputs()?['body/_bsr_biclassid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_the_BI_Reg_Class_row_Name": {
          "runAfter": {
            "Get_a_BI_Class_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18fd8152-eb26-4ec9-b785-d303881bf96f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_biregclasses",
              "recordId": "@triggerOutputs()?['body/bsr_biregclassid']",
              "item/bsr_name": "@{outputs('Get_a_Building_Profession_Application_row_by_ID')?['body/bsr_name']}: @{outputs('Get_a_BI_Class_row_by_ID')?['body/bsr_name']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}