Customization/WS3/Managed/BuildingProfessionProcesses/Workflows/AutopopulateNamefieldforBIEmploymentDetail-152CB1E4-0D32-EE11-BDF3-0022481B5210.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_sharedcommondataserviceforapps_1f74f"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_BI_Employment_detail_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "40b8dc2e-df01-497c-a3cc-19a1ab7cb601"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "bsr_biemploymentdetail",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_Contact_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dded13be-a27d-4d1f-ae85-e239b8871a09"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_bsr_buildinginspectorid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_Account_row_by_ID": {
          "runAfter": {
            "Get_a_Contact_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "67b72150-80e9-455c-b632-dafcafe128eb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/_bsr_employerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_the_BI_Employment_Detail_Name_field": {
          "runAfter": {
            "Get_a_Account_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93510485-b747-48e8-8bfa-b16148c14cb3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_biemploymentdetails",
              "recordId": "@triggerOutputs()?['body/bsr_biemploymentdetailid']",
              "item/bsr_name": "Application: @{outputs('Get_a_Contact_row_by_ID')?['body/fullname']} Employment - @{outputs('Get_a_Account_row_by_ID')?['body/name']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}