Customization/WS3/Managed/BuildingProfessionProcesses/Workflows/CreateBPABSRDocumentForUploadedFiles-FFFE199D-D93D-EE11-BDF4-0022481B5210.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_DataverseApplicationUserWS3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bsr_SharePointWS3"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SharePoint BPA Folder ID (bsr_sharepointbpafolderid)": {
          "defaultValue": "da7f221b-4b37-4155-92eb-c1b62e0fd6f3",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointbpafolderid"
          }
        },
        "SharePoint Site URL (bsr_sharepointsiteurl)": {
          "defaultValue": "https://hsegov.sharepoint.com/sites/bsr-ws3-dev",
          "type": "String",
          "metadata": {
            "schemaName": "bsr_sharepointsiteurl"
          }
        }
      },
      "triggers": {
        "When_a_file_is_created_(properties_only)": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "7786c568-ba59-435d-9f07-6e5f978fae52"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnNewFileItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('SharePoint Site URL (bsr_sharepointsiteurl)')",
              "table": "@parameters('SharePoint BPA Folder ID (bsr_sharepointbpafolderid)')"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerOutputs()?['body/{IsFolder}'],false)"
            }
          ]
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "97e151d3-1f7d-4fa8-be9c-9fce4d66cbe6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bsr_bsrdocuments",
              "$filter": "bsr_sharepointfileid eq '@{triggerOutputs()?['body/ID']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ae2903b2-1499-4698-be84-a3d955cf25a4"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/{Path}']"
            },
            "Compose_2": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1e113a29-739b-445a-9397-de1d21319081"
              },
              "type": "Compose",
              "inputs": "@split(split(outputs('Compose'), '/')[1], '/')[0]"
            },
            "List_rows_2": {
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "294d8ab4-685f-4de7-9936-88dd93eb0bf3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "sharepointdocumentlocations",
                  "$filter": "relativeurl eq '@{outputs('Compose_2')}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_rows_2')?['body/value']",
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a1725a02-3427-48f7-8917-903ae8f35f3d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "bsr_bsrdocuments",
                      "item/subject": "@triggerOutputs()?['body/{FilenameWithExtension}']",
                      "item/bsr_documentlocationcode": 760810000,
                      "item/bsr_bsrdocumentorigincode": 760810001,
                      "item/regardingobjectid_bsr_buildingprofessionapplication_bsr_bsrdocument@odata.bind": "/bsr_buildingprofessionapplications/@{items('Apply_to_each')?['_regardingobjectid_value']}",
                      "item/bsr_sharepointfileid": "@triggerOutputs()?['body/ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_rows_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4bd9390b-8ff4-4532-9325-9c53b58bb458"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "expression": {
            "less": [
              "@length(outputs('List_rows')?['body/value'])",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "f7f65566-1458-4578-9cfa-4b82eebd54dd"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}